
// @import '../govuk-frontend/src/govuk/settings/_all.scss';
// src/govuk-frontend_3-10-0/govuk/settings/_all.scss
// the above is pointing to another random ass folder somewhere in my own file system the old stuff needs to go to _3-10-0 folder
// @import '../../govuk-frontend_3-10-0/govuk/settings/_all.scss';
@import '../../_govuk/settings/all';



// @import '../../../../node_modules/govuk-frontend/settings/all';

@import './variables';
@import './mixins/mixins';
@import './custom/custom-with-bulma';
// @import './modules/modules';

// @media only screen and (max-width: 768px)  {
$mobile-spacing: 12px;
@media only screen and (max-width: 1024px)  {
  .columns {
    padding-left: $mobile-spacing;
    padding-right: $mobile-spacing;
  }
}
