{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Prototypes Index' %}

{% set listItemsWIP = [
  { text: 'Item one', url: '#' },
  ] %}

  {% set listItemsFinal = [
  { text: 'Item two', url: '#' },
] %}

{% block content %}

  {{ components.pageHeading('Prototypes', ' Front-End') }}
  {{ components.paragraph(text="Prototypes", lead='true', limitWidth=true)}}

  {% call components.gridRow() %}

    {% call components.columnHalf() %}

      {{ components.heading(text='Work in progress', tag='h3', size='medium') }}

      {{ components.list(items=listItemsWIP, type='bullet')}}

    {%- endcall %}

    {% call components.columnHalf() %}

      {{ components.heading(text='Production ready', tag='h3', size='medium') }}

      {{ components.list(items=listItemsFinal, type='bullet')}}

    {%- endcall %}

  {%- endcall %}

{% endblock %}
