{% extends 'layouts/default-gds.layout.njk' %}

{% set pageTitle = allDataConst.serviceName %}

{% set hideLayoutPhaseBanner = true %}
{% set hideTopLevelNav = true %}
{% set  serviceName = 'Space travel service' %}
{% set  serviceURL = '/prototypes/gds-test/start' %}


{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.captionHeading(text=allDataConst.serviceName) }}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnHalf() %}

            <p class="__govuk-body govuk-body-lead">Before you can begin your application for evacuation from planet Earth, we need to collect some information.</p>

            <p class="govuk-body">Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. </p>

            <p class="govuk-body">

            <a href="/prototypes/gds-test/name" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>

            </p>


        {%- endcall %}

    {%- endcall %}



{% endblock %}
