.big-numbers {
  display: flex;

  &__biggy {
    max-width: 270px;
    margin-left: 40px;
    // border:1px solid lime;
  }

  &__biggy:first-of-type {
    margin-left: 0;  }

  &__title {
    @include govuk-font($size: 19, $weight: bold);
    min-height: 50px;
  }

  &__number {
    @include govuk-font($size: 36);
  }
}

@include touch {
  .big-numbers {
    display: block;

    &__biggy {
      max-width:100%;
      margin-left: 0;
    }

    &__title {
      min-height: auto;
    }

    &__number {
      @include govuk-font($size: 24);
    }
  }
}
