.big-numbers {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  justify-content: flex-start;

  &__biggy {
    flex: 1 1 0px;
    max-width: 270px;
    margin-right: 20px;
  }

  &__title {
    @include govuk-font($size: 19, $weight: bold);
    min-height: 50px;
  }

  &__number {
    @include govuk-font($size: 36);
  }
}

@include touch {
  .big-numbers {
    display: block;


    &__biggy {
      max-width:100%;
      margin-bottom: 20px;
    }

    &__title {
      min-height: auto;
    }

    &__number {
      @include govuk-font($size: 24);
    }
  }
}
