.js-only,
.js-only--block,
.js-only--inline {
  display: none !important;
}

.js-enabled {
  .js-hidden {
    display: none;
  }

  .js-only,
  .js-only--inline {
    display: inline-block !important;
  }

  .js-only--block {
    display: block !important;
  }
}

// toggle switch with arrow
%toggle-switch {
  position: relative;
  display: block;
  margin-left: 24px;

  &:before {
    position: absolute;
    left: -24px;
    top: 0;
    content: '\25BA';
  }
}

.toggle-switch {
  @extend  %toggle-switch;
}

.toggle-switch--open {
  @extend  %toggle-switch;

  &:before {
    content: '\25BC';
  }
}

.danger-text {
  color: govuk-colour("red");
}

.section-break {

  &--feather {
    margin: 40px 0;
  }

  &--light {
    border-top: 1px solid govuk-colour("black");
    margin: 20px 0;
  }

  &--hardcore {
    border-top: 2px solid govuk-colour("black");
    margin: 40px 0;
  }

  &--table {
    border-top: 1px solid govuk-colour("mid-grey");
    margin: 0 0;
  }
}

.red-text {
  color: govuk-colour("red");
}


.boxed-content {
  padding: 10px;
  border-top: 1px solid govuk-colour("mid-grey");
  border-bottom: 1px solid govuk-colour("mid-grey");
  background-color: lighten(govuk-colour("mid-grey"), 20%);
}


.govuk-details--boxed {
  border:1px solid govuk-colour("mid-grey");
  padding: 10px 20px 5px;

  .govuk-details__text {
    padding: 15px;
    padding-left: 0;
    border-left: none;
  }
}



.govuk-summary-list--narrow {
  .govuk-summary-list__actions {
    width: 10%;
  }

}

.blob {
  display: inline-block;
  font-weight: 400;
  font-size: 12px!important;
  font-size: 0.75rem;
  line-height: 1.25;
  padding:2px 4px;
  border: 1px solid govuk-colour("light-grey");
  border-radius: 4px;
  margin-bottom: 2px;
}

.button--info {
  background-color: govuk-colour("blue");
}


// Filter mini radios
.filter__list.govuk-radios--small {

  .govuk-radios__label {
    padding-top:13px!important;
    padding-left: 10px;
  }

  .govuk-radios__label:before {
    top: 11px!important;
    width: 24px;
    height: 24px;
    left: 8px;
  }

  .govuk-radios__label:after {
    top: 18px;
    left: 15px;
  }
}

@media (min-width: 40.0625em) {
  .govuk-checkboxes--small .govuk-checkboxes__label {
    padding: 7px 15px 10px 1px;
    float: none;
  }
}


.govuk-accordion__section-heading {
  position: relative;
}
.accordion-totals {
  position:absolute;
  top: 10px;
  right: 100px;

  &__label {
    @include govuk-font($size: 19, $weight: bold);
    color: govuk-colour("black")!important;
  }

  &__input {
    @include govuk-font($size: 24);
  }

  &--display {
   top:15px;
  }

  &__big-text {
    @include govuk-font($size: 24, $weight: normal);
    color: govuk-colour("black")!important;
  }

}

.big-input {
  font-size: 36px;
  border: none;
  outline: none;
  display: inline;
  max-width: 90%;
  margin:0;
  padding: 0;
}

.big-pound{
  font-size: 36px;
  display: inline-block;
  float:left;
  width:25px;
}

details {
  max-width: 600px;
}
.govuk-accordion__section-header--costs {
  background-color: #f1f1f1;
  padding-left:10px;
}


.ra-items {
  @include govuk-font($size: 16, $weight: normal);

  span {
    display: block;
  }

  a span {
    display: none!important;
  }
}


// vertical table
.vt {

  a {
    display: block;
    margin: 4px 0 0 0;
  }

  &__prime {
    font-weight: bold;
    display: block;
  }

  @include mobile {

    &__prime {
      font-weight: normal;
      position: relative;
      padding-top: 20px;

      &:before {
        position: absolute;
        @include govuk-font($size: 19, $weight: bold);
        top:-2px;
        left:0;
        content:attr(data-label);
      }
    }

    th {
      display: none;
    }
    td {
      display: block;
      border-bottom: 0;

      &:last-of-type {
        border-bottom: 1px solid govuk-colour("mid-grey");
        margin-bottom: 10px;
      }
    }

    a {
      display: inline-block;
      margin: 0 14px 0 0;

      &:first-of-type {
        border-right: 1px solid govuk-colour("mid-grey");
        padding-right: 20px;
      }
    }
  }
}


.title-link {
  position: relative;

  a {
    position: absolute;
    right:0;
    top:2px;
  }

}
