$colour: ufs-colour("midnight");
$hover-colour: #B938BC;
$alt-colour: #7558C9;

.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

// nav {
.nav-bar__wrapper {
  position:absolute;
  right: 0;
  top: 0;

}
.nav-bar {
  float: right;
  margin-left: 2px;
  background-color: $colour;
  display: grid;
  // place-items: left;

  &__list {
  // > ul {
    grid-auto-flow: column;

    > li {
      // margin: 0 0.5rem;

      a,
      .dropdown__title {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        color: govuk-colour("white");
        @include govuk-font($size: 16);

        &:focus {
          outline: none;
        }
      }

      > a,
      .dropdown__title {
        padding: 11px 12px 8px;

        &:hover,
        &:focus {
          // background-color: $hover-colour;
          background-color: $alt-colour;
        }
      }

      .dropdown__title {
        padding-right: 28px;

        &:after {
          display: block;
          position: absolute;
          right: 10px;
          top: 16px;
          font-size: 8px;
          content:"\25BC";
          color: govuk-colour("white");
        }
      }
    }
  }

  // ul {
  .dropdown__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    li {
      padding: 0;
    }
  }
}

.dropdown {
  position: relative;

  .dropdown__title {
    display: inline-flex;
    align-items: flex-start;
  }

  .dropdown__menu {
    position: absolute;
    min-width: 20ch;
    top: calc(100% - 0.25rem);
    visibility: hidden;
    padding: 0;

    a {
      color: govuk-colour("white");
      background-color: $colour;
      display: block;
      padding: 0.5em;
      opacity: 0;
      text-align: left;
      border-top:1px solid govuk-colour("white");

      &:hover {
        // background-color: $hover-colour;
        // box-shadow: inset 0 0 2px 2px rgba(0,0,0,1);
        // box-shadow: inset 0 0 1px 2px rgba($alt-colour, 1);
        // box-shadow: inset 0 0 5px lime, 0 0 5px black;
        background-color: $alt-colour;
        // box-shadow: inset 0 0 0 1ex $colour, inset 0 0 1px 1ex #FFF;
      }

      &:focus {
        outline: none;
        // background-color: $hover-colour;
        background-color: $alt-colour;
      }

    }
  }

  &:hover,
  &:focus-within {
    .dropdown__title {
      // border-top-color: fuschia;
    }

    .dropdown__menu {
      opacity: 1;
      visibility: visible;

      a {
        opacity: 1;
      }
    }

    &:after {
      opacity: 1;
    }
  }

  &__link--active {
    @include govuk-font($size:16, $weight: bold);
  }
}

@include touch {
  .nav-wrapper {
    // display: none;
  }
}

@include mobile {
  .nav-wrapper {
    display: none;
  }
}
