.rel-box {

  margin-top: 20px;
  padding: 20px;
  color: govuk-colour("white");

  * {
    color: govuk-colour("white");
  }

  .govuk-link {
    color: govuk-colour("white")!important;

    &:focus {
      color: govuk-colour("black")!important;
    }

    &:hover {
      /*text-decoration: none;*/
      color: govuk-colour("black")!important;
    }
  }

  .govuk-list {
    margin-bottom: 0;
  }

  &--external {
    background-color: ufs-colour("dark-purple");
    background-image: url("/images/ufs/green-swirl-top3.png");
    background-position: bottom right;
    background-repeat: no-repeat;

    &:last-of-type {
      background-image: url("/images/ufs/green-swirl-bottom3.png");
    }
  }

}
