.timeline {

  &__list {
    margin-left: 45px;
  }

  &__title {
    display: block;
    @include govuk-font($size: 24, $weight: bold);

    border-top: 1px solid govuk-colour("mid-grey");
    padding-top:12px;

    &:first-of-type {

    }
  }

  &__item {
    padding-bottom: 12px;
    position: relative;

    /*margin-bottom: 10px;*/
    /*padding-top: 12px;*/

    &:before {
      position: absolute;
      left: -45px;
      top: 12px;
      content: "";
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 4px solid govuk-colour("blue");
      background-color: govuk-colour("white");
      z-index: 100;
    }

    &:after {
      position: absolute;
      left: -32px;
      top: 12px;
      content: "";
      width: 4px;
      height: 100%;
      background-color: govuk-colour("blue");
      z-index: 10;
    }

    &:last-of-type {
      &:after {
        background-color: govuk-colour("white");
      }
    }

    &:first-of-type {

      .timeline__title {
        // background-color: lime;
        border-top:none;
      }
    }

    .govuk-tag {
      position: absolute;
      right:0;
      top:12px;
    }

    &--active {
      .timeline__title {
        color: govuk-colour("blue");
      }
    }

    &--live {
      .timeline__title {
        color: govuk-colour("black");
      }
    }

    &--inactive {

      &:before {
       border: 4px solid govuk-colour("mid-grey");
      }

      &:after {
        background-color: govuk-colour("mid-grey");
      }

      .timeline__title {
        color: govuk-colour("dark-grey");
      }

      .timeline__meta {
        color: govuk-colour("dark-grey");
      }
    }
  }

  &__meta {
    display: block;
    @include govuk-font($size: 19);
  }
}
