.colours {
  position: relative;
  margin-bottom: 45px;

  &--split {
    .colour {
      width: 40%;
      float: left;

    }
  }
}

.colour {
  position: relative;
  margin-bottom: 20px;
  height: 32px;
  padding-top: 4px;
  padding-left: 45px;

  &__blob {
    position: absolute;
    left: 0;
    top:0;
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }

  &__text {


  }

}
