
{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'home' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/post-decision/home' %}
{% set awardsLink = '/prototypes/post-decision/awards' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}

{% set pageTitle = 'Home' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set prototypeData = prototypeData if prototypeData %}
{% set savedSession = savedSession if savedSession %}
{% set userName = prototypeData.userName %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Award change requests ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/change-request/award-overview', text:'Back to award overview'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Award change requests', caption=prototypeData.awardName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-9') %}

            <table class="govuk-table">
                <thead>
                    <tr class="govuk-table__header">
                        <th class="govuk-table__header">Change type</th>
                        <th class="govuk-table__header">Requested by</th>
                        <th class="govuk-table__header">Organisation</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="govuk-table__cell">
                            <a href="/prototypes/change-request/change-request-detail{% if allData.crStatus %}?crStatus={{ allData.crStatus }}{% endif %}" class="govuk-link">{{ savedSession.requestType }}</a>
                            {#<p class="govuk-body u-space-y0">
                                <span class="meta">{{ 'dataAndTime' | dateAndTime() }}</span>
                            </p>#}
                        </td>
                        <td class="govuk-table__cell">
                            {{ prototypeData.userName }}
                            <br> <span class="meta govuk-!-font-size-16">on {{ savedSession.createdTimeAndDate }}{#{{ 'dataAndTime' | dateAndTime() }}#}</span>
                        </td>
                        <td class="govuk-table__cell">
                            University of Wales
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">

                            {% if allData.crStatus == 'accepted' %}
                                <strong class="govuk-tag govuk-tag--green">Accepted</strong>
                            {% elseif allData.crStatus == 'rejected' %}
                                <strong class="govuk-tag govuk-tag--red">Rejected</strong>
                            {% else %}
                                <strong class="govuk-tag govuk-tag--grey">In progress</strong>
                            {% endif %}

                        </td>
                    </tr>
                </tbody>
            </table>

        {%- endcall %}

    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

