{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'home' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/post-decision/home' %}
{% set awardsLink = '/prototypes/post-decision/awards' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}

{% set pageTitle = 'Home' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set prototypeData = prototypeData if prototypeData %}
{% set userName = prototypeData.userName %}
{% set savedSession = savedSession if savedSession %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Awards ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/post-decision/home', text:'Back to home'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Awards', caption=allData.organisation) }}
        {%- endcall %}
    {%- endcall %}

    {#{% call components.bulmaRow(extraClass='u-space-y0') %}
        {% call components.bulmaColumnAny(size='is-3 is-offset-3') %}
            <p class="govuk-body _u-space-y0">Showing <strong>13</strong> awards</p>
        {%- endcall %}
    {%- endcall %}#}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-9') %}

            <form action="#" method="get" role="search">
                <div class="search">
                    <div class="govuk-form-group govuk-form-group--search">
                        <label class="govuk-label govuk-label--s" for="search">Search awards</label>
                        <span class="govuk-hint">Search by award reference, name or holder</span>
                        <input class="govuk-input govuk-input--width-20 search__input" id="search" name="event-name" type="text" placeholder="Search awards">
                        <button type="submit" class="govuk-button {#search__submit#}">Search</button>
                    </div>
                </div>
            </form>

            {#<p class="govuk-body">
                Showing <strong>8</strong> Opportunities filtered by <strong>MRC</strong> in award set-up
            </p>#}

        {%- endcall %}
    {%- endcall %}

    {#{% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            <div class="responsive-table">

                <p class="govuk-body u-space-t10">Showing <strong>8</strong> of <strong>8</strong> awards sorted by "<strong>Task</strong>"</p>

                <table class="govuk-table mega-table responsive-table__table">
                    <thead>
                    <tr class="govuk-table__header">
                        <th class="govuk-table__header">Award name</th>

                        <th class="govuk-table__header">Award<br>holder</th>
                        <th class="govuk-table__header">Funding<br>body</th>
                        #}{#<th class="govuk-table__header govuk-table__header--numeric">Award<br>amount</th>#}{#
                        <th class="govuk-table__header govuk-table__header--numeric">Start<br>date</th>
                        <th class="govuk-table__header govuk-table__header--numeric">End<br>date</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Award<br>status</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Task</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="mega-table_row-status--">
                        <td class="govuk-table__cell mega-table__cell--fixed"><a href="/prototypes/change-request/award-overview" class="govuk-link">{{ prototypeData.awardName }}</a></td>
                        <td class="govuk-table__cell">Dr. Alicia Brook</td>
                        <td class="govuk-table__cell">MRC</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">21 Nov 2021</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">30 Oct 2023</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <span class="_mega-table_item-meta">Active</span>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">

                            #}{#{% if savedSession.requestSubmitted %}
                                <strong class="govuk-tag govuk-tag--red">Attention</strong>
                            {% else %}
                                &nbsp;
                            {% endif %}#}{#
                            {% if allData.crStatus == 'accepted' %}
                                <strong class="govuk-tag govuk-tag--red">Attention</strong>
                            {% elseif allData.crStatus == 'rejected' %}
                                <strong class="govuk-tag govuk-tag--red">Attention</strong>
                            {% elseif savedSession.requestSubmitted %}
                                <strong class="govuk-tag govuk-tag--yellow">Waiting on</strong>
                            {% endif %}
                        </td>
                    </tr>

                    {% set length = 6 %}
                    {% for item in allData.megaDataApplications %}
                        {% if loop.index < 8 %}
                        <tr class="mega-table_row-status--">
                            <td class="govuk-table__cell mega-table__cell--fixed"><a href="{% if item.awardURL %}{{ item.awardURL }}{% else %}#{% endif %}" class="govuk-link">AWA{{ item.id }} - {{ item.name }}</a></td>
                            <td class="govuk-table__cell">{{ 'addHonorific' | giveMeAName }}</td>
                            <td class="govuk-table__cell">{{ item.funder }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 31) | random }} Jan 2022</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 31) | random }} Dec 2024</td>
                            #}{#<td class="govuk-table__cell govuk-table__cell--numeric">
                                {% if item.awardAmount %}
                                    £{{ item.awardAmount }}
                                {% else %}
                                    £{{ range(100, 1000) | random | numberFormat }},000
                                {% endif %}
                            </td>#}{#
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <span class="_mega-table_item-meta">
                                    {{ item.altStatus }}
                                </span>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                #}{#{{ item.altTask }}#}{#
                                {% if item.altTask == 'Information' %}
                                    <strong class="govuk-tag govuk-tag--blue">{{ item.altTask }}</strong>
                                {% endif %}
                                {% if item.altTask == 'Waiting on' %}
                                    <strong class="govuk-tag govuk-tag--yellow">{{ item.altTask }}</strong>
                                {% endif %}
                                {% if item.altTask == 'Attention' %}
                                    <strong class="govuk-tag govuk-tag--red">{{ item.altTask }}</strong>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            #}{#{{ components.pagination(totalItems=46,currentPage=2) }}#}{#
            #}{#{{ components.pagination(totalItems=99,itemsPerPage=10,currentPage=4) }}#}{#

        {%- endcall %}

    {%- endcall %}#}


    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            <div class="responsive-table">
                <p class="govuk-body u-space-t10">Showing <strong>8</strong> of <strong>8</strong> awards sorted by "<strong>Task</strong>"</p>


            <table class="govuk-table mega-table responsive-table__table">
                <thead>
                <tr class="govuk-table__header">
                    <th class="govuk-table__header">Award name</th>
                    <th class="govuk-table__header">Award<br>
                        holder</th>
                    <th class="govuk-table__header">Funding<br>
                        body</th>
                    <th class="govuk-table__header govuk-table__header--numeric">Start<br>
                        date</th>
                    <th class="govuk-table__header govuk-table__header--numeric">End<br>
                        date</th>
                    <th class="govuk-table__header govuk-table__header--numeric">Award<br>
                        status</th>
                    <th class="govuk-table__header govuk-table__header--numeric">Task</th>
                </tr>
                </thead>
                <tbody>
                <tr class="mega-table_row-status--">
                    <td class="govuk-table__cell mega-table__cell--fixed">
                        <a class="govuk-link" href="#">AWA417 - Dimensional transmogrification methodology in domesticated urban felines.</a>
                    </td>
                    <td class="govuk-table__cell">Dr. Rhyon Merritt</td>
                    <td class="govuk-table__cell">NERC</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">24 Jan 2022</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">25 Jan 2024</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span class="_mega-table_item-meta">Active</span></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--red">Attention</strong></td>
                </tr>
                <tr class="mega-table_row-status--">
                    <td class="govuk-table__cell mega-table__cell--fixed">
                        <a class="govuk-link" href="#">AWA204 - Recovery strategies from pollution in freshwater ecosystems</a>
                    </td>
                    <td class="govuk-table__cell">Prof. Urban Becker</td>
                    <td class="govuk-table__cell">NERC</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">11 Jan 2022</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">1 Feb 2024</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span class="_mega-table_item-meta">Active</span></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--yellow">Waiting on</strong></td>
                </tr>
                {% if savedSession.requestSubmitted %}
                    <tr class="mega-table_row-status--">
                        <td class="govuk-table__cell mega-table__cell--fixed">
                            <a class="govuk-link" href="/prototypes/change-request/award-overview">AWA184: Environmental research grants 2022</a>
                        </td>
                        <td class="govuk-table__cell">Dr. Alicia Brook</td>
                        <td class="govuk-table__cell">MRC</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">21 Nov 2021</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">30 Oct 2023</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><span class="_mega-table_item-meta">Active</span></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <strong class="govuk-tag govuk-tag--yellow">Waiting on</strong>
                        </td>
                    </tr>
                {% endif %}
                <tr class="mega-table_row-status--">
                    <td class="govuk-table__cell mega-table__cell--fixed">
                        <a class="govuk-link" href="#">AWA124 - Viral pandemic: distributed societal issues and news shaping</a>
                    </td>
                    <td class="govuk-table__cell">Rayane Hudson</td>
                    <td class="govuk-table__cell">MRC</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">3 Jan 2022</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">7 Mar 2024</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span class="_mega-table_item-meta">Announced</span></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--blue">Information</strong></td>
                </tr>
                {% if not savedSession.requestSubmitted %}
                <tr class="mega-table_row-status--">
                    <td class="govuk-table__cell mega-table__cell--fixed">
                        <a class="govuk-link" href="/prototypes/change-request/award-overview">AWA184: Environmental research grants 2022</a>
                    </td>
                    <td class="govuk-table__cell">Dr. Alicia Brook</td>
                    <td class="govuk-table__cell">MRC</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">21 Nov 2021</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">30 Oct 2023</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span class="_mega-table_item-meta">Active</span></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                </tr>
                {% endif %}
                <tr class="mega-table_row-status--">
                    <td class="govuk-table__cell mega-table__cell--fixed">
                        <a class="govuk-link" href="#">AWA29 - Culture wars of early naughties Part II</a>
                    </td>
                    <td class="govuk-table__cell">Prof. Fletcher Lee</td>
                    <td class="govuk-table__cell">MRC</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">7 Jan 2022</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">16 Apr 2024</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span class="_mega-table_item-meta">Active</span></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                </tr>
                <tr class="mega-table_row-status--">
                    <td class="govuk-table__cell mega-table__cell--fixed">
                        <a class="govuk-link" href="#">AWA102 - Historical influences of macrodynamics in entomyphagy</a>
                    </td>
                    <td class="govuk-table__cell">Prof. Azzam Booth</td>
                    <td class="govuk-table__cell">ESPRC</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">1 Jan 2022</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">26 May 2024</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span class="_mega-table_item-meta">Active</span></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                </tr>


                <tr class="mega-table_row-status--">
                    <td class="govuk-table__cell mega-table__cell--fixed">
                        <a class="govuk-link" href="#">AWA398 - Effluent filtering in pre-treated brown water overflows</a>
                    </td>
                    <td class="govuk-table__cell">Prof. Kieran-Scott Bradley</td>
                    <td class="govuk-table__cell">NERC</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">12 Jan 2022</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">13 Jun 2024</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span class="_mega-table_item-meta">Active</span></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                </tr>
                <tr class="mega-table_row-status--">
                    <td class="govuk-table__cell mega-table__cell--fixed">
                        <a class="govuk-link" href="#">AWA401 - Jet propulsion systems in underwater environments</a>
                    </td>
                    <td class="govuk-table__cell">Prof. Mason Dudley</td>
                    <td class="govuk-table__cell">NERC</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">25 Jan 2022</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">6 July 2024</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span class="_mega-table_item-meta">Suspended</span></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                </tr>

                </tbody>
            </table>


            </div>

        {%- endcall %}

    {%- endcall %}


    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}
    <script>
        function toggleVisibility(_this, id, className) {
            // event.preventDefault();
            let toggleSwitch = _this;
            let toggleItem = document.getElementById(id);
            if (hasClass(toggleItem, className)) {
                toggleSwitch.classList.add('filter__title--closed');
                toggleItem.classList.remove(className);
                toggleSwitch.setAttribute('aria-expanded', true);
            }
            else  {
                toggleSwitch.classList.remove('filter__title--closed');
                toggleItem.classList.add(className);
                toggleSwitch.setAttribute('aria-expanded', false);
            }
            // return false;
        }
        function hasClass(target, className) {
            return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
        }
    </script>
{% endblock %}

