
{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'home' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/post-decision/home' %}
{% set awardsLink = '/prototypes/post-decision/awards' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}

{% set pageTitle = 'Change request' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set prototypeData = prototypeData if prototypeData %}
{% set savedSession = savedSession if savedSession %}
{% set userName = prototypeData.userName %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Awards ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/change-request/create', text:'Back to view and create award change request'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Change request status', caption=prototypeData.awardName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-9') %}

            <div class="timeline">
                <ul class="timeline__list">
                    <li class="timeline__item {% if allData.crStatus %}timeline__item--live{% else %}timeline__item--active{% endif %}">
                        <span class="timeline__title">Change request submitted</span>
                        <span class="timeline__meta">By Arden Pimenta, University of Wales, <span class="meta">{{ savedSession.createdTimeAndDate }}</span></span>
                        <p class="govuk-body u-space-t20 u-space-b0">
                            <strong>Type of change:</strong> {{ savedSession.requestType }}
                        </p>
                        <p class="govuk-body u-space-t20 u-space-b0">
                            <strong>Next steps</strong><br>
                            We'll send a request to UKRI to approve or decline the change request.
                        </p>
                        {#<strong class="govuk-tag govuk-tag--green">COMPLETE</strong>#}
                    </li>

                    {% if allData.crStatus == 'accepted' %}
                        <li class="timeline__item {% if allData.crStatus %}timeline__item--active{% else %}timeline__item--live{% endif %}">
                            <span class="timeline__title">Response from UKRI</span>
                            <span class="timeline__meta">MRC, UKRI</span>
                            <strong class="govuk-tag govuk-tag--green">Approved</strong>
                            <p class="govuk-body u-space-t20 u-space-b0">
                                <strong>Comment</strong><br>
                                We have received your change request and accepted the changes. There is no further action required and the payment schedule will be updated to reflect the new timelines. <br>Thanks, Sheila Biggins, MRC
                            </p>
                        </li>
                    {% elseif allData.crStatus == 'rejected' %}
                        <li class="timeline__item {% if allData.crStatus %}timeline__item--active{% else %}timeline__item--live{% endif %}">
                            <span class="timeline__title">Response from UKRI</span>
                            <strong class="govuk-tag govuk-tag--red">Declined</strong>
                            <p class="govuk-body u-space-t20 u-space-b0">
                                <strong>Comment</strong><br>
                                We have received your change request and cannot accept the changes. Please refer to the terms and conditions outlining this type of change - either submit a new change request which conforms to the Ts &amp; Cs in your award agreement (which I will happily accept) or continue with the project as is. There is no further action required on this change request and I have closed it, but please get in touch if you have any further queries.  <br>Thanks, Sheila Biggins, MRC
                            </p>
                        </li>
                    {% else %}
                        <li class="timeline__item timeline__item--live">
                            <span class="timeline__title">Response from UKRI</span>
                            <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
                        </li>
                    {% endif %}
                </ul>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

