
{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set accountSettingsLink = '' %}
{% set showExternalFurniture = false %}

{% set hideAccountLinks = true %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{% set loggedOut = false %}
{% set allData = allData if allData %}
{% set prototypeData = prototypeData if prototypeData %}
{% set savedSession = savedSession if savedSession %}

{% set userName = prototypeData.userName %}

{% set pageTitle = 'Change requests' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/change-request/award-overview', text:'Back to award overview'}] %}

{% block content %}
    {% if allData.crStatus == 'accepted' %}
        {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Accepted</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">{{ savedSession.requestType }} change request has been approved</p>
                <p class="govuk-body">The request has been approved and you do not need to take any further action.</p>
            </div>
        </div>
        {%- endcall %}
        {%- endcall %}

    {% elseif allData.crStatus == 'rejected' %}
        {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}

        <div class="govuk-notification-banner govuk-notification-banner--danger" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Rejected</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">{{ savedSession.requestType }} change request has been rejected</p>
                <p class="govuk-body">The request has been rejected. Please contact the funding council or UKRI if you require further information.</p>
            </div>
        </div>
        {%- endcall %}
        {%- endcall %}

    {% elseif savedSession.requestSubmitted %}
        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="govuk-notification-banner " role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">{{ savedSession.requestType }} change request in progress</p>
                        <p class="govuk-body">The request has been received and you will be contacted by the relevant council shortly.</p>
                    </div>
                </div>

            {%- endcall %}
        {%- endcall %}
    {% endif %}


    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Change requests', caption=prototypeData.awardName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='submitForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7') %}

                <p class="govuk-body">Awards change requests provides functionality for a Research Organisation or UKRI to submit a request to change an existing Award.</p>

                <div class="application-controls govuk-clearfix">
                    <button type="submit" class="govuk-button application-controls__submit" name="submitButton">Create award change request</button>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7') %}

                {{ components.captionHeading(text='Open change requests', size='s', tag='h2') }}

                {% if savedSession.requestSubmitted %}

                    <table class="govuk-table">
                        <thead>
                        <tr class="govuk-table__header">
                            <th class="govuk-table__header">Change type</th>
                            <th class="govuk-table__header">Requested by</th>
                            <th class="govuk-table__header">Organisation</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="govuk-table__cell">
                                <a href="/prototypes/change-request/change-request-detail{% if allData.crStatus %}?crStatus={{ allData.crStatus }}{% endif %}" class="govuk-link">{{ savedSession.requestType }}</a>

                            </td>
                            <td class="govuk-table__cell">
                                {{ prototypeData.userName }}
                                <br> <span class="meta govuk-!-font-size-16">on {{ savedSession.createdTimeAndDate }}{#{{ 'dataAndTime' | dateAndTime() }}#}</span>
                            </td>
                            <td class="govuk-table__cell">
                                University of Wales
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">

                                {% if allData.crStatus == 'accepted' %}
                                    <strong class="govuk-tag govuk-tag--green">Approved</strong>
                                {% elseif allData.crStatus == 'rejected' %}
                                    <strong class="govuk-tag govuk-tag--red">Rejected</strong>
                                {% else %}
                                    <strong class="govuk-tag govuk-tag--yellow">Waiting on</strong>
                                {% endif %}

                            </td>
                        </tr>
                        </tbody>
                    </table>

                {% else %}

                    <p class="govuk-body">There are currently no open change requests</p>

                {% endif %}





















            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7') %}

                {{ components.captionHeading(text='Previous change requests', size='s', tag='h2') }}

                <table class="govuk-table">
                    <thead>
                    <tr class="govuk-table__header">
                        <th class="govuk-table__header">Change type</th>
                        <th class="govuk-table__header">Requested by</th>
                        <th class="govuk-table__header">Organisation</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="govuk-table__cell">
                            <a href="#" class="govuk-link">Change start date</a>
                            {#<p class="govuk-body u-space-y0">
                                <span class="meta">{{ 'dataAndTime' | dateAndTime() }}</span>
                            </p>#}
                        </td>
                        <td class="govuk-table__cell">
                            Dr. Alicia Brook
                            <br> <span class="meta govuk-!-font-size-16">on 11 October 2021</span>
                        </td>
                        <td class="govuk-table__cell">
                            University of Wales
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <strong class="govuk-tag govuk-tag--green">Approved</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>

            {%- endcall %}

        {%- endcall %}


    {%- endcall %}
    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}

{% endblock %}


