
{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set accountSettingsLink = '' %}
{% set showExternalFurniture = false %}

{% set hideAccountLinks = true %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{% set loggedOut = false %}
{% set allData = allData if allData %}
{% set prototypeData = prototypeData if prototypeData %}

{% set userName = prototypeData.userName %}

{% set pageTitle = 'Logistics and timings' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/change-request/award-overview', text:'Back to award overview'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Logistics and timings', caption='Create award change request') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='submitForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <p class="govuk-body">Select the change you want to create</p>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="roles-hint">
                        <legend class="govuk-visually-hidden">Select change type</legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="type1" name="subType" type="radio" value="Extension" >
                                <label class="govuk-label govuk-radios__label" for="type1" >Extension</label>
                                <span class="govuk-hint govuk-radios__hint">Request an extension to the end date of the award</span>
                            </div>
                        </div>

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="type2" name="subType" type="radio" value="Suspension" >
                                <label class="govuk-label govuk-radios__label" for="type2" >Suspension</label>
                                <span class="govuk-hint govuk-radios__hint">Work on the award has stopped, or where work is continuing but payment needs to stop</span>
                            </div>
                        </div>

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="type3" name="subType" type="radio" value="Termination" >
                                <label class="govuk-label govuk-radios__label" for="type3" >Termination</label>
                                <span class="govuk-hint govuk-radios__hint">Terminate the award before the end date is reached</span>
                            </div>
                        </div>

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="type4" name="subType" type="radio" value="Change start date" >
                                <label class="govuk-label govuk-radios__label" for="type4" >Change start date</label>
                                <span class="govuk-hint govuk-radios__hint">If the award has not yet started (i.e. status Announced) then, subject to the terms and conditions a change to the start date can be requested</span>
                            </div>
                        </div>

                    </fieldset>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <div class="application-controls govuk-clearfix">
                    <button type="submit" class="govuk-button application-controls__submit" name="submitButton">Continue</button>
                    <br><br><a href="/prototypes/change-request/create-type" class="govuk-link application-controls__cancel">Cancel and return to create award change request</a>
                </div>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}
    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}

{% endblock %}


