
{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set accountSettingsLink = '' %}
{% set showExternalFurniture = false %}

{% set hideAccountLinks = true %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{% set loggedOut = false %}
{% set allData = allData if allData %}
{% set prototypeData = prototypeData if prototypeData %}
{% set userName = prototypeData.userName %}

{% set pageTitle = 'Your change request has been submitted' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/change-request/award-overview', text:'Back to award overview'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Your change request has been submitted', caption=prototypeData.awardName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='submitForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7') %}

                <p class="govuk-body">Check your change request details before submitting</p>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-8') %}

                <dl class="govuk-summary-list">
                    {% if allData.requestType %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Type of request</dt>
                        <dd class="govuk-summary-list__value">{{ allData.requestType }}</dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/change-request/create-type">
                                Change<span class="govuk-visually-hidden"> type of request</span>
                            </a>
                        </dd>
                    </div>
                    {% endif %}

                    {% if allData.newDay1 %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{{ allData.dateLabel1 }}</dt>
                            <dd class="govuk-summary-list__value">{{ allData.newDay1 }}  {{ allData.newMonth1 | showMonth() }} {{ allData.newYear1 }}</dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#" onclick="window.history.go (-1)">
                                    Change<span class="govuk-visually-hidden"> date</span>
                                </a>
                            </dd>
                        </div>
                    {% endif %}

                    {% if allData.newDay2 %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{{ allData.dateLabel2 }}</dt>
                            <dd class="govuk-summary-list__value">{{ allData.newDay2 }}  {{ allData.newMonth2 | showMonth() }} {{ allData.newYear2 }}</dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#" onclick="window.history.go (-1)">
                                    Change<span class="govuk-visually-hidden"> date</span>
                                </a>
                            </dd>
                        </div>
                    {% endif %}

                    {% if allData.reasonLabel %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{{ allData.reasonLabel }}</dt>
                            <dd class="govuk-summary-list__value">
                                {{ allData.reasons }}
                                {% if allData.reasons == 'Other' %}
                                    {% if allData.other %}
                                        <br><span class="meta">{{ allData.other }}</span>
                                    {% endif %}
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#" onclick="window.history.go (-1)">
                                    Change<span class="govuk-visually-hidden"> date</span>
                                </a>
                            </dd>
                        </div>
                    {% endif %}

                    {% if allData.justification %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Reason for request</dt>
                            <dd class="govuk-summary-list__value">{{ allData.justification }}</dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#" onclick="window.history.go (-1)">
                                    Change<span class="govuk-visually-hidden"> justification</span>
                                </a>
                            </dd>
                        </div>
                    {% endif %}
                </dl>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7') %}

                <div class="application-controls govuk-clearfix">
                    <button type="submit" class="govuk-button application-controls__submit" name="submitButton">Submit change request</button>
                </div>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}
    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}

{% endblock %}


