{% set showExternalNav = true %}
{% set activeNavItem = 'home' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/editv2/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/editv2/applications' %}
{% set awardsLink = '#' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = '' %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = false %}

{% set pageTitle = 'Applciations' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Drummond Acaster' %}
{% set prototypeData = prototypeData if prototypeData %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Applciations ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/editv3/home', text:'Back to Home'}] %}


{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Applications', caption='University of Wales') }}
        {%- endcall %}
    {%- endcall %}

   {# {% call components.bulmaRow(extraClass='', customID='mainContent') %}

        {% call components.bulmaColumnAny(size='is-9') %}

            <form action="#" method="get" role="search">
                <div class="search">
                    <div class="govuk-form-group govuk-form-group--search">
                        <label class="govuk-label govuk-visually-hidden" for="search">Search applications</label>
                        <input class="govuk-input govuk-input--width-20 search__input" id="search" name="event-name" type="text" placeholder="Search all applications">
                        <button type="submit" class="search__submit">Search</button>
                    </div>
                </div>
            </form>

        {%- endcall %}
    {%- endcall %}
#}
    {% call components.bulmaRow(extraClass='') %}


       {# {% call components.bulmaColumnAny(size='column is-3') %}

            <div class="filter">
                <h2 class="filter__title">Filter by status</h2>
                <ul class="filter__list u-clearfix govuk-radios govuk-radios--small">
                    <li class="filter__item filter__item--small govuk-clearfix">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                            <input class="govuk-checkboxes__input" id="statusFilter_2" type="checkbox" name="statusFilter_2" value="With applicant" {% if allData.statusFilter_2 == 'With applicant' %}checked{% endif %}>
                            <label for="statusFilter_2" class="govuk-checkboxes__label u-display-ib">With applicant</label>
                        </div>
                    </li>
                    <li class="filter__item filter__item--small govuk-clearfix">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                            <input class="govuk-checkboxes__input" id="statusFilter_1" type="checkbox" name="statusFilter_1" value="With research office" {% if allData.statusFilter_1 == 'With research office' %}checked{% endif %}>
                            <label for="statusFilter_1" class="govuk-checkboxes__label u-display-ib">With research office</label>
                        </div>
                    </li>
                    <li class="filter__item filter__item--small govuk-clearfix">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                            <input class="govuk-checkboxes__input" id="statusFilter_3" type="checkbox" name="statusFilter_3" value="Submitted" {% if allData.statusFilter_3 == 'Submitted' %}checked{% endif %}>
                            <label for="statusFilter_3" class="govuk-checkboxes__label u-display-ib">Submitted</label>
                        </div>
                    </li>
                    <li class="filter__item filter__item--small govuk-clearfix">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                            <input class="govuk-checkboxes__input" id="outcomeFilter_1" type="checkbox" name="outcomeFilter_1" value="Successful" {% if allData.outcomeFilter_1 == 'Successful' %}checked{% endif %}>
                            <label for="outcomeFilter_1" class="govuk-checkboxes__label u-display-ib">Successful</label>
                        </div>
                    </li>
                    <li class="filter__item filter__item--small govuk-clearfix">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                            <input class="govuk-checkboxes__input" id="outcomeFilter_2" type="checkbox" name="outcomeFilter_2" value="Unsuccessful" {% if allData.outcomeFilter_2 == 'Unsuccessful' %}checked{% endif %}>
                            <label for="outcomeFilter_2" class="govuk-checkboxes__label u-display-ib">Unsuccessful</label>
                        </div>
                    </li>
                    <li class="filter__item filter__item--small govuk-clearfix">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                            <input class="govuk-checkboxes__input" id="outcomeFilter_3" type="checkbox" name="outcomeFilter_3" value="Deadline passed" {% if allData.outcomeFilter_3 == 'Missed deadline' %}checked{% endif %}>
                            <label for="outcomeFilter_3" class="govuk-checkboxes__label u-display-ib">Missed deadline</label>
                        </div>
                    </li>
                </ul>
            </div>


        {%- endcall %}#}

        {% call components.bulmaColumnAny(size='column is-full') %}

            <div class="responsive-table">

                <table class="govuk-table responsive-table__table">
                    <thead>
                    <tr class="govuk-table__header">

                        <th class="govuk-table__header">Application title</th>
                        <th class="govuk-table__header">Opportunity</th>
                        <th class="govuk-table__header">Group<br></th>
                        <th class="govuk-table__header govuk-table__header--numeric">Deadline</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="govuk-table__cell"><a href="/prototypes/editv3/application" class="govuk-link">APP989: {{ prototypeData.title }}</a></td>
                        <td class="govuk-table__cell">{{ prototypeData.oppTitle }}</td>
                        <td class="govuk-table__cell">{{ prototypeData.groups }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">31 Oct 2023</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--blue govuk-tag--tiny">In progress</strong></td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="/prototypes/editv3/application2" class="govuk-link">APP420: {{ prototypeData.applicationTitle2 }}</a></td>
                        <td class="govuk-table__cell">{{ prototypeData.oppTitle2 }}</td>
                        <td class="govuk-table__cell">Science and engineering</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">21 Sep 2023</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--blue govuk-tag--tiny">In progress</strong></td>
                    </tr>
                    </tbody>

                </table>

            </div>
        {%- endcall %}

    {%- endcall %}


    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}




{% block bodyScripts %}

{% endblock %}

