{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/editv3/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/editv3/applications' %}
{% set awardsLink = '#' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = true %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = false %}

{% set pageTitle = 'Edit log' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Rosaria Lingham' %}
{% set prototypeData = prototypeData if prototypeData %}

{% set isAdminUser = false %}
{% set loggedOut = false %}


{% set pageTitle = 'Edit log' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/editv3/application2', text:'Back to application overview'}] %}


{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}
            {{ components.captionHeading(text='Edit log', caption='APP420: Ribosome profiling of Trypanosoma brucei') }}
       {%- endcall %}
    {%- endcall %}



        <section class="section" id="mainContent">


                {% call components.bulmaRow() %}

                    {% call components.bulmaColumnAny(size='is-9') %}

                        <p class="govuk-body">Most recent edits are at the top of the list.</p>

                        <div class="application-items application-items--log u-space-b45">

                            <div class="application-item application-item--skinny ">
                            <div class="application-item__one-col">
                                <span class="govuk-!-display-block u-space-b5"><strong>Rosaria Lingham</strong> on <span class="">15 September 2023 at 4:11 pm</span></span>
                                <span class="meta">Resources and costs updated</span>
                            </div>
                        </div>


                            <div class="application-item application-item--skinny ">
                                <div class="application-item__one-col">
                                    <span class="govuk-!-display-block u-space-b5"><strong>{{ 'firstAndLast' | giveMeAName }}</strong> on <span class="">15 September 2023 at 10:11 am</span></span>
                                    <span class="meta">Details and summary updated</span>
                                </div>
                            </div>

                            <div class="application-item application-item--skinny ">
                                <div class="application-item__one-col">
                                    <span class="govuk-!-display-block u-space-b5"><strong>{{ 'firstAndLast' | giveMeAName }}</strong> on <span class="">13 September 2023 at 4:24 pm</span></span>
                                    <span class="meta">Core team marked as complete</span>
                                </div>
                            </div>

                            <div class="application-item application-item--skinny ">
                                <div class="application-item__one-col">
                                    <span class="govuk-!-display-block u-space-b5"><strong>{{ 'firstAndLast' | giveMeAName }}</strong> on <span class="">13 September 2023 at 4:08 pm</span></span>
                                    <span class="meta">Core team member added, {{ 'firstAndLast' | giveMeAName }}</span>
                                </div>
                            </div>

                            <div class="application-item application-item--skinny ">
                                <div class="application-item__one-col">
                                    <span class="govuk-!-display-block u-space-b5"><strong>{{ 'firstAndLast' | giveMeAName }}</strong> on <span class="">13 September 2023 at 4:01 pm</span></span>
                                    <span class="meta">Resources and costs page updated</span>
                                </div>
                            </div>

                            <div class="application-item application-item--skinny ">
                                <div class="application-item__one-col">
                                    <span class="govuk-!-display-block u-space-b5"><strong>{{ 'firstAndLast' | giveMeAName }}</strong> on <span class="">13 September 2023 at 3:54 pm</span></span>
                                    <span class="meta">Organisation resources and costs page updated, University of Wales</span>
                                </div>
                            </div>

                            <div class="application-item application-item--skinny ">
                                <div class="application-item__one-col">
                                    <span class="govuk-!-display-block u-space-b5"><strong>{{ 'firstAndLast' | giveMeAName }}</strong> on <span class="">13 September 2023 at 2:14 pm</span></span>
                                    <span class="meta">Details and summary marked as incomplete</span>
                                </div>
                            </div>

                            <div class="application-item application-item--skinny ">
                                <div class="application-item__one-col">
                                    <span class="govuk-!-display-block u-space-b5"><strong>{{ 'firstAndLast' | giveMeAName }}</strong> on <span class="">13 September 2023 at 1:48 pm</span></span>
                                    <span class="meta">Details and summary marked as complete</span>
                                </div>
                            </div>

                            <div class="application-item application-item--skinny ">
                                <div class="application-item__one-col">
                                    <span class="govuk-!-display-block u-space-b5"><strong>{{ 'firstAndLast' | giveMeAName }}</strong> on <span class="">13 September 2023 at 12:32 pm</span></span>
                                    <span class="meta">Project partner added, {{ 'firstAndLast' | giveMeAName }}</span>
                                </div>
                            </div>

                            <div class="application-item application-item--skinny ">
                                <div class="application-item__one-col">
                                    <span class="govuk-!-display-block u-space-b5"><strong>{{ 'firstAndLast' | giveMeAName }}</strong> on <span class="">13 September 2023 at 12:15 pm</span></span>
                                    <span class="meta">Project partner removed, Big Science Ltd</span>
                                </div>
                            </div>

                        </div>

                    {%- endcall %}
                {%- endcall %}


                    </section>


    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

