{% set showExternalNav = true %}
{% set activeNavItem = 'home' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/editv3/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/editv3/applications' %}
{% set awardsLink = '#' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = true %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = false %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Rosaria Lingham' %}
{% set prototypeData = prototypeData if prototypeData %}

{% set isAdminUser = false %}
{% set loggedOut = false %}


{% set pageTitle = 'Are you leading the project? ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/editv3/opportunity', text:'Back to Opportunity'}] %}


{% block content %}

    {% if confirmationError %}
        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="govuk-notification-banner govuk-notification-banner--danger" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">There is a problem</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-body">Select the check box to confirm you understand the implications of continuing.</p>

                    </div>
                </div>
            {%- endcall %}
        {%- endcall %}

    {% endif %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}

            {{ components.captionHeading(text='Confirm you\'ll be leading this project if your application is successful', caption='OPP147: Innovation in environmental monitoring') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST', name='form') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8 ', customID='mainContent') %}

                <p class="govuk-body">We strongly advise that you only start this application if you'll be the project lead (or the fellow, if you're applying for a fellowship).</p>

                <p class="govuk-body govuk-inset-text">If you're just curious about the application questions, or any guidance for completing them, you can find this information on the funding Opportunity's page in the <a href="/prototypes/editv3/opportunity" class="govuk-link">UKRI Funding Finder</a>.</p>

                <div class="govuk-form-group {% if confirmationError %} govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Confirmation
                            </h2>
                        </legend>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="confirmation" name="confirmation" type="checkbox" value="confirmation">
                                <label class="govuk-label govuk-checkboxes__label" for="confirmation">
                                    I confirm I understand that:
                                </label>

                                <ul class="govuk-list govuk-list--bullet u-space-t10 u-space-x20">
                                    <li>only myself and members of my research office (if I have one) will be able to edit the application</li>
                                    <li>my research office, if I have one, will be the only research office that can submit the application the UKRI</li>
                                </ul>
                            </div>

                        </div>
                    </fieldset>
                </div>



            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column  is-full is-9-desktop is-9-widescreen') %}

                {% call components.formGroup() %}
                    {{ components.button(text='Confirm and continue', extraClass="application-controls__submit")}}
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}


    {%- endcall %} {# end form #}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}
    <script type="text/javascript" src="/javascripts/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script type="text/javascript">
        var selectEl = document.querySelector('#organisation');
        accessibleAutocomplete.enhanceSelectElement({
            autoselect: true,
            defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
            minLength: 1,
            selectElement: selectEl
        });
    </script>
{% endblock %}


