{% set showExternalNav = false %}
{% set activeNavItem = 'home' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/edit/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/edit/Applications' %}
{% set awardsLink = '#' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = true %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = false %}
{% set navType = 'admin' %}

{% set pageTitle = 'Applciation overview' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dareh Justice' %}
{% set prototypeData = prototypeData if prototypeData %}

{% set isAdminUser = true %}
{% set loggedOut = false %}

{% set pageTitle = 'Home ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/classifications/applications', text:'Back to Applications'}] %}


{% block content %}

    {% if prototypeData.detailsJustBeenUpdated %}

        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full') %}
                <div class="govuk-notification-banner govuk-notification-banner--success " role="alert" aria-labelledby="govuk-notification-banner-title" data-module="_govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">You have successfully updated the Details and summary section</h3>
                    </div>
                </div>
            {%- endcall %}
        {%- endcall %}

    {% endif %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Application overview', caption='APP171: ' + prototypeData.applicationTitle) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#">Summary</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#">Read</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#">Review</a>
                    </li>
                </ul>
            </div>
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="mainContent">

       {# {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full', customID='mainCntent') %}
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#">Write application</a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#}{#/prototypes/edit/read-application#}{##">Read application</a>
                        </li>
                    </ul>
                </div>
            {%- endcall %}
        {%- endcall %}#}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <h2 class="govuk-heading-m">Application summary</h2>
                {{ prototypeData.summary }}

                <style> .application-item__right { display: none; }</style>


            {%- endcall %}

            {% call components.bulmaColumnAny(size='is-4 is-offset-1') %}

                <div class="application-data">
                    <h3 class="govuk-heading-m u-space-t20 u-space-b10">Details</h3>
                    <dl class="application-data__list">
                        <dt class="application-data__key">Opportunity:</dt>
                        <dd class="application-data__value"><a href="#" class="govuk-link" target="_blank">{{ prototypeData.oppTitle }}</a></dd>
                        <dt class="application-data__key">Application reference:</dt>
                        <dd class="application-data__value">APP171</dd>

                        <dt class="application-data__key">Applicant:</dt>
                        <dd class="application-data__value">{{ prototypeData.applicant1 }}</dd>
                        <dt class="application-data__key">Application status:</dt>
                        <dd class="application-data__value"><strong class="govuk-tag govuk-tag--green govuk-tag--tiny">Submitted</strong></dd>

                        <dt class="application-data__key">Application deadline:</dt>
                        <dd class="application-data__value">4 Aug 2023 2023</dd>
                        <dt class="application-data__key">Funder:</dt>
                        <dd class="application-data__value">MRC, UKRI</dd>
                    </dl>

                    <div class="title-link">
                        <h3 class="govuk-heading-m u-space-t20 u-space-b10">Tags</h3>
                        {% if prototypeData.classificationSavedTags|length > 1 or prototypeData.routingSavedTags|length > 1 or prototypeData.qualifierSavedTags|length > 1 or prototypeData.reportingSavedTags|length > 1 %}
                            <a href="/prototypes/classifications/research-tags" class="govuk-link govuk-!-font-size-16">Manage tags</a>
                        {% else %}
                            <a href="/prototypes/classifications/research-tags" class="govuk-link govuk-!-font-size-16">Add tags</a>
                        {% endif %}
                    </div>



                    {% if prototypeData.classificationSavedTags|length > 1 %}
                        <dl>
                        <dt class="application-data__key">Classifications</dt>
                        {% for item in prototypeData.classificationSavedTags %}
                            <dd class="application-data__value">{{ item }}</dd>
                        {% endfor %}
                        </dl>
                    {% endif %}
                    {% if prototypeData.routingSavedTags|length > 1 %}
                        <dl>
                            <dt class="application-data__key">Routing</dt>
                            {% for item in prototypeData.routingSavedTags %}
                                <dd class="application-data__value">{{ item }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                    {% if prototypeData.qualifierSavedTags|length > 1 %}
                        <dl>
                            <dt class="application-data__key">Qualifiers</dt>
                            {% for item in prototypeData.qualifierSavedTags %}
                                <dd class="application-data__value">{{ item }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}


                    {% if prototypeData.reportingSavedTags|length > 1 %}
                        <dl>
                            <dt class="application-data__key">Reporting</dt>
                           {% for item in prototypeData.reportingSavedTags %}
                                <dd class="application-data__value">{{ item }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}

                </div>

            {%- endcall %}

        {%- endcall %}


    </section>


    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}




{% block bodyScripts %}

{% endblock %}

