{% set showExternalNav = false %}
{% set activeNavItem = 'home' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/classifications/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/classifications/applications' %}
{% set awardsLink = '#' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = true %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = false %}

{% set pageTitle = 'Research areas' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dareh Justice' %}
{% set prototypeData = prototypeData if prototypeData %}

{% set navType = 'admin' %}
{% set isAdminUser = true %}
{%  set loggedOut = false %}

{% set pageTitle = 'Research areas ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/classifications/application-overview', text:'Back to Appliction overview'}] %}


{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Research areas', caption='APP420: ' + prototypeData.applicationTitle) }}
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="mainContent">
        {% call components.form(action='#', method='POST',name='formResearchAreas') %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-8') %}
                    <div class="findThings">
                        <div class="govuk-form-group govuk-form-group--search">
                            <label class="govuk-label govuk-label--s" for="search">Filter by text</label>
                            {#<span class="govuk-hint">Find an application</span>#}
                            <input class="govuk-input govuk-input--width-10 search__input" id="search" name="searchQuery" type="text" placeholder="" value="{{ allData.searchQuery }}" onkeyup="filterAppList()" onfocus="this.select();">
                            {#<a href="#" onClick="clearFilterText" class="govuk-link govuk-!-display-inline-block">Clear filter text</a>#}
                            {#<button type="submit" name="applicationSearch" class="search__submit" value="search">Search</button>#}

                        </div>
                    </div>
                {%- endcall %}
            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-8') %}

                    <div class="responsive-table">
                        <table class="govuk-table responsive-table__table context">
                            <thead>
                                <tr class="govuk-table__header">
                                    <th class="govuk-table__header">Research area</th>
                                    <th class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in allTheCats %}
                                    {% if item.subjects %}
                                        {% for subjects in item.subjects %}
                                            {% if subjects.topics %}
                                                {% for topics in subjects.topics %}
                                                    <tr class="catItem">
                                                        {#<td class="govuk-table__cell">
                                                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                                <input type="checkbox" class="govuk-checkboxes__input" id="item_{{ loop.index }}" value="APP{{ item.randomID }}:{{ item.title }}" onchange="getTotalChecked()">
                                                                <label class="govuk-label govuk-checkboxes__label " for="item_{{ loop.index }}"><span class="govuk-visually-hidden">Select</span></label>
                                                            </div>
                                                        </td>#}
                                                        <td class="govuk-table__cell">
                                                            <span class="catItemText">
                                                                {{ item.areaName }} &gt; {{ subjects.subjectName }} &gt; {{ topics }}
                                                            </span>
                                                        </td>
                                                        <td class="govuk-table__cell govuk-table__cell--numeric">
                                                            <a href="#" class="govuk-link" data-value="{{ item.areaName }} &gt; {{ subjects.subjectName }} &gt; {{ topics }}">Add <span class="govuk-visually-hidden">this item to my list of research areas</span></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                            {% endfor %}
                            </tbody>
                        </table>

                    </div>


                {%- endcall %}


                {% call components.bulmaColumnAny(size='is-3 is-offset-1') %}
                    [RH col]
                {%- endcall %}

            {%- endcall %}

            {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='is-8') %}

                    {% call components.formGroup() %}
                        <div class="application-item">
                            <div class="application-item__contents application-item__contents--mac">
                                <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                    <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                        <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                    </legend>
                                    <div class="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if prototypeData.caseMarkAsComplete %} checked{% endif %}  >
                                            <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    {%- endcall %}

                {%- endcall %}

            {%- endcall %}

            {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='is-8') %}

                    {% call components.formGroup() %}
                        <div class="application-controls govuk-clearfix">
                            {% if prototypeData.caseMarkAsComplete %}
                                <a href="/prototypes/editv2/application-overview-2" class="govuk-link">Return to application overview</a>
                            {% else %}
                                {{ components.button(text='Save and return', extraClass="application-controls__submit")}}
                            {% endif %}
                        </div>
                    {%- endcall %}

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}



    </section>


    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}




{% block bodyScripts %}
    <script>

        function filterAppList() {
            let input = document.getElementById('search');
            let filter = input.value.toUpperCase();
            let fields = document.getElementsByClassName('catItem');
            // console.log(fields);
            if(filter.length > 3) {
                for (i = 0; i < fields.length; i++) {
                    // let a = fields[i].getElementsByTagName("span")[0];
                    let a = fields[i].getElementsByClassName("catItemText")[0];
                    //let thisInput = fields[i].getElementsByTagName('input');
                    let txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        fields[i].style.display = "";
                        fields[i].classList.add('isSelected');
                        //thisInput.classList.add('isSelected');
                    } else {
                        fields[i].style.display = "none";
                        //thisInput.classList.remove('isSelected');
                    }
                }
            }
            //console.log('filter = ' + filter);
            /*if(filter.length >= 4) {
                performMark(filter);
            }*/
        }

        function getTotalChecked() {
            let numberSelected = document.getElementById('numberSelected');
            //let howMany = 0;
            //let allCheckboxes = document.getElementsByClassName('govuk-checkboxes__input');
            let totalChecked = document.querySelectorAll('input[class=govuk-checkboxes__input]:checked');
            console.log('totalChecked = ' + totalChecked.length);
            numberSelected.textContent = totalChecked.length;
            let actionButtonsList = document.getElementsByClassName('actionButton');
            console.log(actionButtonsList);
            if(totalChecked.length >= 1) {
                //console.log('bah');
                for(let i = 0; i < actionButtonsList.length; i++ ){
                    console.log('doing something 1');
                    actionButtonsList[i].removeAttribute('disabled');
                    //console.log(actionButtonsList[i]);
                }
            } else {
                //console.log('humbug');
                for(let i = 0; i < actionButtonsList.length; i++ ){
                    console.log('doing something 2');
                    actionButtonsList[i].setAttribute('disabled', true);
                    //console.log(actionButtonsList[i]);
                }
            }

        }

        window.addEventListener('load',
            function() {
                //console.log('hello');
                let actionButtonsList = document.getElementsByClassName('actionButton');
                console.log('actionButtonsList.length = ' + actionButtonsList.length);
                for(let i = 0; i < actionButtonsList.length; i++ ){
                    actionButtonsList[i].setAttribute('disabled', true);
                    console.log(actionButtonsList[i]);
                }
            }, false);

    </script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.js"></script>
    <script>
        // let markInstance = new Mark(document.querySelector('.context'));
        let markInstance = new Mark(document.querySelector('.context'));
        function performMark(keyword) {
            // var keyword = theWord;
            console.log('keyword = ' + keyword);
            // var options = {};
            //if(keyword.length > 3) {
            // if(markInstance.classList.contains('isSelected')) {
                // console.log('hello');
                markInstance.unmark({
                    done: function () {
                        markInstance.mark(keyword);
                    },

                });
            // }
            //}
            /*markInstance.mark('{{ allData.searchQuery }}', {
            "element": "span",
            "className": "highlight"
        });*/
        };
        // window.addEventListener('load', performMark);
    </script>
{% endblock %}

