{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'Multiple users' %}

{% set currentlyEditableBy = currentlyEditableBy if currentlyEditableBy else 'not set' %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.pageHeading(heading='Start your research session') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.form(action='#', method='POST', name='submitApplication') %}

            {#{% call components.gridRow() %}
                {% call components.columnHalf(size='is-8') %}

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <h2 class="govuk-fieldset__legend govuk-fieldset__legend--m">What sort of user are you?</h2>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="applicant" name="userType" type="radio" value="applicant">
                                    <label class="govuk-label govuk-radios__label" for="applicant">Applicant</label>
                                    <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                        I am a researcher making an application
                                    </div>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="office" name="userType" type="radio" value="office">
                                    <label class="govuk-label govuk-radios__label" for="office">Research Office administrator</label>
                                    <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                                        I work in the research office, and I need to check the applicant's work
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                {%- endcall %}
            {%- endcall %}

            {% call components.gridRow() %}
                {% call components.columnHalf(size='is-8') %}

                    {{ components.button(text='Confirm', extraClass="application-controls__submit", name='saveAndComplete')}}

                {%- endcall %}

            {%- endcall %}

        {% call components.gridRow() %}
            {% call components.columnHalf(size='is-8') %}
                <div class="is-warning u-pad-20" style="border:1px solid #909090; padding-bottom:0!important">
                    <p class="govuk-body">
                        Remove stored data.
                    </p>
                    <button class="govuk-button govuk-button--secondary" value="wipeData" name="wipeData">Wipe data</button>
                </div>

            {%- endcall %}

        {%- endcall %}#}

        {% call components.gridRow() %}
            {% call components.columnHalf(size='is-8') %}

                {{ components.captionHeading(text='Set sharing status', tag='h2', size='m') }}
                <p class="govuk-body">
                    Currently editable by <strong>{{ currentlyEditableBy }}</strong>
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <a href="?editableBy=applicant" class="govuk-link">Editable by applicant</a>
                    </li>
                    <li>
                        <a href="?editableBy=researchOffice" class="govuk-link">Editable by Research Office</a>
                    </li>
                </ul>

                {#{% if currentlyEditableBy %}#}

                    {% if currentlyEditableBy === 'Research Office' %}

                        {{ components.captionHeading(text='Research Office journeys', tag='h2', size='m') }}

                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <a href="/prototypes/multi-user-application2/applications-1" class="govuk-link">Application overview</a>
                            </li>
                        </ul>

                    {#{% endif %}#}

                    {% elseif currentlyEditableBy === 'Applicant' %}

                        {{ components.captionHeading(text='Applicant journeys', tag='h2', size='m') }}

                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <a href="/prototypes/multi-users2/applications-1" class="govuk-link">Applications list</a>
                            </li>
                            <li>
                                <a href="/prototypes/multi-users2/start-email" class="govuk-link">Start email</a>
                            </li>
                        </ul>

                    {#{% endif %}#}

                {% else %}

                    <p class="govuk-body">Choose a sharing status to see which journeys are available.</p>

                {% endif %}

                {#{{ components.button(text='Confirm', extraClass="application-controls__submit", name='saveAndComplete')}}#}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}

{% endblock %}
