
{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'home' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/post-decision/home' %}
{% set awardsLink = '/prototypes/post-decision/awards' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}

{% set pageTitle = 'Home' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dr. Sheila Banner' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Awards ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/post-decision/awards', text:'Back to awards'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}



    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}

            {% if allData.startConfirmed %}

                <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">Start confirmed</p>
                        <p class="govuk-body">By Jane Doe on behalf of University of Wales on {{ 'dataAndTime' | dateAndTime() }}</p>
                    </div>
                </div>

            {% else %}

                <div class="govuk-notification-banner govuk-notification-banner--info" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            Your award is ready to start
                        </p>
                        <p class="govuk-body">
                            You must start your award before before <strong>28 July 2022</strong>. <a class="govuk-notification-banner__link" href="/prototypes/post-decision/award-confirmation">Submit your start confirmation</a>
                            {#<a class="govuk-notification-banner__link" href="#">View invitation</a>.#}
                        </p>
                    </div>
                </div>

            {% endif %}

        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Award overview', caption='AWA222: Development of a Novel Inhibitor of Ricin') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-y0') %}
        {% call components.bulmaColumnAny(size='is-4') %}
            {{ components.captionHeading(text='Award summary', size='s', tag='h2') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-b45') %}
        {% call components.bulmaColumnAny(size='is-3') %}
            <p class="govuk-body u-space-y0"><strong>Status: </strong>
                {% if allData.startConfirmed %}
                    <strong class="govuk-tag govuk-tag--grey">In progress</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--yellow">Ready to start</strong>
                {% endif %}
            </p>
            <p class="govuk-body u-space-y0"><strong>Period: </strong> 0 of 24</p>
        {%- endcall %}
        {% call components.bulmaColumnAny(size='is-3') %}
            <p class="govuk-body u-space-y0"><strong>Start date:</strong> May 2022 to July 2022</p>
            <p class="govuk-body u-space-y0"><strong>Duration:</strong> 24 months</p>
        {%- endcall %}
    {%- endcall %}





    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-7') %}

            {{ components.captionHeading(text='Award information', size='s', tag='h2') }}

            <div class="application-items u-space-b45">

                <div class="application-item  application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-details" class="govuk-link">Details</a>
                        </div>
                        {#<div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                        </div>#}
                    </div>
                </div>

                <div class="application-item  application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-team" class="govuk-link">Team</a>
                        </div>
                    </div>
                </div>

                <div class="application-item  application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-agreement" class="govuk-link">Award agreement</a>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-docs" class="govuk-link">Supporting documents</a>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--skinny application-item--plain">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-confirmation" class="govuk-link">Start confirmation</a>
                        </div>
                        <div class="application-item__right">

                            {% if allData.startConfirmed %}
                                {#<strong class="govuk-tag govuk-tag--grey">In progress</strong>#}
                            {% else %}
                                <strong class="govuk-tag govuk-tag--yellow">READY TO START</strong>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {{ components.captionHeading(text='Financial information', size='s', tag='h2') }}

            <div class="application-items u-space-b45">

                <div class="application-item  application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-costs" class="govuk-link">Costs</a>
                        </div>
                        {#<div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                        </div>#}
                    </div>
                </div>

                <div class="application-item  application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-payment-schedule" class="govuk-link">Payment schedule</a>
                        </div>
                    </div>
                </div>

                <div class="application-item  application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-finance-summary" class="govuk-link">Finance summary</a>
                        </div>
                    </div>
                </div>

                <div class="application-item  application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-expenditure" class="govuk-link">Expenditure statements</a>
                        </div>
                    </div>
                </div>
            </div>

            {{ components.captionHeading(text='Award change request', size='s', tag='h2') }}

            <div class="application-items u-space-b45">

                <div class="application-item  application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-change-request" class="govuk-link">Create new award change request</a>
                        </div>
                        {#<div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                        </div>#}
                    </div>
                </div>

                <div class="application-item  application-item--skinny">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="/prototypes/post-decision/award-view-requests" class="govuk-link">View award change requests</a>
                        </div>
                    </div>
                </div>
            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-4 is-offset-1') %}

            {#{{ components.list(items=listItemsActions, type='bullet')}}#}

            <div class="application-data application-data--large ">
                <dl class="application-data__list">
                    <dt class="application-data__key"><strong>Application reference:</strong></dt>
                    <dd class="application-data__value"><a href="#" class="govuk-link">APP101660 (opens in new window)</a> </dd>
                    <dt class="application-data__key"><strong>Application name:</strong></dt>
                    <dd class="application-data__value">The economics of grant funding in a post-pandemic world</dd>
                    <dt class="application-data__key"><strong>Applicant:</strong></dt>
                    <dd class="application-data__value">{{ 'addHonorific' | giveMeAName }}</dd>
                    <dt class="application-data__key"><strong>Email:</strong></dt>
                    <dd class="application-data__value">a.person@academic-org.ac.uk</dd>
                    <dt class="application-data__key"><strong>Organisations:</strong></dt>
                    <dd class="application-data__value">
                        University of Wales<br>
                        Manchester University
                    </dd>
                    <dt class="application-data__key"><strong>Award value:</strong></dt>
                    <dd class="application-data__value">£1,200,000</dd>
                </dl>
            </div>


        {%- endcall %}

    {%- endcall %}



    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}
    <script>
        function toggleVisibility(_this, id, className) {
            // event.preventDefault();
            let toggleSwitch = _this;
            let toggleItem = document.getElementById(id);
            if (hasClass(toggleItem, className)) {
                toggleSwitch.classList.add('filter__title--closed');
                toggleItem.classList.remove(className);
                toggleSwitch.setAttribute('aria-expanded', true);
            }
            else  {
                toggleSwitch.classList.remove('filter__title--closed');
                toggleItem.classList.add(className);
                toggleSwitch.setAttribute('aria-expanded', false);
            }
            // return false;
        }
        function hasClass(target, className) {
            return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
        }
    </script>
{% endblock %}

