
{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'home' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/post-decision/home' %}
{% set awardsLink = '/prototypes/post-decision/awards' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}

{% set pageTitle = 'Home' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dr. Sheila Banner' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Awards ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/post-decision/award-change-transfer', text:'‘Back to organisation details'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Are you sure you want to transfer your award?', caption='Create new award change request') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='') %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            <p class="govuk-body govuk-!-font-size-24">We'll send a transfer request to UKRI and the receiving research organisation so they can confirm that they accept this transfer. If they accept, you’ll need to complete a transfer expenditure statement before the transfer date.</p>
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='awardTransfer') %}

        {% call components.bulmaRow(extraClass='') %}
            {% call components.bulmaColumnAny(size='is-two-thirds') %}

                <dl class="govuk-summary-list govuk-summary-list--narrow">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Organisation name</dt>
                        <dd class="govuk-summary-list__value">{{ allData.transferOrganisation }}
                        </dd>
                        <dd class="govuk-summary-list__actions govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/post-decision/award-change-transfer">
                                Change<span class="govuk-visually-hidden"> organisation</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Transfer date</dt>
                        <dd class="govuk-summary-list__value">{{ allData.transferDay }} {{ allData.transferMonthName }} {{ allData.transferYear }}</dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/post-decision/award-change-transfer">
                                Change<span class="govuk-visually-hidden"> transfer date</span>
                            </a>
                        </dd>
                    </div>
                </dl>


            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="application-controls govuk-clearfix">
                    {{ components.button(text='Submit request', extraClass="application-controls__submit") }}
                    <a href="/prototypes/post-decision/award-change-start" class="govuk-link">Cancel and return to award overview</a>
                </div>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

