<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="format-detection" content="telephone=no">
    <title>UKRI Funding Service</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53" bgcolor="#2E2D62">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="70" bgcolor="#2E2D62" valign="middle"><a href="https://www.ukri.org" style="text-decoration: none;"><img src="https://tfs-prototyping.herokuapp.com/images/ufs/UKRI_logo_email.png" alt="" height="48" border="0" style="padding: 10px 20px 10px 0;"></a></td>
                    <td width="100%" bgcolor="#2E2D62" valign="middle" align="left"><span style="padding-left: 5px;"><a href="https://www.ukri.org/" style="font-family: Helvetica, Arial, sans-serif; font-size: 28px; line-height: 1.315789474; font-weight: 100; color: #efefef; text-decoration: none;">Funding Service</a></span></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px">
    <tr>
        <td width="100%">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="100%">
                        <h1 style="font-family: Helvetica, Arial, sans-serif; font-size: 36px; line-height: 1.315789474; font-weight: 700; margin: 19px 0 38px 0; color: #2E2D62">Your project is ready to start</h1>
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear [first_name] [last_name],</p>
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Your project 'Development of a Novel Inhibitor of Ricin' is ready to start.</p>
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You must complete your start confirmation and submit by <strong>4pm GMT 02 May 2022</strong>.</p>

                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">View your award and project at <a href="/prototypes/post-decision/home" style="">https://ukri.org/project/123456</a>. If you do not already have a Funding Service account, you can create one in the next step.</p>

                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                            Thank you
                            <br>
                            The UKRI Funding Service<br>
                            Tel: 01454 4545458<br>
                            Email: support@ukri-funding-service.org.uk
                        </p>

                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><hr></p>

                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.315789474; margin: 0 0 30px 0;">This is an automated message – do not reply. </p>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body></html>
