{% set showExternalNav = true %}
{% set activeNavItem = 'home' %}
{% set navArea = 'home' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/post-decision/home' %}
{% set awardsLink = '/prototypes/post-decision/awards' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}

{% set pageTitle = 'Home' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dr. Sheila Banner' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Home ' + GLOBAL_TAG_TITLE_SUFFIX %}
{#{% set backLinkContents =  [{url:'#', text:'Back to reviews'}] %}#}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Home', caption='University of Wales') }}
            {#<p>allData.userName = {{ allData.userName }}</p>#}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-3') %}
            <div class="tfs-tile3">
                <a href="#" class="tfs-tile3__mega-link">
                    <span class="tfs-tile3__heading">Applications</span>
                    <span class="tfs-tile3__number">23</span>
                    <span class="tfs-tile3__progress">View and manage your <br>organisation's applications</span>
                    {#<span class="tfs-tile3__progress">In progress</span>#}
                </a>
            </div>
        {%- endcall %}

        {% call components.bulmaColumnAny(size='column is-3') %}
            <div class="tfs-tile3">
                <a href="/prototypes/post-decision/awards" class="tfs-tile3__mega-link">
                    <span class="tfs-tile3__heading">Set up awards</span>
                    <span class="tfs-tile3__number">6</span>
                    <span class="tfs-tile3__progress">Set up your organisation's awards&nbsp;</span>
                </a>
            </div>
        {%- endcall %}

        {% call components.bulmaColumnAny(size='column is-3') %}
            <div class="tfs-tile3">
                <a href="/prototypes/post-decision/awards" class="tfs-tile3__mega-link">
                    <span class="tfs-tile3__heading">Awards</span>
                    <span class="tfs-tile3__number">13</span>
                    <span class="tfs-tile3__progress">View and manage your <br>organisation's awards</span>
                </a>
            </div>
        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-t30') %}
        {% call components.bulmaColumnAny(size='column is-9') %}
            <hr class="has-background-grey-light">
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-t20') %}

        {% call components.bulmaColumnAny(size='column is-3') %}
            <a href="#" class="govuk-link govuk-!-font-weight-bold govuk-!-font-size-19">Manage University of Wales</a>
            <br>
            <p class="govuk-body u-space-y10">Manage users and permissions for your organisations.</p>
        {%- endcall %}

        {% call components.bulmaColumnAny(size='column is-3') %}
            <a href="#" class="govuk-link govuk-!-font-weight-bold govuk-!-font-size-19">Account settings</a>
            <br>
            <p class="govuk-body u-space-y10">View your personal details and manage your Equality, Diversity and Inclusion (EDI) profile.</p>
        {%- endcall %}

    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

