{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/post-decision/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/team-resources-costs/applications' %}
{% set awardSetUpLink = '#' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = true %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dr. Sheila Banner' %}
{% set prototypeData = prototypeData if prototypeData %}
{% set allTeamMembers = allTeamMembers if allTeamMembers %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set organisationName = allData.uniqueOrgs[orgsArrayIndex].name %}

{% set pageTitle = organisationName + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/team-resources-costs/application-overview', text:'Back to application overview'}] %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {#{{ components.captionHeading(text=organisationName, caption='APP171: Bio-detoxification of Ricin in castor bean') }}<span class="#}{#govuk-tag govuk-tag--blue#}{# badge badge--info badge--smaller">LEAD</span>#}

            <span class="govuk-caption-xl">APP171: Bio-detoxification of Ricin in castor bean</span>
            <h1 class="govuk-heading-xl govuk-heading--has-tag ">{{ organisationName }} <strong class="badge badge--info badge--smaller">LEAD</strong></h1>

        {%- endcall %}

    {%- endcall %}

    {% call components.form(action='#', method='POST',name='submitForm') %}

        <section class="section" id="mainContent">

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-three-quarters', customID='') %}
                    <p class="govuk-body govuk-!-font-size-24">All costs that contribute to the full economic costs (fEC) of the application should be included for each cost category.</p>
                {%- endcall %}
            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-three-quarters', customID='') %}
                    {{ components.captionHeading(text='Resources and cost summary', tag='h2', size='m') }}
                    <p class="govuk-body">This is a breakdown of your resources and cost and sources of funding.</p>
                {%- endcall %}
            {%- endcall %}
            {% call components.bulmaRow(extraClass='u-space-b45') %}
                {% call components.bulmaColumnAny(size='is-full') %}
                    <div class="big-numbers">

                        <div class="big-numbers__biggy">
                            <div class="big-numbers__title">
                                Total full economic costs (fEC)
                            </div>
                            <div class="big-numbers__number">
                                £0.00
                            </div>
                        </div>

                        <div class="big-numbers__biggy">
                            <div class="big-numbers__title">
                                Contribution from applying organisations
                            </div>
                            <div class="big-numbers__number">
                                £0.00
                            </div>
                        </div>

                        <div class="big-numbers__biggy">
                            <div class="big-numbers__title">
                                Funding applied for
                            </div>
                            <div class="big-numbers__number">
                                £0.00
                            </div>
                        </div>
                    </div>
                {%- endcall %}
            {%- endcall %}



            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-full', customID='') %}
                    {{ components.captionHeading(text='Directly allocated team members', tag='h2', size='m') }}
                    <div class="responsive-table ">
                        <table class="govuk-table responsive-table__table" id="daTable">
                            <thead>
                            <tr>
                                <th class="govuk-table__header cell-max-300 cell-min-200 ">Name</th>
                                <th class="govuk-table__header govuk-table__header--numeric">fEC (%)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Full costs (£)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Funding applied for (£)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set daTeamMemberIndex = 1 %}
                            {% for item in allTeamMembers2 %}
                                {% if item.isComplete and item.roleType == 'Directly allocated' and item.organisation == organisationName %}
                                    <tr>
                                        <td class="govuk-table__cell govuk-table__cell--middle">{{ item.firstName }} {{ item.lastName }}</td>
                                        <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>

                                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                            <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle" name="daMemberFullCosts_{{ daTeamMemberIndex }}">
                                        </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                            <input type="text" class="govuk-input govuk-input--secret" value="0" disabled id="daAppliedFor_{{ daTeamMemberIndex }}">
                                        </td>
                                    </tr>
                                    {% set daTeamMemberIndex = daTeamMemberIndex + 1 %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="govuk-visually-hidden" id="daNullMessage">
                            <p class="govuk-body">No exception team members included in the team section for this organisation.</p>
                        </div>
                        <script>
                            let daTable = document.getElementById('daTable');
                            let daNullMessage = document.getElementById('daNullMessage');
                            if(diTable.rows.length <= 1) {
                                daNullMessage.classList.remove('govuk-visually-hidden');
                                daTable.classList.add('govuk-visually-hidden');
                            }
                        </script>
                    </div>
                {%- endcall %}
            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-full', customID='') %}
                    {{ components.captionHeading(text='Directly incurred team members', tag='h2', size='m') }}
                    <div class="responsive-table ">
                        <table class="govuk-table responsive-table__table" id="diTable">
                            <thead>
                                <tr>
                                    <th class="govuk-table__header cell-max-300 cell-min-200">Name</th>
                                    <th class="govuk-table__header govuk-table__header--numeric">fEC (%)</th>
                                    <th class="govuk-table__header govuk-table__header--numeric">Full costs (£)</th>
                                    <th class="govuk-table__header govuk-table__header--numeric">Funding applied for (£)</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% set diTeamMemberIndex = 1 %}
                            {% for item in allTeamMembers2 %}
                                {% if item.isComplete and item.roleType == 'Directly incurred' and item.organisation == organisationName %}
                                    <tr>
                                        <td class="govuk-table__cell govuk-table__cell--middle">
                                            {% if item.firstName %}
                                                {{ item.firstName }} {{ item.lastName }}
                                            {% else %}
                                                Unknown
                                            {% endif %}
                                        </td>
                                        <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>

                                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                            <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle" name="diMemberFullCosts_{{ diTeamMemberIndex }}">
                                        </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                            <input type="text" class="govuk-input govuk-input--secret" value="0" disabled id="diAppliedFor_{{ diTeamMemberIndex }}">
                                        </td>

                                    </tr>
                                    {% set diTeamMemberIndex = 1 %}
                                {% endif %}

                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="govuk-visually-hidden" id="diNullMessage">
                            <p class="govuk-body">No exception team members included in the team section for this organisation.</p>
                        </div>
                        <script>
                            let diTable = document.getElementById('diTable');
                            let diNullMessage = document.getElementById('diNullMessage');
                            if(diTable.rows.length <= 1) {
                                diNullMessage.classList.remove('govuk-visually-hidden');
                                diTable.classList.add('govuk-visually-hidden');
                            }
                        </script>
                    </div>
                {%- endcall %}
            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-full', customID='', extraClass='') %}
                    {{ components.captionHeading(text='Exception staff team members', tag='h2', size='m') }}

                    <div class="responsive-table ">
                        <table class="govuk-table responsive-table__table exceptions-table" id="exceptionTable">
                            <thead class="">
                            <tr>
                                <th class="govuk-table__header cell-max-300 cell-min-200">Name</th>
                                <th class="govuk-table__header govuk-table__header--numeric">fEC (%)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Full costs (£)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Funding applied for (£)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set exTeamMemberIndex = 1 %}
                            {% for item in allTeamMembers2 %}
                                {% if item.isComplete and item.roleType == 'Exception' and item.organisation == organisationName %}
                                    <tr>
                                        <td class="govuk-table__cell govuk-table__cell--middle">
                                            {% if item.firstName %}
                                                {{ item.firstName }} {{ item.lastName }}
                                            {% else %}
                                                Unknown
                                            {% endif %}
                                        </td>
                                        <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                            <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle" name="diMemberFullCosts_{{ exTeamMemberIndex }}">
                                        </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                            <input type="text" class="govuk-input govuk-input--secret" value="0" disabled id="exAppliedFor_{{ exTeamMemberIndex }}">
                                        </td>
                                    </tr>
                                    {% set exTeamMemberIndex = exTeamMemberIndex + 1 %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="govuk-visually-hidden" id="exceptionNullMessage">
                            <p class="govuk-body">No exception team members included in the team section for this organisation.</p>
                        </div>
                        <script>
                            let exceptionTable = document.getElementById('exceptionTable');
                            let exceptionNullMessage = document.getElementById('exceptionNullMessage');
                            if(exceptionTable.rows.length <= 1) {
                                exceptionNullMessage.classList.remove('govuk-visually-hidden');
                                exceptionTable.classList.add('govuk-visually-hidden');
                            }
                        </script>
                    </div>
                {%- endcall %}
            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-full', customID='', extraClass='') %}
                    {{ components.captionHeading(text='Directly allocated', tag='h2', size='m') }}

                    <details class="govuk-details u-space-y10 js-only" data-module="govuk-details" role="group">
                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                            <span class="govuk-details__summary-text">Guidance for calculating directly allocated costs</span>
                        </summary>
                        <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                            <div class="tiny-spoof">
                                <p class="govuk-body">
                                    These are the costs of resources used by a project that are shared by other activities. They are charged to projects on the basis of estimates rather than actual costs and do not represent actual costs on a project-by-project basis. They include:</p>
                                <p class="govuk-body">
                                   Estates: These costs may include building and premises costs, basic services and utilities, and any clerical staff and equipment maintenance or operational costs not already included under other cost headings.
                                </p>
                                <p class="govuk-body">Other Directly Allocated: These costs may include, for example, the costs of shared Pool staff or access to institutional research facilities such as equipment, IT systems.</p>

                            </div>
                        </div>
                    </details>

                    <div class="responsive-table ">
                        <table class="govuk-table responsive-table__table exceptions-table" id="exceptionTable">
                            <thead class="">
                            <tr>
                                <th class="govuk-table__header cell-max-300 cell-min-200">Fund headings</th>
                                <th class="govuk-table__header govuk-table__header--numeric">fEC (%)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Full costs (£)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Funding applied for (£)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="govuk-table__cell govuk-table__cell--middle">Staff</td>
                                <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    {#<input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle" name="fullCosts">#}0
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--secret" value="0" disabled id="daStaffAppliedFor">
                                </td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell govuk-table__cell--middle">Estates</td>
                                <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle magicInput" name="daEstates" id="daEstates">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--secret" value="0" name="daEstatesAppliedFor" disabled id="daEstatesAppliedFor">
                                </td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell govuk-table__cell--middle">Other</td>
                                <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle magicInput" name="daOther" id="daOther">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--secret" value="0" name="daOtherAppliedFor" disabled id="daOtherAppliedFor">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {%- endcall %}
            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-full', customID='', extraClass='') %}
                    {{ components.captionHeading(text='Directly incurred', tag='h2', size='m') }}

                    <details class="govuk-details u-space-y10 js-only" data-module="govuk-details" role="group">
                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                            <span class="govuk-details__summary-text">Guidance for calculating directly incurred costs</span>
                        </summary>
                        <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                            <div class="tiny-spoof">
                                <p class="govuk-body">These are costs that are explicitly identifiable as arising from the conduct of a project, are charged as the cash value actually spent and are supported by an audit record. They include: </p>
                                <p class="govuk-body">Equipment: The cost of individual items of equipment dedicated to the project and individually costing more than £10,000 (including VAT). Against each equipment item the applicant can specify the total cost of the equipment and the amount being requested from the Council. All equipment costs will now be shown under the Directly Incurred heading.
                                </p>
                                <p class="govuk-body">Travel and Subsistence: funds for travel and subsistence for use by staff who work on the project where these are required by the nature of the work.</p>
                                <p class="govuk-body">Other Costs of other items dedicated to the project, including consumables, books, survey fees, purchase/hire of vehicles, publication costs or recruitment and advertising costs for staff directly employed on the project. Items of equipment costing less than £10,000 should also be included under this heading.
                                </p>
                            </div>
                        </div>
                    </details>

                    <div class="responsive-table ">
                        <table class="govuk-table responsive-table__table exceptions-table" id="exceptionTable">
                            <thead class="">
                            <tr>
                                <th class="govuk-table__header cell-max-300 cell-min-200">Fund headings</th>
                                <th class="govuk-table__header govuk-table__header--numeric">fEC (%)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Full costs (£)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Funding applied for (£)</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="govuk-table__cell govuk-table__cell--middle">Staff</td>
                                    <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                        {#<input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle" name="fullCosts">#}0
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">0</td>
                                </tr>
                                <tr>
                                    <td class="govuk-table__cell govuk-table__cell--middle">Equipment</td>
                                    <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                        <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle magicInput" name="diEquipmemnt" id="diEquipmemnt">
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                        <input type="text" class="govuk-input govuk-input--secret" value="0" name="diEquipmemntAppliedFor" disabled id="diEquipmemntAppliedFor">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="govuk-table__cell govuk-table__cell--middle">Travel and subsistence</td>
                                    <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                        <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle magicInput" name="diTravel" id="diTravel">
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                        <input type="text" class="govuk-input govuk-input--secret" value="0" name="diTravelAppliedFor" disabled id="diTravelAppliedFor">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="govuk-table__cell govuk-table__cell--middle">Other</td>
                                    <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                        <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle magicInput" name="diOther" id="diOther">
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                        <input type="text" class="govuk-input govuk-input--secret" value="0" name="diOtherAppliedFor" disabled id="diOtherAppliedFor">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                {%- endcall %}
            {%- endcall %}



            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-full', customID='', extraClass='') %}
                    {{ components.captionHeading(text='Indirect costs', tag='h2', size='m') }}

                    <details class="govuk-details u-space-y10 js-only" data-module="govuk-details" role="group">
                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                            <span class="govuk-details__summary-text">Guidance for calculating indirect costs</span>
                        </summary>
                        <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                            <div class="tiny-spoof">
                                <p class="govuk-body">These include non-specific costs charged across all projects based on estimates that are not otherwise included as Directly Allocated costs. They include the costs of the Research Organisation's administration such as personnel, finance, library and some departmental services. </p>
                            </div>
                        </div>
                    </details>

                    <div class="responsive-table ">
                        <table class="govuk-table responsive-table__table exceptions-table" id="exceptionTable">
                            <thead class="">
                                <tr>
                                    <th class="govuk-table__header cell-max-300 cell-min-200">Fund headings</th>
                                    <th class="govuk-table__header govuk-table__header--numeric">fEC (%)</th>
                                    <th class="govuk-table__header govuk-table__header--numeric">Full costs (£)</th>
                                    <th class="govuk-table__header govuk-table__header--numeric">Funding applied for (£)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="govuk-table__cell govuk-table__cell--middle">Indirect costs</td>
                                    <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">80%</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                        <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle magicInput" name="indirectCosts" id="indirectCosts">
                                    </td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                        <input type="text" class="govuk-input govuk-input--secret" value="0" name="indirectCostsAppliedFor" disabled id="indirectCostsAppliedFor">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {%- endcall %}
            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-full', customID='', extraClass='') %}
                    {{ components.captionHeading(text='Exceptions', tag='h2', size='m') }}

                    <details class="govuk-details u-space-y10 js-only" data-module="govuk-details" role="group">
                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                            <span class="govuk-details__summary-text">Guidance for calculating exceptions costs</span>
                        </summary>
                        <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                            <div class="tiny-spoof">
                                <p class="govuk-body">These are Directly Incurred costs that Research Councils will fund in full (i.e. at 100%), subject to actual expenditure incurred, or items that are outside fEC.</p>
                            </div>
                        </div>
                    </details>

                    <div class="responsive-table ">
                        <table class="govuk-table responsive-table__table exceptions-table" id="exceptionTable">
                            <thead class="">
                            <tr>
                                <th class="govuk-table__header cell-max-300 cell-min-200">Fund headings</th>
                                <th class="govuk-table__header govuk-table__header--numeric">fEC (%)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Full costs (£)</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Funding applied for (£)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="govuk-table__cell govuk-table__cell--middle">Staff</td>
                                <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">100%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle" name="fullCosts">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">0</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell govuk-table__cell--middle">Equipment</td>
                                <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">100%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle magicInput" name="exEquipment" id="exEquipment">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--secret" value="0" name="exEquipmentAppliedFor" disabled id="exEquipmentAppliedFor">
                                </td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell govuk-table__cell--middle">Travel and subsistence</td>
                                <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">100%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle magicInput" name="exTravel" id="exTravel">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--secret" value="0" name="exTravelAppliedFor" disabled id="exTravelAppliedFor">
                                </td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell govuk-table__cell--middle">Other</td>
                                <td class="govuk-table__cell govuk-table__header--numeric govuk-table__cell--middle">100%</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--width-4 govuk-table__cell--middle magicInput" name="exOther" id="exOther">
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--middle">
                                    <input type="text" class="govuk-input govuk-input--secret" value="0" name="exOtherAppliedFor" disabled id="exOtherAppliedFor">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                {%- endcall %}
            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-three-quarters', customID='', extraClass='_u-space-t40') %}

                    {% call components.formGroup() %}
                        <div class="application-item">
                            <div class="application-item__contents application-item__contents--mac">
                                <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                    <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                        <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                    </legend>
                                    <div class="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">

                                            {% if orgsArrayIndex == 0 %}
                                                {% if allData.orgZeroComplete %}
                                                    <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" checked>
                                                {% else %}
                                                    <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" >
                                                {% endif %}
                                            {% endif %}

                                            {% if orgsArrayIndex == 1 %}
                                                {% if allData.orgOneComplete %}
                                                    <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" checked>
                                                {% else %}
                                                    <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" >
                                                {% endif %}
                                            {% endif %}

                                            {% if orgsArrayIndex == 2 %}
                                                {% if allData.orgTwoComplete %}
                                                    <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" checked>
                                                {% else %}
                                                    <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" >
                                                {% endif %}
                                            {% endif %}

                                            {#<input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox">#}
                                            <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    {%- endcall %}

                    {% call components.formGroup() %}
                        <div class="application-controls govuk-clearfix">
                            <input type="hidden" name="orgName" value="{{ organisationName }}">
                            <input type="hidden" name="orgNameNoSpaces" value="{{ organisationName | removeSpaces}}">
                            <input type="hidden" name="orgsArrayIndex" value="{{ orgsArrayIndex}}">
                            {{ components.button(text='Save and return', extraClass="application-controls__submit")}}
                        </div>
                    {%- endcall %}

                {%- endcall %}
            {%- endcall %}


        </section>

    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}

{% block bodyScripts %}
    {#<script>
        Zepto(function($){
            console.log('zepto loaded');
            /*
                daMemberFullCosts_x			daAppliedFor_x
                diMemberFullCosts_x			diAppliedfor_x
                exMemberFullCosts_x			exAppliedFor_x

                daStaff                     daStaffAppliedFor
                daEstates                   daEstatesAppliedFor
                daOther                     daOtherAppliedFor

                diStaff						diStaffAppliedFor
                diEquipmemnt				diEquipmemntAppliedFor
                diTravel					diTravelAppliedFor
                diOther						diOtherAppliedFor

                indirectCosts				indirectCostsAppliedFor

                exStaff						exStaffAppliedFor
                exEquipment                 exEquipmentAppliedFor
                exTravel                    exTravelAppliedFor
                exOther                     exOtherAppliedFor
            */

            $()

            $('#directlyIncurredCost, #directlyAllocatedCost, #indirectCost ,#exceptionCost').on('blur', function(event) {
                let directlyIncurredCost = parseInt($('#directlyIncurredCost').val(), 10);
                let directlyAllocatedCost = parseInt($('#directlyAllocatedCost').val(), 10);
                let indirectlCost = parseInt($('#indirectCost').val(), 10);
                let exceptionCost = parseInt($('#exceptionCost').val(), 10);
                let totalValue = directlyIncurredCost + directlyAllocatedCost + indirectlCost + exceptionCost;
                // let totalRequested =
                console.log(totalValue);

                /*
                #totalCost
                #totalContribution
                #totalRequested
                 */

                let incurredContribution = (directlyIncurredCost/100)*80;
                $('#incurredContribution').html('£'+parseFloat(incurredContribution).toFixed(0));

                let alllocatedContribution = (directlyAllocatedCost/100)*80;
                $('#alllocatedContribution').html('£'+parseFloat(alllocatedContribution).toFixed(0));

                let indirectContribution = (indirectlCost/100)*80;
                $('#indirectContribution').html('£'+parseFloat(indirectContribution).toFixed(0));

                let exceptionsContribution = (exceptionCost/100)*100;
                $('#exceptionsContribution').html('£'+parseFloat(exceptionsContribution).toFixed(0));


                let totalRequested = parseFloat((incurredContribution + alllocatedContribution + indirectContribution + exceptionsContribution)).toFixed(0);

                $('#totalContribution').html('£'+(totalValue-totalRequested));

                $('#totalCost').html('£'+totalValue);

                // $('#totalRequested').html('£'+parseFloat((incurredContribution + alllocatedContribution + indirectContribution + exceptionsContribution)).toFixed(0));

                $('#totalRequested').html('£'+totalRequested);

                event.preventDefault();
            });
        })#}
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


    <script>

        $('.magicInput').each(function(index){
            $(this).on('blur', function(e){
                e.preventDefault();
                let tempInputID = $(this).attr('id');
                let tempTarget = tempInputID + 'AppliedFor';
                let

            });
        });


       /* let div_top = $('.menu').offset().top;
        console.log('div_top = ' + div_top);
        $(window).load(function () {
            console.log($('.menu').offset().top);
        });
        $(window).scroll(function () {
            var window_top = $(window).scrollTop() - 0;
            if (window_top > div_top) {
                if (!$('.menu').is('.sticky')) {
                    $('.menu').addClass('sticky');
                }
            } else {
                $('.menu').removeClass('sticky');
            }
        });

        $('.govuk-tabs__tab').each(function(index){
            $(this).on('click', function(e){
                e.preventDefault();
                console.log('clicking');
                // set previous scroll before doing anything
                $('.govuk-tabs__list-item--selected a').attr('data-scroll', $(document).scrollTop());
                // hide all tabs
                $('.govuk-tabs__panel').addClass('govuk-tabs__panel--hidden');
                $('.govuk-tabs__list-item').removeClass('govuk-tabs__list-item--selected');
                // activate desired tab
                $('#' + $(this).data('tab')).removeClass('govuk-tabs__panel--hidden');
                $(this).parent().addClass('govuk-tabs__list-item--selected');
                // scroll to active tab
                $(document).scrollTop(parseInt($(this).attr('data-scroll')));
            });
        });*/
    </script>

{% endblock %}
