{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/team-resources-costs/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/team-resources-costs/applications' %}

{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = true %}

{% set pageTitle = 'Applciation overview' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dr. Sheila Banner' %}
{% set prototypeData = prototypeData if prototypeData %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Applciation overview ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/team-resources-costs/applications', text:'Back to applications'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        Application submitted {{ 'dataAndTime' | dateAndTime() }}.
                    </h3>
                    {#<p class="govuk-body">The application is now with UKRI and they will respond when it has been reviewed.</p>#}
                </div>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Application overview', caption='APP171: Bio-detoxification of Ricin in castor bean') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="mainContent">

        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full', customID='mainCntent') %}
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#">Write application</a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#">Read application</a>
                        </li>
                    </ul>
                </div>
            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                {{ components.captionHeading(text='What happens next?', tag='h2', size='s') }}

                <p class="govuk-body">Your application has been received and, if eligible, will be sent for assessment. Assessors will create shortlists for consideration at a joint panel meeting in June.</p>

                <p class="govuk-body">All applicants will be informed if they have, or have not been selected for the next stage by email between 7-11 July 2023. </p>
                <h2 class="govuk-heading-s">Notification</h2>
                <p class="govuk-body">We will inform you of our decision by email.</p>


                {#<div class="application-items">
                    {% set detailsIsComplete = true %}
                    {% set caseForSupportIsComplete = true %}

                    <div class="application-item {% if detailsIsComplete %}application-item--complete{% else %}application-item--incomplete{% endif %} application-item--skinny ">
                        <div class="application-item__contents govuk-clearfix">
                            <div class="application-item__left">{{ components.link(text='1. Details and summary', url='#')}}</div>
                            <div class="application-item__right">

                                {% if detailsIsComplete %}
                                    <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                                {% else %}
                                    <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="application-item {% if caseForSupportIsComplete %}application-item--complete{% else %}application-item--incomplete{% endif %} application-item--skinny ">
                        <div class="application-item__contents govuk-clearfix">
                            <div class="application-item__left">{{ components.link(text='2. Case for support', url='#')}}</div>
                            <div class="application-item__right">
                                {% if caseForSupportIsComplete %}
                                    <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                                {% else %}
                                    <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="application-item application-item--complete application-item--skinny ">
                        <div class="application-item__contents govuk-clearfix">
                            <div class="application-item__left">{{ components.link(text='3. Team', url='/prototypes/team-resources-costs/team')}}</div>
                            <div class="application-item__right">
                                    <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                            </div>
                        </div>
                    </div>

                    <div class="application-item application-item--complete application-item--skinny ">
                        <div class="application-item__contents govuk-clearfix">
                            <div class="application-item__left">{{ components.link(text='4. Resources and costs', url='#')}}</div>
                            <div class="application-item__right">
                                    <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="application-controls govuk-clearfix">
                    #}{#<p class="govuk-body">The a</p>#}{#

                </div>#}

            {%- endcall %}

            {% call components.bulmaColumnAny(size='is-4 is-offset-1') %}

                <div class="application-data">
                    <dl class="application-data__list">
                        <dt class="application-data__key">Opportunity:</dt>
                        <dd class="application-data__value"><a href="#" class="govuk-link" target="_blank">OPP1032: Development of a Novel Inhibitor of Ricin</a></dd>

                        <dt class="application-data__key">Application reference:</dt>
                        <dd class="application-data__value">APP00171</dd>

                        <dt class="application-data__key">Applicant:</dt>
                        <dd class="application-data__value">Manolo Bauer</dd>

                        <dt class="application-data__key">Application deadline:</dt>
                        <dd class="application-data__value">14 April 2023, 4:00pm</dd>
                        <dt class="application-data__key">Funder:</dt>
                        <dd class="application-data__value">AHRC</dd>
                    </dl>
                </div>

            {%- endcall %}

        {%- endcall %}


    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}

{% block bodyScripts %}
    {#<script>
    </script>#}
{% endblock %}
