{% set activeNavItem = 'home' %}

{% extends 'layouts/design.layout.njk' %}

{#{% set backLinkContents =  [{url:'/', text:'Home'}] %}#}
{% set pageTitle = 'UKRI Design system' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}
            {{ components.captionHeading(text='Design and build digital services for UKRI') }}
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="mainContent">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}

                <p class="govuk-body govuk-!-font-size-24">Everything you need to make accessible and consistent digital product</p>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow(extraClass='u-space-t20 u-space-b45') %}

            {% call components.bulmaColumnAny(size='column is-3') %}

                <div class="tfs-tile3 tfs-tile3--plain">
                    <a href="/design/styles" class="tfs-tile3__mega-link">
                        <span class="tfs-tile3__heading">Styles</span>
                        <span class="tfs-tile3__progress">Guides for applying layout, typography and colour.</span>
                    </a>
                </div>

            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-3') %}

                <div class="tfs-tile3 tfs-tile3--plain">
                    <a href="/design/components" class="tfs-tile3__mega-link">
                        <span class="tfs-tile3__heading">Components</span>
                        <span class="tfs-tile3__progress">Reusable and accessible guidance to build the components.</span>
                    </a>
                </div>

            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-3') %}

                <div class="tfs-tile3 tfs-tile3--plain">
                    <a href="/design/patterns" class="tfs-tile3__mega-link">
                        <span class="tfs-tile3__heading">Patterns</span>
                        <span class="tfs-tile3__progress">Patterns on common tasks and how components should work together.</span>
                    </a>
                </div>

            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-3') %}

                <div class="tfs-tile3 tfs-tile3--plain">
                    <a href="/design/prototypes" class="tfs-tile3__mega-link">
                        <span class="tfs-tile3__heading">Prototypes</span>
                        <span class="tfs-tile3__progress">Dynamic journeys for testing and research.</span>
                    </a>
                </div>

            {%- endcall %}


        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-half') %}

                {{ components.captionHeading(text='UKRI Design community', tag='h2', size='l') }}

                <h3 class="govuk-heading-m"><a href="/design/principles" class="govuk-link">Principles</a></h3>

                {#<p class="govuk-body"><a href="/design/principles" class="govuk-link">Principles</a></p>#}

                <p class="govuk-body">Value statements that frame design decisions and support consistency in decision making across UKRI</p>

            {%- endcall %}

        {%- endcall %}

    </section>

{% endblock %}
{% block bodyScripts %}
{% endblock %}


