{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set pageTitle = 'Applications ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/peer-review-external/applicant-home', text:'Back to home'}] %}

{#{% set inviteResponse = inviteResponse if inviteResponse %}
{% set appData = appData if appData %}#}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Applications', caption='Prof. Giles Dexter') }}
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full {#is-9-desktop is-9-widescreen#}') %}

                <ul class="overview-items overview-items--plain">



                    <li class="overview-item overview-item--inactive">
                        <div class="columns">
                            <div class="column is-8">
                                <h3 class="overview-item__title">
                                    <a href="/prototypes/peer-review-external/applicant-review-tabs-complete" class="govuk-link">Bio-detoxification of Ricin in castor bean</a>
                                </h3>
                                <ul class="overview-item__meta-list">

                                    <li class="overview-item__meta-item"><strong>Opportunity: </strong>OPP276: Development of a Novel Inhibitor of Ricin<br></li>
                                    <li class="overview-item__meta-item"><strong>Application reference:</strong> AWA24<br></li>
                                    <li class="overview-item__meta-item"><strong>Organisation:</strong> University of Cardiff</li>
                                </ul>
                            </div>
                            <div class="column is-2">
                                <div class="u-align-setup-vertical u-align-center">
                                    <div class="u-align-cell">
                                        <span class="overview-item__meta">
                                            <strong><span class="">Closed</span></strong>
                                            <br>
                                            <span class="govuk-body-s">Deadline 14 May 2021</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <div class="u-align-cell">
                                        <strong>Response submitted</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="overview-item  ">
                        <div class="columns">
                            <div class="column is-8">
                                <h3 class="overview-item__title">
                                    <a href="#" class="govuk-link">Linear field waves in liquids</a>
                                </h3>
                                <ul class="overview-item__meta-list">

                                    <li class="overview-item__meta-item"><strong>Opportunity: </strong>OPP390: Electromagnetic waves in liquids<br></li>
                                    <li class="overview-item__meta-item"><strong>Application reference:</strong> AWA97<br></li>
                                    <li class="overview-item__meta-item"><strong>Organisation:</strong> University of Cardiff</li>
                                </ul>
                            </div>
                            <div class="column is-2">
                                <div class="u-align-setup-vertical u-align-center">
                                    <div class="u-align-cell">
                                        <span class="overview-item__meta">
                                            <strong><span class="govuk-!-font-size-24">8</span>
                                            <br>days left</strong>
                                            <br>
                                            <span class="govuk-body-s">Deadline 14 May 2021</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <div class="u-align-cell">
                                        <strong>Incomplete</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            {%- endcall %}
        {%- endcall %}


    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

