{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set navType = 'admin' %}
{% set isAdminUser = true %}

{% set pageTitle = 'Expert review response' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds u-space-t30') %}
            {{ components.captionHeading(text='Expert review response') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full', customID='main-content') %}

            <ol class="govuk-list ">

                <li>
                    <strong>Expert reviewer: Respond to invitation to review email</strong>
                    <br>
                    <a href="/prototypes/peer-review-external/invitation-email" class="govuk-link">Expert review invitation email</a>
                    <br><br>
                </li>

                <li>
                    <strong>Expert reviewer: Sign in and write review</strong>
                    <br>
                    should be link to email <br>
                    {#<a href="/prototypes/register-v1/start?applicantCommentsOnReviews=true" class="govuk-link">Sign in to write review</a>#}
                    <a href="/prototypes/peer-review-external/complete-review-email" class="govuk-link">Complete review email</a>
                    <br><br>
                </li>

                <li>
                    <hr>
                </li>

                {#<li>
                    <strong>Sign in to start review process</strong>
                    <br>
                    <a href="/prototypes/register-v1/start?applicantCommentsOnReviews=true" class="govuk-link">Start sign in journey</a>
                    <br><br>
                </li>#}

               {# <li>
                    <strong>Review email that is returning for edits (eg reviewer has added personal information )</strong>
                    <br>
                    <a href="/prototypes/peer-review-external/invitation-email" class="govuk-link">Expert review invitation email</a>
                    <br><br>
                </li>#}
                <li>
                    <strong>Applicant journey</strong>
                    <br>
                    <a href="/prototypes/peer-review-external/applicant-email" class="govuk-link">Applicant's email to read reviews</a>
                    <br><br>
                </li>
            </ol>

            <hr>

            <p class="govuk-body">
                <a href="/prototypes/peer-review-external?clearSession=true" class="govuk-link">Clear all stored data</a>
            </p>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
{% block bodyScripts %}
    {#<script>
      Zepto(function($){
        $('#thing').on('click', function() {
        });
      });
    </script>#}
{% endblock %}


