<html><head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="format-detection" content="telephone=no">
    <title>Page title</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53" bgcolor="#2E2D62">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="70" bgcolor="#2E2D62" valign="middle"><a href="https://www.ukri.org" style="text-decoration: none;"><img src="https://tfs-prototyping.herokuapp.com/images/ufs/UKRI_logo_email.png" alt="" height="48" border="0" style="padding: 10px 20px 10px 0;"></a></td>
                    <td width="100%" bgcolor="#2E2D62" valign="middle" align="left"><span style="padding-left: 5px;"><a href="https://www.ukri.org/" style="font-family: Helvetica, Arial, sans-serif; font-size: 28px; line-height: 1.315789474; font-weight: 100; color: #efefef; text-decoration: none;">Funding Service</a></span></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px">
    <tr>
        <td width="100%">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="100%">
                        <h1 style="font-family: Helvetica, Arial, sans-serif; font-size: 36px; line-height: 1.315789474; font-weight: 700; margin: 19px 0 38px 0; color: #2E2D62">Please review an application, 'Bio-detoxification of Ricin in castor bean' for funding</h1>
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear Dr. Jane Doeington-Longname,</p>
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">We believe you have the relevant expertise to review applications for the Opportunity <a href="#">Development of a Novel Inhibitor of Ricin</a>.</p>

                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Details and a summary of the application we want you to review are set out below. We estimate it taking between 2-5 hours and the deadline for returning your review is 14 May 2021.</p>

                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Please respond to this invitation as soon as possible by clicking on the link at the bottom of this email. This takes you to a screen where you can accept, decline or request a deadline extension.</p>

                       {# <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">[Additional text by Opportunity manager]</p>#}

                        {#<h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 24px; line-height: 1.315789474; font-weight: 700; margin: 38px 0 19px 0;">Application title:</h2>#}
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                            <strong>Application title:</strong><br>
                            Bio-detoxification of Ricin in castor bean</p>
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                            <strong>Team:</strong><br>
                            <strong>Principal investigator:</strong> Prof Giles Dexter, Coventry University<br>
                            <strong>Co-investigator:</strong> Prof Gillian Demetriov,  Coventry University<br>
                            <strong>Researcher:</strong> Dr. Maximoma Turnipé, Coventry University<br>
                        </p>

                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                            <strong>Grant size:</strong><br>
                            £80,000</p>

                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                            <strong>Summary:</strong><br>
                            The PI proposes a high-impact collaborative research project to develop new inhibitors for ribosome inactivating proteins (RIPs), such as ricin and Shiga toxin. Ricin toxin, produced by the castor bean plant, has a nefarious past. Ricin is a well-known homicidal poison and has been used in several bioterrorist attacks. Shiga toxin is a deadly product of enterobacterial Escherichia coli. RIPs are RNA N-glycosidases that enzymatically remove specific purine residues from the universally conserved sarcin/ricin loop (S/R loop) of large ribosomal RNA, causing cellular death.
<br><br>Phasellus ac risus lectus. Proin quis vehicula metus. Suspendisse eget odio metus. Maecenas vehicula quam ut accumsan dapibus. Phasellus sit amet nibh a lectus commodo viverra in id risus. Maecenas at sem nec dolor consectetur accumsan. Morbi non eros magna. Sed et mauris libero. Donec sollicitudin, risus non pulvinar consectetur, nibh lacus venenatis nunc, eget laoreet libero quam et lacus. Proin eros tortor, tempor quis dui quis, consequat ultricies arcu. Sed congue turpis at elit posuere, quis iaculis elit consequat. In maximus eu mi id euismod.
                        </p>


                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><a href="/prototypes/peer-review-external/respond-to-invite" style="display:block;width:120px;padding:7px 10px 8px 10px;background-color:#00703c;border-bottom:2px solid #002d18;color:white;text-decoration:none;text-align: center">Respond now</a></p>

                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Yours sincerely,
                        <br>
                            Name of council, part of UK Research and Innovation
                        </p>
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><hr></p>
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.315789474; margin: 0 0 30px 0;">If the button does not work use the link below or copy and paste it into your browser's address bar.</p>
                        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.315789474; margin: 0 0 30px 0;"><a href="#">https://ukri-funding-service.ukri.org/do-thing/32902fbpy85243bpf2</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body></html>
