{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set pageTitle = 'Review and submit ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/peer-review-external/respond-to-invite', text:'Back to all responses'}] %}

{% set acceptIsNotComplete = acceptIsNotComplete if acceptIsNotComplete %}
{% set review = review if review %}
{% set rating = rating if rating %}
{% set thisReviewValue = thisReviewValue if thisReviewValue %}


{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Review and submit', caption='Bio-detoxification of Ricin in castor bean') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-7', extraClass='') %}

            {% call components.form(action='#', method='POST',name='confirmAcceptInvite') %}

                <h2 class="govuk-heading-m">Your review</h2>

                <div class="output u-space-b30">
                    {{ review }}
                </div>

                <h2 class="govuk-heading-m">Your rating</h2>

                <p class="govuk-body">
                    {{ rating }} - {{ thisReviewValue }}
                </p>



                {% call components.formGroup() %}
                    <div class="application-controls govuk-clearfix">

                        {{ components.button(text='Accept and submit response', extraClass="application-controls__submit")}}

                        <br><br><br>

                        {{ components.link(text='Cancel, return to write your review', url='/prototypes/peer-review-external/review-tabs#write', extraClass="application-controls__cancel")}}

                    </div>
                {%- endcall %}

            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-4 is-offset-1') %}

            <div class="govuk-related-items govuk-related-items--flush">
                {{ components.captionHeading(text='You must:', tag='h3', size='s', extraClass='u-space-t20') }}
            </div>

            <ul class="govuk-list govuk-list--bullet bull">
                <li>Cover strengths and weaknesses</li>
                <li>Cover all application criteria: the idea, importance, timeliness, approach, impact.</li>
                <li>Be objective, evidenced based and justified</li>
                <li>Challenge the applicant constructively</li>
            </ul>

            {{ components.captionHeading(text='Do not:', tag='h3', size='s', extraClass='u-space-y5') }}

            <ul class="govuk-list govuk-list--bullet bull">
                <li>Share personal information</li>
                <li>Base on rumour or opinion.</li>

            </ul>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

