{% set loggedOut = false %}
{% set isAdminUser = false %}
{% set showExternalNav = true %}
{% set signInLink = '#' %}
{% set hideAccountLinks = true %}
{% set activeNavItem = 'reviews' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/peer-review-external/user-home' %}
{% set reviewsLink = '/prototypes/peer-review-external/user-reviews' %}
{% set awardsSetupLinkHide = true %}
{% set awardsLinkHide = true %}
{% set signOutLink = '#' %}
{% set altProfilePagelink = '#' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set pageTitle = 'Application review' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/peer-review-external/user-reviews', text:'Back to all reviews'}] %}

{% set review = review if review %}
{% set rating = rating if rating %}

{% set showStickyNavscripts = true %}
{% set listItems = [
    { text: 'Case for support', url: '#case', class:'canScroll' },
    { text: 'Capability to deliver', url: '#capability', class:'canScroll' },
    { text: 'Pathways to impact', url: '#pathways', class:'canScroll' },
    { text: 'Data impact statement', url: '#data', class:'canScroll' },
    { text: 'Finances', url: '#finances', class:'canScroll' },
    { text: 'Letters of support', url: '#letters', class:'canScroll' }
] %}

{% block content %}

    <style>
        .tox-statusbar__wordcount, .tox-statusbar__branding { display: none!important}
    </style>

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Bio-detoxification of Ricin in castor bean', caption='Development of a Novel Inhibitor of Ricin') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full', customID='main-content') %}

            <p class="govuk-body">
                <strong>Review deadline:</strong> 14 May 2021 (21 days left) <br>
                <a href="#" class="govuk-link">Request extension</a>
            </p>
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#overview">
                                Application overview
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#read">
                                Read application
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#write">
                                Write your review
                            </a>
                        </li>
                    </ul>
                    <style>
                        .govuk-tabs__panel {
                            border-left:0!important;
                            border-right:0!important;
                            border-bottom:0!important;
                            padding-left:0!important;
                            padding-right:0!important;
                        }
                    </style>
                    <div class="govuk-tabs__panel" id="overview">

                        {% call components.bulmaRow() %}

                            {% call components.bulmaColumnAny(size='is-8', extraClass='') %}

                                {{ components.captionHeading(text='Review deadline',tag='h2', size='s') }}

                                <p class="govuk-body">
                                    14 May 2021
                                </p>

                                {{ components.captionHeading(text='Opportunity',tag='h2', size='s') }}

                                <p class="govuk-body">
                                    <a href="#">Development of a Novel Inhibitor of Ricin</a>
                                </p>

                                {{ components.captionHeading(text='Application title',tag='h2', size='s') }}

                                <p class="govuk-body">
                                    Bio-detoxification of Ricin in castor bean
                                </p>

                                {{ components.captionHeading(text='Team',tag='h2', size='s') }}

                                <p class="govuk-body">
                                    <strong>Principal investigator:</strong> Prof Giles Dexter, Coventry University<br>
                                    <strong>Co-investigator:</strong> Prof Ian Charles,  Coventry University<br>
                                    <strong>Researcher:</strong> Dr Maxwell Peterson,  Coventry University<br>
                                </p>

                                {{ components.captionHeading(text='Grant size',tag='h2', size='s') }}

                                <p class="govuk-body">
                                    £80,000
                                </p>

                                {{ components.captionHeading(text='Summary',tag='h2', size='s') }}

                                <p class="govuk-body">
                                    The PI proposes a high-impact collaborative research project to develop new inhibitors for ribosome inactivating proteins (RIPs), such as ricin and Shiga toxin. Ricin toxin, produced by the castor bean plant, has a nefarious past. Ricin is a well-known homicidal poison and has been used in several bioterrorist attacks. Shiga toxin is a deadly product of enterobacterial Escherichia coli. RIPs are RNA N-glycosidases that enzymatically remove specific purine residues from the universally conserved sarcin/ricin loop (S/R loop) of large ribosomal RNA, causing cellular death.
                                </p>

                                <p class="govuk-body">
                                    Phasellus ac risus lectus. Proin quis vehicula metus. Suspendisse eget odio metus. Maecenas vehicula quam ut accumsan dapibus. Phasellus sit amet nibh a lectus commodo viverra in id risus. Maecenas at sem nec dolor consectetur accumsan. Morbi non eros magna. Sed et mauris libero. Donec sollicitudin, risus non pulvinar consectetur, nibh lacus venenatis nunc, eget laoreet libero quam et lacus. Proin eros tortor, tempor quis dui quis, consequat ultricies arcu. Sed congue turpis at elit posuere, quis iaculis elit consequat. In maximus eu mi id euismod.
                                </p>

                                <p class="govuk-body u-space-t45">
                                    <a href="/prototypes/peer-review-external/invite-reject" class="govuk-link">Unable to review this application?</a>
                                </p>


                            {%- endcall %}

                        {%- endcall %}

                    </div>
                    {#


                            END TAB ONE


                    #}

                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="read">

                        {% call components.bulmaRow() %}

                            {% call components.bulmaColumnAny(size='is-3') %}
                                <nav class="sticky-nav">
                                    {{ components.linkHeading(text='Contents', tag='h2', size='s')}}

                                    {{ components.list(items=listItems, parentClass='sticky-nav')}}

                                    {#<a href="#" class="govuk-link js-only print-link print-link--tabs" id="printThis" onclick="window.print();return false;">Print this page</a>#}
                                </nav>
                            {%- endcall %}

                            {% call components.bulmaColumnAny(size='is-7', extraClass='{#u-space-t20#}') %}

                                {% include '../generic-includes/review-content.njk' %}

                                <p class="govuk-body u-space-t45">
                                    <a href="/prototypes/peer-review-external/invite-reject" class="govuk-link">Unable to review this application?</a>
                                </p>

                            {%- endcall %}

                        {%- endcall %}
                    </div>
                    {#


                            END TAB TWO


                    #}
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="write">

                        {% call components.bulmaRow() %}

                            {% call components.bulmaColumnAny(size='is-8', extraClass='') %}

                                {{ components.captionHeading(text='Your review',tag='h2', size='m') }}

                                <p class="govuk-body">Your review will be used by the panel and provides the basis of the funding decision.</p>

                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">Guidance for writing a review</span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <p>Where possible, reviews must be based on evidence, which you should clearly show in your comments. Please:</p>
                                        <ul class="govuk-list govuk-list--bullet">
                                            <li>firstly, familiarise yourself with any specified assessment factors or scoring matrix</li>
                                            <li>provide comments and recommendations that are consistent with, justify and explain your scores</li>
                                            <li>ensure your comments are comprehensive but concise</li>
                                            <li>clearly identify strengths and weaknesses of the application in a constructive manner</li>
                                            <li>raise any concerns in the form of questions for the applicant</li>
                                            <li>avoid jargon - panellists may not be specialists in your field</li>
                                            <li>consider other aspects of the proposed research or innovation, like its methodology, experimental designand data management plan, As well as its potential impact (and the pathways to achieving it) including any ethical and social issues (for example, the appropriate use of animals and/or human tissue).</li>
                                        </ul>
                                    </div>
                                </details>


                            {%- endcall %}

                        {%- endcall %}


                        {% call components.form(action='#', method='POST',name='formReview') %}


                            {% call components.bulmaRow() %}

                                {% call components.bulmaColumnAny(size='is-8 ', extraClass='{#u-space-t20#}') %}
                                    <noscript>
                                        <div class="alerts  alerts--danger ">
                                            <strong>JavaScript is not enabled</strong> This means anything you enter or paste into the box below will appear without formatting. To use 'rich text editing' functions, like bold text or lists, you will need <a href="https://www.enable-javascript.com/" class="govuk-link" target="_blank">to enable JavaScript</a> in your device or browser's security settings. If you did not disable JavaScript, try refreshing this page in a few minutes.
                                        </div>
                                    </noscript>
                                    {#{{ components.textarea(options=selectOptions, label='Enter your case for support', labelBold=true, name='htmlTest', id='tinyMCEInput', hint='', group=true, rows='12', size='', value=exampleHTML, extraClass='', visuallyHidden=true) }}#}
                                    <div class="form-group ">
                                        <label class="govuk-visually-hidden" for="tinyMCEInput">Enter your review</label>
                                        <textarea class="form-control " name="review" id="tinyMCEInput" rows="12">{{ review }}</textarea>
                                        <p class="govuk-body u-space-t20"><span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 2500 words remaining</span></p>
                                    </div>


                                    <p>
                                        <span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite"></span>
                                    </p>

                                {%- endcall %}

                                {% call components.bulmaColumnAny(size='is-4') %}

                                    <div class="govuk-related-items govuk-related-items--flush">
                                        {{ components.captionHeading(text='You must:', tag='h3', size='s', extraClass='u-space-t20') }}
                                    </div>

                                    <ul class="govuk-list govuk-list--bullet bull">
                                        <li>cover strengths and weaknesses</li>
                                        <li>cover all application criteria: the idea, importance, timeliness, approach, impact</li>
                                        <li>be objective, evidenced based and justified</li>
                                        <li>challenge the applicant constructively</li>
                                    </ul>

                                    {{ components.captionHeading(text='Do not:', tag='h3', size='s', extraClass='u-space-y5') }}

                                    <ul class="govuk-list govuk-list--bullet bull">
                                        <li>share personal information</li>
                                        <li>base on rumour or opinion</li>
                                    </ul>

                                {%- endcall %}

                            {%- endcall %}

                            {% call components.bulmaRow() %}

                                {% call components.bulmaColumnAny(size='is-8 ', extraClass='u-space-t45') %}

                                    <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                <h2 class="govuk-fieldset__heading">Overall score</h2>
                                            </legend>

                                            <p class="govuk-body">Select the grade most appropriate for this application.</p>

                                            <details class="govuk-details" data-module="govuk-details">
                                                <summary class="govuk-details__summary">
                                                    <span class="govuk-details__summary-text">Guidance for scoring a review</span>
                                                </summary>
                                                <div class="govuk-details__text">
                                                    <p>Use the explanations below to help you select a score and word that could go at the end of the following sentence:
                                                        'In my opinion this application is...'</p>
                                                    <ol class="govuk-list govuk-list--bullet">
                                                        <li><strong>Unviable</strong> – there is a rational or practical reason why the proposal in this application is unfeasible</li>
                                                        <li><strong>Unsuitable</strong> – this application is either not aligned to the requirements of the Opportunity or lacks soundness in its methodology</li>
                                                        <li><strong>Un-recommendable</strong> – the application may be viable, aligned to the Opportunity’s requirements and sound. Yet it lacks either focus or originality or the potential outcomes are not significant</li>
                                                        <li><strong>Viable</strong> – this application meets enough of the requirements, objectives and criteria stipulated in the Opportunity to be worthy of further consideration</li>
                                                        <li><strong>Suitable</strong> – the application meets all the requirements, objectives and criteria stipulated in the Opportunity</li>
                                                        <li><strong>Recommendable</strong> - the application exceeds all the requirements, objectives and criteria stipulated in the Opportunity with potentially significant outcomes</li>
                                                    </ol>
                                                </div>
                                            </details>


                                            <div class="govuk-radios govuk-radios--small">
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="score1" name="rating" type="radio" value="1" {% if rating == 1 %} checked {% endif %}>
                                                    <label class="govuk-label govuk-radios__label" for="score1">1 - Unviable</label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="score2" name="rating" type="radio" value="2" {% if rating == 2 %} checked {% endif %}>
                                                    <label class="govuk-label govuk-radios__label" for="score2">2 - Unsuitable</label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="score3" name="rating" type="radio" value="3" {% if rating == 3 %} checked {% endif %}>
                                                    <label class="govuk-label govuk-radios__label" for="score3">3 - Un-recommendable </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="score4" name="rating" type="radio" value="4" {% if rating == 4 %} checked {% endif %}>
                                                    <label class="govuk-label govuk-radios__label" for="score4">4 - Viable </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="score5" name="rating" type="radio" value="5" {% if rating == 5 %} checked {% endif %}>
                                                    <label class="govuk-label govuk-radios__label" for="score5">5 - Suitable </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="score6" name="rating" type="radio" value="6" {% if rating == 6 %} checked {% endif %}>
                                                    <label class="govuk-label govuk-radios__label" for="score6">6 - Recommendable </label>
                                                </div>

                                            </div>

                                        </fieldset>
                                    </div>


                                {%- endcall %}
                            {%- endcall %}

                            {% call components.bulmaRow(extraClass='') %}

                                {% call components.bulmaColumnAny(size='is-8 ', extraClass='u-space-t45') %}

                                    <div class="application-controls govuk-clearfix">
                                        <button type="submit" class="govuk-button application-controls__submit" name="submitButton" >Check and submit</button>

                                    </div>

                                    <p class="govuk-body u-space-t10">
                                        <a href="/prototypes/peer-review-external/invite-reject" class="govuk-link">Unable to review this application?</a>
                                    </p>

                                {%- endcall %}

                            {%- endcall %}

                        {%- endcall %}




                    </div>
                    {#



                            END TAB THREE



                    #}

                </div>
            {%- endcall %}

        {%- endcall %}
    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}

{% block bodyScripts %}
    {#<script>
    </script>#}
    <script type="text/javascript">
        /* smooth-scroll.js v1.3.1 */
        /*
        n=0,
        r=500,
        i=15,
        */
        (function(e,t){
            "use strict";
            var n=0,
                r=250,
                i=15,
                /*s=document.getElementsByTagName("a"),*/
                s=document.getElementsByClassName('canScroll'),
                o;
            for(var u=0;u<s.length;u++){
                o=s[u].attributes.href===t?null:s[u].attributes.href.nodeValue.toString();
                if(o!==null&&o.length>1&&o.indexOf("#")!=-1){
                    s[u].onclick=function(){
                        var n,s=this.attributes.href.nodeValue.toString(),o=s.substr(0,s.indexOf("#")),u=s.substr(s.indexOf("#")+1);if(n=document.getElementById(u)){var l=(r-r%i)/i,c=f(),h=(a(n)-c)/l;if(e.history&&typeof e.history.pushState=="function")e.history.pushState({},t,o+"#"+u);for(var p=1;p<=l;p++){(function(){var t=h*p;setTimeout(function(){e.scrollTo(0,t+c)},i*p)})()}return false}}}}var a=function(e){var r=n*-1;while(e.offsetParent!=t&&e.offsetParent!=null){r+=e.offsetTop+(e.clientTop!=null?e.clientTop:0);e=e.offsetParent}return r};var f=function(){return e.pageYOffset!==t?e.pageYOffset:document.documentElement.scrollTop!==t?document.documentElement.scrollTop:document.body.scrollTop}})(window)
    </script>

    <script src="https://cdn.tiny.cloud/1/phk3goz7y02jvj65em0m21azcq1qr7abduimch9isoe4jkor/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        const counteroutputFoot = document.getElementById('wordCount');
        let words = 0;
        const limit = 2500;
        let tinyMCEWordCount;

        tinymce.init({
            selector: '#tinyMCEInput',
            height: 500,
            {% if readOnly %} readonly : 1, {% endif %}
            plugins: [
                'advlist autolink lists link image preview anchor',
                'media table paste  wordcount'
            ],
            setup: function(editor) {

                editor.on('keyup', function(e) {
                    tinyMCEWordCount = parseInt(document.getElementsByClassName('tox-statusbar__wordcount')[0].innerHTML.split([' ']));
                    console.log('tinyMCEWordCount = ' + tinyMCEWordCount);
                    words = tinyMCEWordCount;
                    let remainder = limit - words;
                    if (words < limit) {
                        counteroutputFoot.innerHTML = 'You have ' + remainder + ' words remaining';
                    } else {
                        let overCount = words - limit;
                        counteroutputFoot.innerHTML = '<span style="font-weight:700;color:red">You have ' +  overCount + ' words too many</span>';
                    }
                });

                editor.on('init', function(e) {
                    setTimeout(function(){
                        tinyMCEWordCount = parseInt(document.getElementsByClassName('tox-statusbar__wordcount')[0].innerHTML.split([' ']));
                        console.log('tinyMCEWordCount = ' + tinyMCEWordCount);
                        words = tinyMCEWordCount;
                        let remainder = limit - words;
                        counteroutputFoot.innerHTML = 'You have ' + remainder + ' words remaining';
                    }, 500);
                });
            },
            toolbar: 'formatselect | bold italic | bullist numlist | align | indent outdent | link | table |',
            content_css: [
                '//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i',
                '/stylesheets/tinymce.css'
            ],
            menubar: false,
        });
    </script>

    {#<script src="https://cdn.tiny.cloud/1/phk3goz7y02jvj65em0m21azcq1qr7abduimch9isoe4jkor/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        /*
      tinyMCE.init({
          setup: function(editor) {
              editor.on("init", function(){
              editor.addShortcut("ctrl+u", "", "");
          });
          }
      })
      oninit : "disableShortcuts",
          setup: function(editor) {
            editor.on('init', function(){
              editor.addShortcut('Command+I', '', '');
            });
          },

      */

        tinymce.init({
            selector: '#tinyMCEInput',
            height: 500,
            plugins: [
                'advlist autolink lists link anchor',
                'wordcount'
            ],
            content_style: '.red-text {color: red}',
            formats :{
                //redText: { selector: 'p', classes: 'red-text' },
                redText: { inline: 'span', classes: 'red-text' },
                para: { selector: 'p,h2,h3,h4,li', classes: 'govuk-body' },
                heading2: { selector: 'p,h2,h3,h4,li', classes: 'govuk-heading-l', exact: true },
                heading3: { selector: 'p,h2,h3,h4', classes: 'govuk-heading-m', exact: true },
                heading4: { selector: 'p,h2,h3,h4', classes: 'govuk-heading-s', exact: true },
                unorderedList: { selector: 'ul, ol, p,h2,h3,h4', classes: 'govuk-list govuk-list--bullets'},
            },
            style_formats: [
                /*{title: 'Red text', format: 'redText', styles: { color: '#ff0000' }},*/
                {title: 'Paragraph', format: 'para'},
                /*{title: 'Heading 2', format: 'heading2', block: 'h2', /!*styles: { color: 'lime' },*!/ classes: 'govuk-heading-l'},*/
                {title: 'Heading 2', format: 'heading2', remove: 'all', block: 'h2', classes: 'govuk-heading-l'},
                {title: 'Heading 3', format: 'heading3', block: 'h3', classes: 'govuk-heading-m'},
                {title: 'Heading 4', format: 'heading4', block: 'h4', classes: 'govuk-heading-s'},
                {title: 'Unordered list', format: 'unorderedList', block: 'ul'},
            ],
            advlist_bullet_styles: 'disc',
            advlist_number_styles: 'default',
            // toolbar: 'formatselect | bold italic | bullist numlist | align | indent outdent | link',
            // toolbar: 'formatselect | bold | bullist numlist | link',
            content_css: [
                '//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i',
                '/stylesheets/tinymce.css'
            ],
            menubar: false,
        });
    </script>
    <script>
        ;(function(){
            let wordcounter = document.getElementById('codeOutput');
            let counteroutputFoot = document.getElementById('wordCount2');
            let words;
            const limit = 50;
            function countemwords(){
                words = (wordcounter.value == '')? 0 : wordcounter.value.split(' ').length;
                let remainder = limit - words;
                counteroutputFoot.innerHTML = 'You have ' + words + ' words';
            }
            wordcounter.addEventListener('input', function(e){
                countemwords()
            }, false);
            document.addEventListener("DOMContentLoaded", function(event) {
                countemwords()
            }, false);
            window.addEventListener("load", function(event) {
                countemwords();
            }, false)
        })();
    </script>#}
{% endblock %}
