{{ components.captionHeading(text='Development of a Novel Inhibitor of Ricin', tag='h2', size='l', id='top', extraClass='serif') }}

<p class="govuk-body">
    <img src="/images/ufs/application_image1.png" alt="hand holding some beans">
</p>

{{ components.captionHeading(text='1. Case for support', tag='h2', size='m', id='case', extraClass='serif') }}

{{ components.captionHeading(text='1.1 Importance', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    The PI proposes a high-impact collaborative research project to develop new inhibitors for ribosome inactivating proteins (RIPs), such as ricin and Shiga toxin. Ricin toxin, produced by the castor bean plant, has a
    nefarious past. Ricin is a well-known homicidal poison and has been used in several bioterrorist attacks. Shiga toxin is a deadly product of  Escherichia coli. RIPs are RNA  that enzymatically remove specific purine residues from the universally conserved sarin/ricin loop (S/R loop) of large ribosomal RNA, causing cellular death. There are no effective pharmaceuticals for either ricin or Shiga toxin poisoning. The PI proposes using a viral protein (VPg) from turnip mosaic virus that we have shown to inhibit ricin activity in vitro. The goals of this proposal are: 1) Establish conditions for VPg-ricin complex formation and the rates of VPg-ricin interactions; 2) Determine minimum VPg peptide that effectively inhibits ricin and Shiga toxins; and 3) Optimize conditions to enhance inhibition of these toxic proteins.
</p>

{{ components.captionHeading(text='1.2 Scientific potential', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    Ricin and related Shiga toxins are potentially lethal poisons, which as of yet, have no effective pharmaceutical treatments or preventions. The global problem of these poisons is an increasing threat to public health, directly relating to the mission of the National Institutes of Allergy and Infectious Diseases.
</p>

<p class="govuk-body">
    <img src="/images/ufs/application_diagram1.png" alt="hand holding some beans">
</p>

<p class="govuk-body serif">
    There are no effective pharmaceuticals for either ricin or Shiga toxin poisoning. The PI proposes using a viral protein (VPg) from turnip mosaic virus that we have shown to inhibit ricin activity in vitro. The goals of this proposal are: 1) Establish conditions for VPg-ricin complex formation and the rates of VPg-ricin interactions;
</p>

<p class="govuk-body serif">
    Ricin, astoundingly easily acquired, is an ideal toxin for bioterrorism, while the widespread transmission of E. coli poisoning is responsible for many severe human illnesses and several fatalities. In the future, it may be possible to utilize these toxins for their public health benefit, by repurposing them to attack specific human and animal diseases.
</p>

<p class="govuk-body">
    <img src="/images/ufs/application_graph1.png" alt="hand holding some beans">
</p>

<p class="govuk-body serif">
    Ricin toxin, produced by the castor bean plant, has a nefarious past. Ricin is a well-known homicidal poison and has been used in several bioterrorist attacks. Shiga toxin is a deadly product of  Escherichia coli. RIPs are RNA  that enzymatically remove specific purine residues from the universally conserved sarin/ricin loop (S/R loop) of large ribosomal RNA, causing cellular death. There are no effective pharmaceuticals for either ricin or Shiga toxin poisoning. The PI proposes using a viral protein (VPg) from turnip mosaic virus that we have shown to inhibit ricin activity in vitro. The goals of this proposal are: 1) Establish conditions for VPg-ricin complex formation and the rates of VPg-ricin interactions; 2) Determine minimum VPg peptide that effectively inhibits ricin and Shiga toxins; and 3) Optimize conditions to enhance inhibition of these toxic proteins.
</p>

<p class="govuk-body serif">
    There are no effective pharmaceuticals for either ricin or Shiga toxin poisoning. The PI proposes using a viral protein (VPg) from turnip mosaic virus that we have shown to inhibit ricin activity in vitro. The goals of this proposal are: 1) Establish conditions for VPg-ricin complex formation and the rates of VPg-ricin interactions; 2) Determine minimum VPg peptide that effectively inhibits ricin and Shiga toxins; and 3) Optimize conditions to enhance inhibition of these toxic proteins.
</p>

{{ components.captionHeading(text='1.3 Ethics and research governance', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    Ricin and related Shiga toxins are potentially lethal poisons, which as of yet, have no effective pharmaceutical treatments or preventions. The global problem of these poisons is an increasing threat to public health, directly relating to the mission of the National Institutes of Allergy and Infectious Diseases. Ricin, astoundingly easily acquired, is an ideal toxin for bioterrorism, while the widespread transmission of E. coli poisoning is responsible for many severe human illnesses and several fatalities.
</p>

<p class="govuk-body">
    <img src="/images/ufs/application_diagram2.png" alt="hand holding some beans">
</p>

{{ components.captionHeading(text='1.4 Exploitation and dissemination', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    Ricin and related Shiga toxins are potentially lethal poisons, which as of yet, have no effective pharmaceutical treatments or preventions. The global problem of these poisons is an increasing threat to public health, directly relating to the mission of the National Institutes of Allergy and Infectious Diseases. Ricin, astoundingly easily acquired, is an ideal toxin for bioterrorism, while the widespread transmission of E. coli poisoning is responsible for many severe human illnesses and several fatalities.
</p>


<p class="govuk-body serif">
    Shiga toxins are potentially lethal poisons, which as of yet, have no effective pharmaceutical treatments or preventions. The global problem of these poisons is an increasing threat to public health, directly relating to the mission of the National Institutes of Allergy and Infectious Diseases. Ricin, astoundingly easily acquired, is an ideal toxin for bioterrorism, while the widespread transmission of E. coli poisoning is responsible for many severe human illnesses and several fatalities. In the last year, John Jay had a total enrollment of 12,969 undergraduates and 1,763 graduate students. Of the 14,732 enrolled students, 20% identify as African American/Black and nearly 41% identify as Hispanic. Nearly 57% of the student body is female. (John Jay College, Office of Institutional Research, Fall 2015).
</p>

<div class="u-align-right">
    <a class="govuk-link canScroll" href="#main-content">Top of page</a>
</div>

{{ components.captionHeading(text='2. Capability to deliver', tag='h2', size='m', id='capability', extraClass='serif') }}

<p class="govuk-body serif">
    ...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>
</p>

<div class="u-align-right">
    <a class="govuk-link canScroll" href="#main-content">Top of page</a>
</div>

{{ components.captionHeading(text='3. Resources and costs', tag='h2', size='m', id='resources', extraClass='serif') }}

<p class="govuk-body serif">
    ...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>
</p>

<div class="u-align-right">
    <a class="govuk-link canScroll" href="#main-content">Top of page</a>
</div>

{{ components.captionHeading(text='4. Ethical and societal issues', tag='h2', size='m', id='ethical', extraClass='serif') }}

<p class="govuk-body serif">
    ...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>
</p>

<div class="u-align-right">
    <a class="govuk-link canScroll" href="#main-content">Top of page</a>
</div>

{{ components.captionHeading(text='5. Letters of support', tag='h2', size='m', id='letters', extraClass='serif') }}

<p class="govuk-body serif">
    ...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>
</p>

<div class="u-align-right">
    <a class="govuk-link canScroll" href="#main-content">Top of page</a>
</div>

<hr>
