{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set pageTitle = 'Reviews ' + GLOBAL_TAG_TITLE_SUFFIX %}
{#{% set backLinkContents =  [{url:'#', text:'Back to reviews'}] %}#}

{% set inviteResponse = inviteResponse if inviteResponse %}
{% set appData = appData if appData %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}

            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You have been invited to review an application You have 5 days to respond to the invite.
                        <a class="govuk-notification-banner__link" href="#">View invitation</a>.
                    </p>
                </div>
            </div>

        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Invitation to review', caption='Bio-detoxification of Ricin in castor bean') }}
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8') %}

                <p class="govuk-body">
                    Dear FirstName Lastname,
                </p>

                <p class="govuk-body">
                    Our records suggest you have the relevant expertise to review applications for the Opportunity <a href="#">Name of Opportunity</a>.
                </p>

                <p class="govuk-body">
                    Details and a summary of the application we want you to review are set out below.
                    The review deadline is 14 May 2021.
                </p>

                {{ components.captionHeading(text='Application title',tag='h2', size='s') }}

                <p class="govuk-body">
                    Bio-detoxification of Ricin in castor bean
                </p>

                {{ components.captionHeading(text='Team',tag='h2', size='s') }}

                <p class="govuk-body">
                    <strong>Principal investigator:</strong> Prof Giles Dexter, Coventry University<br>
                    <strong>Co-investigator:</strong> Prof Ian Charles,  Coventry University<br>
                    <strong>Researcher:</strong> Dr Maxwell Peterson,  Coventry University<br>
                </p>

                {{ components.captionHeading(text='Grant size',tag='h2', size='s') }}

                <p class="govuk-body">
                    £80,000
                </p>

                {{ components.captionHeading(text='Summary',tag='h2', size='s') }}

                <p class="govuk-body">
                    The PI proposes a high-impact collaborative research project to develop new inhibitors for ribosome inactivating proteins (RIPs), such as ricin and Shiga toxin. Ricin toxin, produced by the castor bean plant, has a nefarious past. Ricin is a well-known homicidal poison and has been used in several bioterrorist attacks. Shiga toxin is a deadly product of enterobacterial Escherichia coli. RIPs are RNA N-glycosidases that enzymatically remove specific purine residues from the universally conserved sarcin/ricin loop (S/R loop) of large ribosomal RNA, causing cellular death.
                </p>

                <p class="govuk-body">
                    Phasellus ac risus lectus. Proin quis vehicula metus. Suspendisse eget odio metus. Maecenas vehicula quam ut accumsan dapibus. Phasellus sit amet nibh a lectus commodo viverra in id risus. Maecenas at sem nec dolor consectetur accumsan. Morbi non eros magna. Sed et mauris libero. Donec sollicitudin, risus non pulvinar consectetur, nibh lacus venenatis nunc, eget laoreet libero quam et lacus. Proin eros tortor, tempor quis dui quis, consequat ultricies arcu. Sed congue turpis at elit posuere, quis iaculis elit consequat. In maximus eu mi id euismod.
                </p>

                <p class="govuk-body u-space-t45">
                    <a href="/prototypes/peer-review-external/review-overview" class="govuk-button">Respond now</a>
                </p>



            {%- endcall %}

        {%- endcall %}


    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

