{% set showExternalNav = true %}
{% set activeNavItem = 'panel' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set accountSettingsLink = '' %}
{% set showExternalFurniture = false %}
{% set hideAccountLinks = true %}
{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set isAdminUser = true %}
{% set loggedOut = false %}
{% set navType = 'admin' %}

{% set appData = appData if appData %}
{% set oppData = oppData if oppData %}

{% set allData = allData if allData %}
{% set externalAwardPrototypeData = prototypeData if prototypeData %}
{% set userName = externalAwardPrototypeData.userName %}

{% set assignedRolesHasBeenUpdated = assignedRolesHasBeenUpdated if assignedRolesHasBeenUpdated %}

{% set allPanelists = allPanelists if allPanelists %}

{% set pageTitle = 'Manage roles' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/manage-panel/panel-dashboard', text:'Back to panel dashboard'}] %}

{% block content %}

    {% call components.form(action='#', method='POST',name='submitForm') %}

    <style>
        .sticky-tabs {
            /*overflow: hidden;*/
        }
        .sticky-tabs--stuck {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .menu {
            width: 100%;
            z-index: 99;
            position: static;
        }

        .menu.sticky {
            position: fixed;
            top: 0;
            /*border-bottom: 0;*/
            width: 100%;
            max-width: 1152px;
            padding-right: 1.5rem;
        }

        .sticky-tabs + .govuk-tabs__panel {
            /*padding-top: 60px;*/
        }
    </style>

    {% if assignedRolesHasBeenUpdated %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            Assigned roles have been updated
                        </p>
                    </div>
                </div>

            {%- endcall %}

        {%- endcall %}
    {% endif %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Manage roles', caption=externalAwardPrototypeData.panelName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='_u-space-b45') %}
        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="big-numbers big-numbers--small-boxed">
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        1<span class="govuk-!-font-size-16">of</span>11
                    </div>
                    <div class="big-numbers__title">
                        Applications assigned first introducers
                    </div>
                </div>
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        1<span class="govuk-!-font-size-16">of</span>11
                    </div>
                    <div class="big-numbers__title">
                        Applications assigned second introducers
                    </div>
                </div>
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        1<span class="govuk-!-font-size-16">of</span>11
                    </div>
                    <div class="big-numbers__title">
                        Applications assigned third introducers
                    </div>
                </div>
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        1
                    </div>
                    <div class="big-numbers__title">
                        Panelists have Conflicts with applications
                    </div>
                </div>
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        0<span class="govuk-!-font-size-16">of</span>11
                    </div>
                    <div class="big-numbers__title">
                        Panelists have been notified
                    </div>
                </div>

            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full') %}
            <div class="govuk-tabs" data-module="_govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list sticky-tabs menu" id="stickyBar" style="background-color:white;">
                    <li class="govuk-tabs__list-item ">
                        <a class="govuk-tabs__tab" id="link_one" data-tab="_one" href="/prototypes/manage-panel/manage-roles/manage-conflicts" data-scroll="">
                            Manage conflicts
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item ">
                        <a class="govuk-tabs__tab" id="link_two" data-tab="_two" href="/prototypes/manage-panel/manage-roles/name-the-roles" data-scroll="">
                            Name the roles
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" id="link_three" data-tab="_three" href="/prototypes/manage-panel/manage-roles/assign-the-roles" data-scroll="">
                            Assign the roles
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" id="link_four" data-tab="_four" href="/prototypes/manage-panel/manage-roles/review-panelists" data-scroll="">
                            Review panelists
                        </a>
                    </li>
                </ul>

                <div class="govuk-tabs__panel govuk-tabs__panel--borderless" id="one">

                    {% call components.bulmaRow() %}

                        {% call components.bulmaColumnAny(size='is-7', extraClass='{#u-space-t20#}') %}

                            {{ components.captionHeading(text='Assign the roles',tag='h2', size='m', extraClass='_u-space-b5') }}

                        {%- endcall %}

                    {%- endcall %}

                    {% call components.bulmaRow() %}

                        {% call components.bulmaColumnAny(size='is-full', extraClass='{#u-space-t20#}') %}

                            <div class="radio-toggles">

                                {% for item in appData %}
                                    {% set motherLoopIndex = loop.index %}
                                    <div class="radio-toggles__item govuk-radios columns">
                                        <div class="radio-toggles__radio column is-1">
                                            <div class="govuk-radios__item ">
                                                <input class="govuk-radios__input rolesRadio" id="item{{motherLoopIndex}}" name="radioToggles" type="radio" value="rolesRadios" data-radio="toggle_{{motherLoopIndex}}">
                                                <label class="govuk-label govuk-radios__label " for="item{{motherLoopIndex}}">
                                                    <span class="govuk-visually-hidden">APP{{ item.id }}: {{ item.name }}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="radio-toggles__contents column is-11">

                                            <div class="radio-toggles__inner columns">
                                                <div class="radio-toggles__contents-left column is-9">
                                                    <div class="radio-toggles__top">
                                                        <h3 class="govuk-heading-s"><a href="#" class="govuk-link govuk-!-display-inline-block">{{ item.name }}</a></h3>
                                                        <p class="govuk-body u-space-b0">
                                                            <strong>Panel reference: </strong>APP{{ item.id }}
                                                            <br>
                                                            <strong>Lead organisation: </strong>{{ item.org }}
                                                        </p>
                                                    </div>
                                                    <div class="radio-toggles__bottom u-space-t20 govuk-visually-hidden" data-content="toggle_{{ motherLoopIndex }}">
                                                        {% call components.bulmaRow() %}
                                                            {% call components.bulmaColumnAny(size='is-full', extraClass='{#u-space-t20#}') %}
                                                                <div class="govuk-warning-text u-space-b10">
                                                                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                                                    <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>1 Conflict</strong>
                                                                </div>
                                                                <p class="govuk-body u-space-t0">{{ '' | giveMeAName }}</p>
                                                            {%- endcall %}
                                                        {%- endcall %}
                                                        {% call components.bulmaRow() %}

                                                            {% set thisIndex = ['1', '2', '3'] %}
                                                            {% for panelistLooper in thisIndex %}
                                                                {% set thisItemReference = 'select' + motherLoopIndex + loop.index %}
                                                                {% call components.bulmaColumnAny(size='is-one-third', extraClass='{#u-space-t20#}') %}
                                                                    <div class="govuk-form-group">
                                                                        {#<span class="meta">{{ motherLoopIndex }}{{ panelistLooper }} | {{ thisItemReference }}</span>#}
                                                                        <label class="govuk-label govuk-label--s" for="{{ thisItemReference }}">First introducer</label>
                                                                        <select class="govuk-select govuk-select--full-width" id="{{ thisItemReference }}" data-parent='{{ motherLoopIndex }}' name="{{ thisItemReference }}">
                                                                            <option value="-">Select a panelist</option>
                                                                            {% for item in allPanelists %}
                                                                                {% set tempName = item.firstName + ' ' + item.lastName %}
                                                                                <option value="{{ item.firstName }} {{ item.lastName }}"{% if allData[thisItemReference] == tempName  %} selected {% endif %}>{{ tempName }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        {#<span class="govuk-!-display-block">{{ allData[thisItemReference] }}</span>
                                                                        <span class="govuk-!-display-block">tempName = {{ tempName }}</span>#}
                                                                    </div>
                                                                {%- endcall %}

                                                            {% endfor %}

                                                        {%- endcall %}
                                                    </div>
                                                </div>
                                                <div class="radio-toggles__contents-right column is-3">

                                                    <div class="{% if allData['select'+motherLoopIndex+'HasData'] %} govuk-visually-hidden {% endif %} panelists panelists--empty" id="empty_select{{ motherLoopIndex }}">
                                                        <span class="panelists__title">Panelists</span>
                                                        <span class="" id="">0 assigned</span>
                                                    </div>
                                                    <div class="{% if not allData['select'+motherLoopIndex+'HasData'] %} govuk-visually-hidden {% endif %} panelists panelists--assigned" id="assigned_select{{ motherLoopIndex }}">
                                                        <span class="panelists__title">Panelists</span>
                                                        <span class="" id="span_select{{ motherLoopIndex }}1">{{ allData['select'+motherLoopIndex+'1'] }}</span>
                                                        <span class="" id="span_select{{ motherLoopIndex }}2">{{ allData['select'+motherLoopIndex+'2'] }}</span>
                                                        <span class="" id="span_select{{ motherLoopIndex }}3">{{ allData['select'+motherLoopIndex+'3'] }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                        {%- endcall %}

                    {%- endcall %}

                </div>

            </div>
        {%- endcall %}

    {%- endcall %}
    </section>

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            <div class="application-controls govuk-clearfix">
                <button type="submit" class="govuk-button application-controls__submit" name="submitButton">Save assigned roles</button>
            </div>
        {%- endcall %}
    {%- endcall %}

    {%- endcall %} {# end form #}

    {% include '../../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
        let div_top = $('.menu').offset().top;
        console.log('div_top = ' + div_top);
        $(window).load(function () {
            console.log($('.menu').offset().top);
        });
        $(window).scroll(function () {
            var window_top = $(window).scrollTop() - 0;
            if (window_top > div_top) {
                if (!$('.menu').is('.sticky')) {
                    $('.menu').addClass('sticky');
                }
            } else {
                $('.menu').removeClass('sticky');
            }
        });
    </script>

    <script>
        $('.rolesRadio').each(function(index) {
            $(this).on('change', function(e){
                e.preventDefault();
                console.log('clicking');
                // set previous scroll before doing anything
                let marker = $(this).attr('data-radio');
                // $('.radio-toggles__bottom').addClass('govuk-visually-hidden');
                // $('div').attr('data-content', marker).removeClass('govuk-visually-hidden');

                $('.radio-toggles__bottom').each(function(index){
                    if($(this).attr('data-content') != marker) {
                        $(this).addClass('govuk-visually-hidden');
                    } else {
                        $(this).removeClass('govuk-visually-hidden');
                    }
                });
                console.log(marker);
            });
        });

        $('.govuk-select').each(function(index){
            $(this).on('change', function(e){
                e.preventDefault();
                let selectName = $(this).attr('name');
                let parentIndex = $(this).attr('data-parent');
                console.log('selectName = ' + selectName + ' and parentIndex = ' + parentIndex);
                // console.log('$(this).val().length = ' + $(this).val().length);
                console.log('$(this).val() = ' + $(this).val());
                let currentOptionValue = $(this).val();
                $('#span_'+selectName).text($('#'+selectName + ' option:selected').val());
                $('#empty_'+selectName.substring(0, selectName.length - 1)).addClass('govuk-visually-hidden');
                $('#assigned_'+selectName.substring(0, selectName.length - 1)).removeClass('govuk-visually-hidden');


                if (selectName.charAt(selectName.length-1) === '1') {
                    // $()
                    console.log('selectName.charAt(selectName.length-1) = ' + selectName.charAt(selectName.length-1));
                    //$('#'+selectName + parentIndex + '2')
                    // $('#select' + parentIndex + '2' + ' option').val(currentOptionValue).attr('disabled', true);

                    Array.from(document.querySelector('#select' + parentIndex + '2').options).forEach(function(option_element) {
                        if (option_element.value === currentOptionValue) {
                            console.log('option_element.value = ' + option_element.value);
                            console.log('currentOptionValue = ' + currentOptionValue);
                            $(this).attr('disabled', true);
                            option_element.disabled = true;
                        } else {
                            option_element.disabled = false;
                        }
                    });
                    Array.from(document.querySelector('#select' + parentIndex + '3').options).forEach(function(option_element) {
                        if (option_element.value === currentOptionValue) {
                            console.log('option_element.value = ' + option_element.value);
                            console.log('currentOptionValue = ' + currentOptionValue);
                            $(this).attr('disabled', true);
                            option_element.disabled = true;
                        } else {
                            option_element.disabled = false;
                        }
                    });
                }

                if (selectName.charAt(selectName.length-1) === '2') {
                    // $()
                    console.log('selectName.charAt(selectName.length-1) = ' + selectName.charAt(selectName.length-1));
                    //$('#'+selectName + parentIndex + '2')
                    // $('#select' + parentIndex + '2' + ' option').val(currentOptionValue).attr('disabled', true);

                    Array.from(document.querySelector('#select' + parentIndex + '3').options).forEach(function(option_element) {
                        if (option_element.value === currentOptionValue) {
                            console.log('option_element.value = ' + option_element.value);
                            console.log('currentOptionValue = ' + currentOptionValue);
                            $(this).attr('disabled', true);
                            option_element.disabled = true;
                        } else {
                            option_element.disabled = false;
                        }
                    });
                    Array.from(document.querySelector('#select' + parentIndex + '1').options).forEach(function(option_element) {
                        if (option_element.value === currentOptionValue) {
                            console.log('option_element.value = ' + option_element.value);
                            console.log('currentOptionValue = ' + currentOptionValue);
                            $(this).attr('disabled', true);
                            option_element.disabled = true;
                        } else {
                            option_element.disabled = false;
                        }
                    });
                }

                if (selectName.charAt(selectName.length-1) === '3') {
                    // $()
                    console.log('selectName.charAt(selectName.length-1) = ' + selectName.charAt(selectName.length-1));
                    //$('#'+selectName + parentIndex + '2')
                    // $('#select' + parentIndex + '2' + ' option').val(currentOptionValue).attr('disabled', true);

                    Array.from(document.querySelector('#select' + parentIndex + '2').options).forEach(function(option_element) {
                        if (option_element.value === currentOptionValue) {
                            console.log('option_element.value = ' + option_element.value);
                            console.log('currentOptionValue = ' + currentOptionValue);
                            $(this).attr('disabled', true);
                            option_element.disabled = true;
                        } else {
                            option_element.disabled = false;
                        }
                    });
                    Array.from(document.querySelector('#select' + parentIndex + '1').options).forEach(function(option_element) {
                        if (option_element.value === currentOptionValue) {
                            console.log('option_element.value = ' + option_element.value);
                            console.log('currentOptionValue = ' + currentOptionValue);
                            $(this).attr('disabled', true);
                            option_element.disabled = true;
                        } else {
                            option_element.disabled = false;
                        }
                    });
                }


            });
        // }).trigger('load');
        });

    </script>

    {#

    /*const selectSuffixChars = ['1','2','3'];
                selectSuffixChars.forEach(checkDropDownOptions);
                function checkDropDownOptions(selectID) {
                    console.log(selectID);
                    /!*if (selectName.charAt(selectName.length-1) !== selectID) {
                        // $()
                        // console.log('selectName.charAt(selectName.length-1) = ' + selectName.charAt(selectName.length-1));
                        // $('#select' + parentIndex + selectSuffixChars)
                        if() {

                        }
                    }*!/
                    if($('#select' + parentIndex + selectSuffixChars + ' option').val() === currentOptionValue  ) {
                        console.log('test');
                    }
                }*/


    #}

    {#    /*let selectPanelists = function() {
      $('.govuk-select').each(function(index){
          $(this).on('change', function(e){
              e.preventDefault();
              let selectName = $(this).attr('name');
              // console.log('selectName = ' + selectName);
              // console.log('$(this).val().length = ' + $(this).val().length);
              // console.log('$(this).val() = ' + $(this).val());
              $('#span_'+selectName).text($('#'+selectName + ' option:selected').val());
              $('#empty_'+selectName.substring(0, selectName.length - 1)).addClass('govuk-visually-hidden');
              $('#assigned_'+selectName.substring(0, selectName.length - 1)).removeClass('govuk-visually-hidden');
          });
      });
  }

  $(window).on('load', function() {
      selectPanelists();
  });*/

  /*let selectPanelists2 = function(e) {
      e.preventDefault();
      let selectName = $(this).attr('name');
      // console.log('selectName = ' + selectName);
      // console.log('$(this).val().length = ' + $(this).val().length);
      // console.log('$(this).val() = ' + $(this).val());
      $('#span_'+selectName).text($('#'+selectName + ' option:selected').val());
      $('#empty_'+selectName.substring(0, selectName.length - 1)).addClass('govuk-visually-hidden');
      $('#assigned_'+selectName.substring(0, selectName.length - 1)).removeClass('govuk-visually-hidden');
  }*/

 /* $('.govuk-select').load(selectPanelists2).change(selectPanelists2);
  $(window).on('load', function() {
      // $('.govuk-select').trigger('change');
      $('.govuk-select').each(function(index){
          if($(this).val() !== '-' || $(this).val() !== 'Select a panelist') {
              $(this).trigger('change');
          }
         /!* $(this).on('change', function(e){
              e.preventDefault();
              let selectName = $(this).attr('name');
              // console.log('selectName = ' + selectName);
              // console.log('$(this).val().length = ' + $(this).val().length);
              // console.log('$(this).val() = ' + $(this).val());
              $('#span_'+selectName).text($('#'+selectName + ' option:selected').val());
              $('#empty_'+selectName.substring(0, selectName.length - 1)).addClass('govuk-visually-hidden');
              $('#assigned_'+selectName.substring(0, selectName.length - 1)).removeClass('govuk-visually-hidden');
          });*!/
      });
  })*/

/*if ($('#'+selectName + ' option:selected').val().length < 1) {
              $('#span_'+selectName).text('testing');
              console.log('should be empty');
          } else {
              if ($(this).val() === 'Select a panelist') {
                  $('#span_'+selectName).text('-');
              } else {
                  $('#span_'+selectName).text($('#'+selectName + ' option:selected').val());
                  $('#empty_'+selectName.substring(0, selectName.length - 1)).addClass('govuk-visually-hidden');
                  $('#assigned_'+selectName.substring(0, selectName.length - 1)).removeClass('govuk-visually-hidden');
              }
          }*/





  /* $('.govuk-tabs__list-item--selected a').attr('data-scroll', $(document).scrollTop());
          // hide all tabs
          $('.govuk-tabs__panel').addClass('govuk-tabs__panel--hidden');
          $('.govuk-tabs__list-item').removeClass('govuk-tabs__list-item--selected');
          // activate desired tab
          $('#' + $(this).data('tab')).removeClass('govuk-tabs__panel--hidden');
          $(this).parent().addClass('govuk-tabs__list-item--selected');
          // scroll to active tab
          $(document).scrollTop(parseInt($(this).attr('data-scroll')));*/
    #}

{% endblock %}

