{% set showExternalNav = true %}
{% set activeNavItem = 'panel' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set accountSettingsLink = '' %}
{% set showExternalFurniture = false %}
{% set hideAccountLinks = true %}
{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set isAdminUser = true %}
{% set loggedOut = false %}
{% set navType = 'admin' %}

{% set allData = allData if allData %}
{% set externalAwardPrototypeData = prototypeData if prototypeData %}
{% set userName = externalAwardPrototypeData.userName %}

{% set nameTheRolesUpdated = nameTheRolesUpdated if nameTheRolesUpdated %}

{% set pageTitle = 'Manage roles' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/manage-panel/panel-dashboard', text:'Back to panel dashboard'}] %}

{% block content %}

    {% call components.form(action='#', method='POST',name='submitForm') %}

    <style>
        .sticky-tabs {
            /*overflow: hidden;*/
        }
        .sticky-tabs--stuck {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .menu {
            width: 100%;
            z-index: 99;
            position: static;
        }

        .menu.sticky {
            position: fixed;
            top: 0;
            /*border-bottom: 0;*/
            width: 100%;
            max-width: 1152px;
            padding-right: 1.5rem;
        }

        .sticky-tabs + .govuk-tabs__panel {
            /*padding-top: 60px;*/
        }
    </style>

    {% if nameTheRolesUpdated %}

        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full') %}
                <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">Roles names for this panel have been updated</p>
                        {#<p class="govuk-body">By {{ externalAwardPrototypeData.userName }} on behalf University of Wales on {{ 'dataAndTime' | dateAndTime() }}</p>#}
                    </div>
                </div>

            {%- endcall %}
        {%- endcall %}

    {% endif %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Manage roles', caption=externalAwardPrototypeData.panelName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='_u-space-b45') %}
        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="big-numbers big-numbers--small-boxed">
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        1<span class="govuk-!-font-size-16">of</span>11
                    </div>
                    <div class="big-numbers__title">
                        Applications assigned first introducers
                    </div>
                </div>
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        1<span class="govuk-!-font-size-16">of</span>11
                    </div>
                    <div class="big-numbers__title">
                        Applications assigned second introducers
                    </div>
                </div>
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        1<span class="govuk-!-font-size-16">of</span>11
                    </div>
                    <div class="big-numbers__title">
                        Applications assigned third introducers
                    </div>
                </div>
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        1
                    </div>
                    <div class="big-numbers__title">
                        Panelists have Conflicts with applications
                    </div>
                </div>
                <div class="big-numbers__biggy">
                    <div class="big-numbers__number">
                        0<span class="govuk-!-font-size-16">of</span>11
                    </div>
                    <div class="big-numbers__title">
                        Panelists have been notified
                    </div>
                </div>

            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full') %}
            <div class="govuk-tabs" data-module="_govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list sticky-tabs menu" id="stickyBar" style="background-color:white;">
                    <li class="govuk-tabs__list-item ">
                        <a class="govuk-tabs__tab" id="link_one" data-tab="_one" href="/prototypes/manage-panel/manage-roles/manage-conflicts" data-scroll="">
                            Manage conflicts
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" id="link_two" data-tab="_two" href="/prototypes/manage-panel/manage-roles/name-the-roles" data-scroll="">
                            Name the roles
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" id="link_three" data-tab="_three" href="/prototypes/manage-panel/manage-roles/assign-the-roles" data-scroll="">
                            Assign the roles
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" id="link_four" data-tab="_four" href="/prototypes/manage-panel/manage-roles/review-panelists" data-scroll="">
                            Review panelists
                        </a>
                    </li>
                </ul>

            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-7', extraClass='{#u-space-t20#}') %}

            {{ components.captionHeading(text='Role names',tag='h2', size='m', extraClass='_u-space-b5') }}

            <p class="govuk-body">Manage the role names for the panel</p>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-7', extraClass='{#u-space-t20#}') %}

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="role1Name">Role 1</label>
                <input class="govuk-input govuk-input--width-20" id="role1Name" name="role1Name" type="text" value="First introducer">
                <a href="#" class="govuk-link u-space-x20">Remove <span class="govuk-visually-hidden">this role</span></a>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="role2Name">Role 2</label>
                <input class="govuk-input govuk-input--width-20" id="role2Name" name="role2Name" type="text" value="Second introducer">
                <a href="#" class="govuk-link u-space-x20">Remove <span class="govuk-visually-hidden">this role</span></a>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="role3Name">Role 3</label>
                <input class="govuk-input govuk-input--width-20" id="role3Name" name="role3Name" type="text" value="Third introducer">
                <a href="#" class="govuk-link u-space-x20">Remove <span class="govuk-visually-hidden">this role</span></a>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-7', extraClass='') %}

            <p class="govuk-body">
                <a href="#" class="govuk-link">Add another role</a>
            </p>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-b0') %}

            <div class="application-controls govuk-clearfix">
                <input class="govuk-button application-controls__submit" type="submit" value="Update roles on panel">
            </div>

        {%- endcall %}

    {%- endcall %}



    {% include '../../../layouts/partials/user-contact.njk' %}

    {%- endcall %} {# end form #}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

