{% set showExternalNav = true %}
{% set activeNavItem = 'home' %}
{% set navArea = 'organisation' %}
{% set applicationsLink = '/prototypes/external-users/applications-organisation' %}
{% set homeLink = '/prototypes/external-users/home-organisation' %}
{% set reviewsLink = '#' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}



{% set isAdminUser = false %}
{%  set loggedOut = false %}

{#{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}#}
{% set pageTitle = 'Organisation home' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {#{{ actualNavType }}#}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Home', caption='University of Manchester') }}
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-3') %}
                <div class="tfs-tile3">
                    <a href="/prototypes/external-users/applications-organisation" class="tfs-tile3__mega-link tfs-tile3__mega-link--alt">
                        <span class="tfs-tile3__heading">Applications</span>
                        <span class="tfs-tile3__number">{{ range(20, 50) | random }}</span>
                        <span class="tfs-tile3__progress">In progress</span>
                    </a>
                </div>
            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-3') %}
                <div class="tfs-tile3 ">
                    <a href="#" class="tfs-tile3__mega-link tfs-tile3__mega-link--alt">
                        <span class="tfs-tile3__heading">Reviews</span>
                        <span class="tfs-tile3__number">{{ range(10, 20) | random }}</span>
                        <span class="tfs-tile3__progress">In progress</span>
                    </a>
                </div>
            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-3') %}
                <div class="tfs-tile3 ">
                    <a href="#" class="tfs-tile3__mega-link tfs-tile3__mega-link--alt">
                        <span class="tfs-tile3__heading">Award setup</span>
                        <span class="tfs-tile3__number">{{ range(1, 10) | random }}</span>
                        <span class="tfs-tile3__progress">In progress</span>
                    </a>
                </div>
            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow(extraClass='u-space-t20') %}

            {% call components.bulmaColumnAny(size='column is-3') %}
                <div class="tfs-tile3 ">
                    <a href="#" class="tfs-tile3__mega-link tfs-tile3__mega-link--alt">
                        <span class="tfs-tile3__heading">Award</span>
                        <span class="tfs-tile3__number">{{ range(1, 10) | random }}</span>
                        <span class="tfs-tile3__progress">In progress</span>
                    </a>
                </div>
            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-3') %}
                <div class="tfs-tile3 ">
                    <a href="#" class="tfs-tile3__mega-link tfs-tile3__mega-link--alt">
                        <span class="tfs-tile3__heading">Manage organisation</span>
                        <span class="tfs-tile3__number">{{ range(60, 100) | random }}</span>
                        <span class="tfs-tile3__progress">In progress</span>
                    </a>
                </div>
            {%- endcall %}

        {%- endcall %}

    </section>


{% endblock %}
{% block bodyScripts %}
{% endblock %}


