{% set showExternalNav = true %}
{% set activeNavItem = 'reviews' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '/prototypes/external-users/applications' %}
{% set homeLink = '/prototypes/external-users/home' %}
{% set reviewsLink = '/prototypes/external-users/reviews' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}
{% set appData = appData if appData %}

{% set backLinkContents =  [{url:'/prototypes/external-users/home', text:'Home'}] %}
{% set pageTitle = 'Reviews' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {#{{ actualNavType }}#}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Reviews', caption='Jane Doington-Smyth') }}
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="mainContent">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full {#is-9-desktop is-9-widescreen#}') %}

                <ul class="overview-items overview-items--plain">

                    {% for item in appData %}

                        <li class="overview-item {% if item.active != true %} overview-item--inactive {% endif %}">
                            <div class="columns">
                                <div class="column is-8">
                                    <h3 class="overview-item__title">
                                        <a href="#" class="govuk-link">{{ item.name }}</a>
                                    </h3>
                                    <ul class="overview-item__meta-list">
                                        {#<li class="overview-item__meta-item" ><strong>Opportunity: </strong><a href="#" class="govuk-link">OPP{{ range(000, 999) | random }}: {{ item.oppName }}</a><br></li>#}
                                        <li class="overview-item__meta-item" ><strong>Opportunity: </strong>OPP{{ range(000, 999) | random }}: {{ item.oppName }}<br></li>
                                        <li class="overview-item__meta-item" ><strong>Application reference:</strong> AWA{{ item.id }}<br></li>
                                        <li class="overview-item__meta-item" ><strong>Organisation:</strong> {{ item.org }}</li>
                                    </ul>
                                </div>
                                <div class="column is-2">
                                    {% if item.hoursLeft  %}
                                        <div class="u-align-setup-vertical u-align-center">
                                            <div class="u-align-cell">
                                                <span class="overview-item__meta overview-item__meta--danger">
                                                    <strong><span class="govuk-!-font-size-24">{{ item.hoursLeft }}</span>
                                                    <br>hours left</strong>
                                                    <br>
                                                    <span class="govuk-body-s">
                                                        {{ item.progressMessage }}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.daysLeft and item.imminent %}
                                        <div class="u-align-setup-vertical u-align-center">
                                            <div class="u-align-cell">
                                                <span class="overview-item__meta overview-item__meta--danger">
                                                    <strong><span class="govuk-!-font-size-24">{{ item.daysLeft }}</span>
                                                    <br>days left</strong>
                                                    <br>
                                                    <span class="govuk-body-s">{{ item.progressMessage }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.daysLeft and not item.imminent %}
                                        <div class="u-align-setup-vertical u-align-center">
                                            <div class="u-align-cell">
                                                <span class="overview-item__meta">
                                                    <strong><span class="govuk-!-font-size-24">{{ item.daysLeft }}</span>
                                                    <br>days left</strong>
                                                    <br>
                                                    <span class="govuk-body-s">{{ item.progressMessage }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if not item.active %}
                                        <div class="u-align-setup-vertical u-align-center">
                                            <div class="u-align-cell">
                                                <span class="overview-item__meta">
                                                    <strong>{{ item.finalMessage }}</strong>
                                                    <br>
                                                    <span class="govuk-body-s">{{ item.progressMessage }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    {%  endif %}
                                </div>
                                <div class="column is-2">
                                    <div class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                        <div class="u-align-cell">
                                            <strong>{{ item.status }}</strong>
                                            {% if item.completeness %}
                                                <span class="meta"><br>{{ item.completeness }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    {% endfor %}
                </ul>
            {%- endcall %}
        {%- endcall %}

    </section>

{% endblock %}

{% block bodyScripts %}
{% endblock %}


