{% set showExternalNav = true %}
{% set activeNavItem = '' %}
{% set navArea = 'profile' %}
{% set applicationsLink = '/prototypes/edi/applications' %}
{% set homeLink = '/prototypes/edi/home' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '/prototypes/edi/profile' %}

{% set pageTitle = "Equality, Diversity and Inclusion (EDI) profile" %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}


{% set userData = userData if userData %}
{% set ediIsComplete = ediIsComplete if ediIsComplete %}


{% set backLinkContents =  [{url:'/prototypes/edi/home', text:'Back to home'}] %}

{% block content %}

    {% if ediIsComplete %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}

            <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You have completed your Equality, Diversity and Inclusion (EDI) profile.
                    </p>
                    <p class="govuk-body">You can change your answers at any time.</p>
                </div>
            </div>

        {%- endcall %}
    {%- endcall %}

    {% endif %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Account settings', caption='Professor Annabel Doubley-Barell') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-3') %}
                <nav class="">

                    <ul class="govuk-list">
                        <li>
                            <a href="/prototypes/edi/profile" class="govuk-link govuk-link--no-visited-state">Personal details</a>
                        </li>
                        <li>
                            <a href="/prototypes/edi/edi" class="govuk-link govuk-link--no-visited-state sticky-nav__link--active">Equality, Diversity and Inclusion</a>
                        </li>
                        <li>
                            <a href="#" class="govuk-link govuk-link--no-visited-state ">Account security</a>
                        </li>
                        <li>
                            <a href="#" class="govuk-link govuk-link--no-visited-state ">Professional details</a>
                        </li>
                        <li>
                            <a href="#" class="govuk-link govuk-link--no-visited-state ">Permissions</a>
                        </li>
                        <li>
                            <a href="#" class="govuk-link govuk-link--no-visited-state ">Expert review preferences</a>
                        </li>
                    </ul>
                </nav>
            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-8') %}

                {{ components.captionHeading(text='Equality, Diversity and Inclusion (EDI) profile', tag='h2', size='m') }}

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date of birth</dt>
                        <dd class="govuk-summary-list__value">{{ userData.dobDay }} {{ userData.wordMonth }} {{ userData.dobYear }}</dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/edi/edi-dob?edit=true">Change<span class="govuk-visually-hidden"> date for birth</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Conditions, illnesses or disabilities</dt>
                        <dd class="govuk-summary-list__value">
                            {{ userData.conditions }}
                            {% if userData.disabilities %}<br>{{ userData.disabilities }}{% endif %}
                            {% if userData.disabilitiesOther %}<br>{{ userData.disabilitiesOther }} {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/edi/edi-conditions?edit=true">Change<span class="govuk-visually-hidden"> conditions, illnesses or disabilities</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Religion</dt>
                        <dd class="govuk-summary-list__value">
                            {{ userData.religion }}
                            {% if userData.otherReligion %}<br>{{ userData.otherReligion }}  {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/edi/edi-religion?edit=true">Change<span class="govuk-visually-hidden"> religion</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Ethnic group</dt>
                        <dd class="govuk-summary-list__value">
                            {{ userData.ethnicity }}
                            {% if userData.otherEthnicGroup %}<br>{{ userData.otherEthnicGroup }} {% endif %}
                            {% if userData.ethnicSubGroup %}<br>{{ userData.ethnicSubGroup }} {% endif %}
                            {% if userData.otherEthnicSubGroup %}<br>{{ userData.otherEthnicSubGroup }} {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/edi/edi-ethnic-group?edit=true">Change<span class="govuk-visually-hidden"> ethnic group</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Sex</dt>
                        <dd class="govuk-summary-list__value">
                            {{ userData.sex }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/edi/edi-sex?edit=true">Change<span class="govuk-visually-hidden"> sex</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Gender</dt>
                        <dd class="govuk-summary-list__value">
                            {{ userData.genderText }}
                            {% if userData.otherGender %}<br>{{ userData.otherGender }}  {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/edi/edi-gender?edit=true">Change<span class="govuk-visually-hidden"> gender</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Sexual orientation</dt>
                        <dd class="govuk-summary-list__value">
                            {{ userData.orientation }}
                            {% if userData.otherOrientation %}<br>{{ userData.otherOrientation }} {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="/prototypes/edi/edi-orientation?edit=true">Change<span class="govuk-visually-hidden"> sexual orientation</span></a>
                        </dd>
                    </div>
                </dl>

                <p class="govuk-body">
                    You can change your answers at any time.
                </p>

            {%- endcall %}

        {%- endcall %}


    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}

{% block bodyScripts %}

{% endblock %}
