{% set showExternalNav = true %}
{% set activeNavItem = '' %}
{% set navArea = 'profile' %}
{% set applicationsLink = '/prototypes/edi/applications' %}
{% set homeLink = '/prototypes/edi/home' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '/prototypes/edi/profile' %}
{% set pageTitle = "EDI ethnic roup" %}
{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set backLinkContents =  [{url:'/prototypes/edi/profile', text:'Back to account settings'}] %}

{% block content %}

    {#{% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}

            <div class="govuk-notification-banner govuk-notification-banner--danger" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Warning</h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        You must complete your <a class="govuk-notification-banner__link" href="/prototypes/edi/edi">Equality, Diversity and Inclusion (EDI) profile</a> before you can submit an application.
                        #}{#<a class="govuk-notification-banner__link" href="#">View invitation</a>.#}{#
                    </p>
                </div>
            </div>

        {%- endcall %}
    {%- endcall %}#}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='What is your ethnic group?', caption='Equality, Diversity and inclusion (EDI) Information') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.form(action='#', method='POST',name='ediForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8') %}

                <details class="govuk-details u-space-t20 js-only" data-module="govuk-details" role="group">
                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="govuk-details__summary-text">Guidance for answering this question</span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                        <p class="govuk-body">This question has more than one stage.</p>

                        <p class="govuk-body">It's up to you how you answer this question. Your ethnic group could be your cultural or family background.</p>

                        <p class="govuk-body">First, choose one option that best reflects your identity from the groups listed.</p>

                        <p class="govuk-body">    Once you’ve chosen the group you most closely identify with, select an option on the next page. If your ethnic group isn’t listed, you can select the “Any other” option and enter your identity. </p>

                        <p class="govuk-body">   If you feel you belong to more than one ethnic background from the group, select “Mixed or Multiple ethnic group”.</p>
                    </div>
                </details>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-visually-hidden">Select your religious beliefs</legend>
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ethnicity1" name="ethnicity" type="radio" value="Asian or Asian British">
                                <label class="govuk-label govuk-radios__label" for="ethnicity1">Asian or Asian British</label>
                                <div class="govuk-hint govuk-radios__hint">Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani</div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ethnicity2" name="ethnicity" type="radio" value="Black, African, Black British or Caribbean">
                                <label class="govuk-label govuk-radios__label" for="ethnicity2">Black, African, Black British or Caribbean</label>
                                <div class="govuk-hint govuk-radios__hint">Includes any Black background</div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ethnicity3" name="ethnicity" type="radio" value="Mixed or multiple ethnic groups">
                                <label class="govuk-label govuk-radios__label" for="ethnicity3">Mixed or multiple ethnic groups</label>
                                <div class="govuk-hint govuk-radios__hint">Includes any Mixed background</div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ethnicity4" name="ethnicity" type="radio" value="White">
                                <label class="govuk-label govuk-radios__label" for="ethnicity4">White</label>
                                <div class="govuk-hint govuk-radios__hint">Includes any White background</div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ethnicity5" name="ethnicity" type="radio" value="Another ethnic group" data-aria-controls="conditional-other">
                                <label class="govuk-label govuk-radios__label" for="ethnicity5">Another ethnic group</label>
                                <div class="govuk-hint govuk-radios__hint">Includes any other ethnic group, for example, Arab</div>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
                                <div class="govuk-form-group">

                                    <label class="govuk-label" for="other-religion-input">Provide more details</label>
                                    <div class="govuk-hint govuk-radios__hint" style="padding-left:0;">This is also voluntary, so you can leave it blank if you prefer.</div>
                                    <input class="govuk-input govuk-!-width-one-third" id="other-religion-input" name="other-religion-input" type="text" spellcheck="false"></div>

                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="ethnicity6" name="ethnicity" type="radio" value="Prefer not to say">
                                <label class="govuk-label govuk-radios__label" for="ethnicity6">Prefer not to say</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <details class="govuk-details u-space-t20 js-only" data-module="govuk-details" role="group">
                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="govuk-details__summary-text">Why we ask this question</span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                        <p class="govuk-body">These questions will help us check we have reached a representative section of society and help us identify inequalities. The information you provide is kept anonymous and will not be used to identify any individual. Your answers will not affect and funding decisions regarding your applications. The information you provide will be separated from the selection process and will only be used for monitoring processes to make sure that people are treated fairly and according to their needs.</p>
                        <p class="govuk-body">We need to understand if certain groups experience inequalities. Some of the questions may not be important or relevant to you, but they are important to the person with that characteristic. Completing these questions will help us analyse results accurately. Information provided in this survey is anonymous and held securely by UKRI.</p>
                    </div>
                </details>

            {%- endcall %}

        {%- endcall %}

            {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='is-full') %}

                    <div class="application-controls govuk-clearfix">
                        {{ components.button(text='Save and continue', extraClass="application-controls__submit")}}
                    </div>

                {%- endcall %}

            {%- endcall %}



        {%- endcall %} {# end form #}
    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}

{% block bodyScripts %}

{% endblock %}
