{% set showExternalNav = true %}
{% set activeNavItem = '' %}
{% set navArea = 'profile' %}
{% set applicationsLink = '/prototypes/edi/applications' %}
{% set homeLink = '/prototypes/edi/home' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '/prototypes/edi/profile' %}
{% set pageTitle = "EDI conditions" %}
{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set edit = edit if edit %}
{% set userData = userData if userData %}

{% set backToConfirm = backToConfirm if backToConfirm %}
{% if edit === 'true' %}
    {% set backLinkContents =  [{url:backToConfirm.url, text:backToConfirm.linkText}] %}
{% else %}
    {% set backLinkContents =  [{url:'/prototypes/edi/edi-conditions', text:'Back to conditions, illnesses or disabilities'}] %}
{% endif %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Which of the following conditions, illnesses or disabilities do you have?', caption='Equality, Diversity and Inclusion profile') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.form(action='#', method='POST',name='ediForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8') %}

                <details class="govuk-details u-space-t20 js-only" data-module="govuk-details" role="group">
                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="govuk-details__summary-text">Guidance for answering this question</span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                        <p class="govuk-body">This question is asking about the physical or mental health conditions, illnesses or disabilities that reduce your ability to carry out day-to-day activities.</p>
                        <p class="govuk-body">
                            <strong>What we mean by day-to-day activities</strong>
                            Day-to-day activities include everyday tasks, for example eating, washing, walking and going shopping.</p>
                    </div>
                </details>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="disabilities-hint">
                        <legend class="govuk-visually-hidden">Select all the conditions, illnesses or disabilities that you have</legend>
                        <div class="govuk-radios" data-module="govuk-radios">

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities8" name="disabilities" type="radio" value="Multiple disabilities" {% if userData.disabilities === "Multiple disabilities" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities8">Multiple disabilities</label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities1" name="disabilities" type="radio" value="An unseen disability" {% if userData.disabilities === "An unseen disability" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities1">An unseen disability</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities2" name="disabilities" type="radio" value="Autistic spectrum disorder" {% if userData.disabilities === "Autistic spectrum disorder" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities2">Autistic spectrum disorder</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities3" name="disabilities" type="radio" value="Blind/partially sighted" {% if userData.disabilities === "Blind/partially sighted" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities3">Blind/partially sighted</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities4" name="disabilities" type="radio" value="Deaf/hearing impairment" {% if userData.disabilities === "Deaf/hearing impairment" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities4">Deaf/hearing impairment</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities5" name="disabilities" type="radio" value="Dyslexia" {% if userData.disabilities === "Dyslexia" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities5">Dyslexia</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities6" name="disabilities" type="radio" value="Mental health difficulties" {% if userData.disabilities === "Mental health difficulties" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities6">Mental health difficulties</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities7" name="disabilities" type="radio" value="Mobility difficulties" {% if userData.disabilities === "Mobility difficulties" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities7">Mobility difficulties</label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities10" name="disabilities" type="radio" value="Personal care support" {% if userData.disabilities === "Personal care support" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities10">Personal care support</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities11" name="disabilities" type="radio" value="Other disability" data-aria-controls="conditional-disability-1" {% if userData.disabilities === "Other disability" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities11">Other disability</label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-disability-1">
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="other-disability-input">Enter your disability or leave blank if you prefer.</label>
                                    {#<div class="govuk-hint govuk-radios__hint" style="padding-left:0;">This is voluntary, so you can leave it blank if you prefer.</div>#}
                                    <input class="govuk-input govuk-!-width-one-third" id="other-disability-input" name="disabilitiesOther" type="text" value="{{ userData.disabilitiesOther }}">
                                </div>

                            </div>

                            <div class="govuk-radios__divider">or</div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="disabilities12" name="disabilities" type="radio" value="Prefer not to say" {% if userData.disabilities === "Prefer not to say" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="disabilities12">Prefer not to say</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <details class="govuk-details u-space-t20 js-only" data-module="govuk-details" role="group">
                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="govuk-details__summary-text">Why we ask this question</span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                        <p class="govuk-body">This question will help us check we have reached a representative section of society and understand if certain groups experience inequalities. It may not be important or relevant to you, but it is important to the person with that characteristic.
                        </p>
                        <p class="govuk-body">The information you provide is held securely by UKRI and will not be used to identify any individual. It will be separated from the selection process and will not affect any funding decisions regarding your applications. Your answer is only used for monitoring processes, to help us analyse results accurately and ensure people are treated fairly and according to their needs.
                        </p>
                    </div>
                </details>

            {%- endcall %}

        {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-full') %}
                    <div class="application-controls govuk-clearfix">
                        {% if edit == 'true'  %}
                            {{ components.button(text='Save changes', extraClass="application-controls__submit")}}
                        {% else %}
                            {{ components.button(text='Save and continue', extraClass="application-controls__submit")}}
                        {% endif %}
                    </div>
                {%- endcall %}
            {%- endcall %}

        {%- endcall %} {# end form #}
    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}

{% block bodyScripts %}
    <script>
        var ready = (callback) => {
            if (document.readyState != "loading") callback();
            else document.addEventListener("DOMContentLoaded", callback);
        }

        ready(() => {
            console.log('ready');
            let otherCheckboxID = 'disabilities12';
            let allChecks = document.querySelectorAll('.govuk-radios__input');
            let othersCheckbox = document.getElementById(otherCheckboxID);
            othersCheckbox.addEventListener("click", (e) => {
                console.log('clicked');
                allChecks.forEach(box => { box.style.border = "1px solid red" });
                allChecks.forEach(box => {
                    if (box.getAttribute('id') !== otherCheckboxID) {
                        box.checked = false
                    }
                });
            });

        });



    </script>
{% endblock %}
