{% set showExternalNav = true %}
{% set activeNavItem = '' %}
{% set navArea = 'profile' %}
{% set applicationsLink = '/prototypes/edi/applications' %}
{% set homeLink = '/prototypes/edi/home' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '/prototypes/edi/profile' %}
{% set pageTitle = "EDI sex" %}
{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set edit = edit if edit %}
{% set userData = userData if userData %}

{% set backToConfirm = backToConfirm if backToConfirm %}
{% if edit === 'true' %}
    {% set backLinkContents =  [{url:backToConfirm.url, text:backToConfirm.linkText}] %}
{% else %}
    {% set backLinkContents =  [{url:'/prototypes/edi/edi-ethnic-group', text:'Back to ethnicity'}] %}
{% endif %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='What is your sex?', caption='Equality, Diversity and Inclusion profile') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.form(action='#', method='POST',name='ediForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8') %}

                <details class="govuk-details u-space-t20 js-only" data-module="govuk-details" role="group">
                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="govuk-details__summary-text">Guidance for answering this question</span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                        <p class="govuk-body">Select one option. If you are unsure how to answer, select the sex that was recorded on your birth certificate or Gender Recognition Certificate.</p>
                    </div>
                </details>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-visually-hidden">Select your ethnic background</legend>
                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sex1" name="sex" type="radio" value="Female" {% if userData.sex === "Female" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="sex1">Female</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sex2" name="sex" type="radio" value="Male" {% if userData.sex === "Male" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="sex2">Male</label>
                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sex3" name="sex" type="radio" value="Prefer not to say" {% if userData.sex === "Prefer not to say" %} checked="checked" {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="sex3">Prefer not to say</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <details class="govuk-details u-space-t20 js-only" data-module="govuk-details" role="group">
                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="govuk-details__summary-text">Why we ask this question</span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                        <p class="govuk-body">This question will help us check we have reached a representative section of society and understand if certain groups experience inequalities. It may not be important or relevant to you, but it is important to the person with that characteristic.</p>
                        <p class="govuk-body">The information you provide is held securely by UKRI and will not be used to identify any individual. It will be separated from the selection process and will not affect any funding decisions regarding your applications. Your answer is only used for monitoring processes, to help us analyse results accurately and ensure people are treated fairly and according to their needs.</p>
                    </div>
                </details>

            {%- endcall %}

        {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='is-full') %}
                    <div class="application-controls govuk-clearfix">
                        {% if edit == 'true'  %}
                            {{ components.button(text='Save changes', extraClass="application-controls__submit")}}
                        {% else %}

                            <p class="govuk-body">The next question asks about your gender.</p>
                            {{ components.button(text='Save and continue', extraClass="application-controls__submit")}}
                        {% endif %}
                    </div>
                {%- endcall %}
            {%- endcall %}

        {%- endcall %} {# end form #}
    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}

{% block bodyScripts %}

{% endblock %}
