{% set showExternalNav = true %}
{% set activeNavItem = 'home' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/editv2/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/editv2/Applications' %}
{% set awardsLink = '#' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = '' %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = false %}

{% set pageTitle = 'Applciation overview' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Drummond Acaster' %}
{% set prototypeData = prototypeData if prototypeData %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Home ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/editv2/applications', text:'Back to Applications'}] %}


{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="_govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">This application is currently being edited by Renata Minchin</h3>

                    <p class="govuk-body">No one else can edit or submit the application until they stop being the application editor.</p>
                </div>
            </div>
            <style>
                /*.mce-content-body {
                    background-color: #fafafa!important;
                    border-color: #b1b4b6;
                }*/
                .tox .tox-edit-area__iframe {
                    background-color: #fafafa!important;
                }
            </style>
        {%- endcall %}
    {%- endcall %}


    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Application overview', caption='APP420: ' + prototypeData.applicationTitle2) }}
        {%- endcall %}
    {%- endcall %}



    <section class="section" id="mainContent">

        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full', customID='mainCntent') %}
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#">Write application</a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="{#/prototypes/editv2/read-application#}#">Read application</a>
                        </li>
                    </ul>
                </div>
            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <div class="application-items">
                    {% set detailsIsComplete = true %}
                    {% set caseForSupportIsComplete = true %}

                    <div class="application-item application-item--complete application-item--skinny ">
                        <div class="application-item__contents govuk-clearfix">
                            <div class="application-item__left">{{ components.link(text='1. Details and summary', url='#')}}</div>
                            <div class="application-item__right">
                                <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                            </div>
                        </div>
                    </div>

                    <div class="application-item application-item--complete application-item--skinny ">
                        <div class="application-item__contents govuk-clearfix">
                            <div class="application-item__left">
                                {{ components.link(text='2. Case for support', url='/prototypes/editv2/case-for-support')}}
                            </div>

                            <div class="application-item__right">
                                <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                            </div>
                            {#<div class="u-space-t30">
                                <strong class="govuk-tag govuk-tag--red">Locked</strong>
                                <span>This section is being edited by <strong>Renata Minchin</strong></span>
                            </div>#}
                        </div>
                    </div>

                    <div class="application-item application-item--complete application-item--skinny ">
                        <div class="application-item__contents govuk-clearfix">
                            <div class="application-item__left">{{ components.link(text='3. Team', url='#')}}</div>
                            <div class="application-item__right">
                               <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                            </div>
                        </div>
                    </div>

                    <div class="application-item application-item--complete application-item--skinny ">
                        <div class="application-item__contents govuk-clearfix">
                            <div class="application-item__left">{{ components.link(text='4. Resources and costs', url='#')}}</div>
                            <div class="application-item__right">
                                <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="application-controls govuk-clearfix u-space-t45">
                    <p class="govuk-body">When all the sections above are marked as complete, you can submit your application to UKRI. Once it has been submitted, you cannot make any further changes.</p>
                    {#{% call components.form(action='#', method='POST',name='submitApplication') %}#}
                        {#<button type="submit" class="govuk-button application-controls__submit" name="submitButton" value="startShare" disabled>Submit to UKRI</button>#}

                    <button type="submit" class="govuk-button application-controls__submit govuk-!-display-inline" name="submitButton" value="startShare" disabled>Submit to UKRI</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="govuk-button govuk-button--secondary application-controls__submit govuk-!-display-inline" name="submitButton"  value="stopShare" disabled>Return to applicant</button>
                    {#{%- endcall %}#}
                </div>

            {%- endcall %}

            {% call components.bulmaColumnAny(size='is-4 is-offset-1') %}

               {# {% if prototypeData.detailsMarkAsComplete %}
                    {% set progressPercentage = 75 %}
                    {% set reverseProgressPercentage = 25 %}

                    {% if prototypeData.resourcesAndCostsIsComplete %}
                        {% set progressPercentage = 100 %}
                        {% set reverseProgressPercentage = 0 %}
                    {% endif %}
                {% elseif prototypeData.resourcesAndCostsIsComplete %}
                    {% set progressPercentage = 75 %}
                    {% set reverseProgressPercentage = 25 %}
                {% else %}
                    {% set progressPercentage = 50 %}
                    {% set reverseProgressPercentage = 50 %}
                {% endif %}#}
                {% if prototypeData.detailsMarkAsComplete %}
                    {% set progressPercentage = 100 %}
                    {% set reverseProgressPercentage = 0 %}
                {% else %}
                    {% set progressPercentage = 75 %}
                    {% set reverseProgressPercentage = 25 %}
                {% endif %}


                <div class="progress-meter">
                    <div class="progress-meter__text progress-meter__text--back" role="progress-bar" aria-valuenow="27%"><span class="govuk-visually-hidden">Your application is</span> {{ progressPercentage }}% complete</div>


                    {% if sentBackToApplicant %}

                        <div class="progress-meter__clipper" aria-hidden="true" style="clip-path: inset(0% {{ reverseProgressPercentage }}% 0% 0%); -webkit-clip-path: inset(0% {{ reverseProgressPercentage }}% 0% 0%)">
                            <div class="progress-meter__text progress-meter__text--front"><strong>Returned to applicant</strong></div>
                        </div>

                    {% else %}

                        <div class="progress-meter__clipper" aria-hidden="true" style="clip-path: inset(0% {{ reverseProgressPercentage }}% 0% 0%); -webkit-clip-path: inset(0% {{ reverseProgressPercentage }}% 0% 0%)">
                            {% if progressPercentage == 100 %}
                                <div class="progress-meter__text progress-meter__text--front"><strong>100% complete</strong></div>
                            {% else %}
                                <div class="progress-meter__text progress-meter__text--front">{{ progressPercentage }}% complete</div>
                            {% endif %}
                        </div>

                    {% endif %}

                </div>
                <div class="application-data">
                    <dl class="application-data__list">
                        <dt class="application-data__key">Opportunity:</dt>
                        <dd class="application-data__value"><a href="#" class="govuk-link" target="_blank">{{ prototypeData.oppTitle2 }}</a></dd>
                        <dt class="application-data__key">Application reference:</dt>
                        <dd class="application-data__value">APP420</dd>

                        <dt class="application-data__key">Applicant:</dt>
                        <dd class="application-data__value">{{ prototypeData.applicant2 }}</dd>
                        <dt class="application-data__key">Application status:</dt>
                        <dd class="application-data__value"><strong class="govuk-tag govuk-tag--blue">With research office</strong></dd>

                        <dt class="application-data__key">Application deadline:</dt>
                        <dd class="application-data__value">24 June 2023, 4:00pm</dd>
                        <dt class="application-data__key">Funder:</dt>
                        <dd class="application-data__value">NERC</dd>
                    </dl>
                </div>

            {%- endcall %}

        {%- endcall %}


    </section>


    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}




{% block bodyScripts %}

{% endblock %}

