{% set showExternalNav = true %}
{% set activeNavItem = 'home' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/editv2/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/editv2/applications' %}
{% set awardsLink = '#' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = '' %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = false %}

{% set pageTitle = 'Home' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Drummond Acaster' %}
{% set prototypeData = prototypeData if prototypeData %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Home ' + GLOBAL_TAG_TITLE_SUFFIX %}
{#{% set backLinkContents =  [{url:'#', text:'Back to reviews'}] %}#}


{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Home', caption='University of Wales') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-3') %}
            <div class="tfs-tile3">
                <a href="/prototypes/editv2/applications" class="tfs-tile3__mega-link">
                    <span class="tfs-tile3__heading">Applications {#in progress#}</span>
                    <span class="tfs-tile3__number">5</span>
                    {#<span class="tfs-tile3__progress">In-progress applications in <br>your organisation</span>#}
                    {#<span class="tfs-tile3__progress">&nbsp;<br></span>#}
                    <span class="tfs-tile3__progress">Live applications</span>
                    {#<span class="tfs-tile3__progress">Manage your organisations applications</span>#}
                </a>
            </div>
        {%- endcall %}

        {% call components.bulmaColumnAny(size='column is-3') %}
            <div class="tfs-tile3">
                <a href="#" class="tfs-tile3__mega-link">
                    <span class="tfs-tile3__heading">Awards</span>
                    <span class="tfs-tile3__number">13</span>
                    <span class="tfs-tile3__progress">View and manage your <br>organisation's awards</span>
                </a>
            </div>
        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-t30') %}
        {% call components.bulmaColumnAny(size='column is-9') %}
            <hr class="has-background-grey-light">
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-t20') %}

        {% call components.bulmaColumnAny(size='column is-3') %}
            <a href="#" class="govuk-link govuk-!-font-weight-bold govuk-!-font-size-19">Manage notifications from the Funding Service</a>
            <br>
            <p class="govuk-body u-space-y10">Create ‘groups’ to control which research office staff receive email notifications from the Funding Service.</p>
        {%- endcall %}

        {#{% call components.bulmaColumnAny(size='column is-3') %}
            <a href="#" class="govuk-link govuk-!-font-weight-bold govuk-!-font-size-19">Account settings</a>
            <br>
            <p class="govuk-body u-space-y10">View your personal details and manage your Equality, Diversity and Inclusion (EDI) profile.</p>
        {%- endcall %}#}

    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

