{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set orgsSessionData = orgsSessionData if orgsSessionData %}
{% set isAdminUser = false %}
{%  set loggedOut = false %}
{% set hideAccountLinks = true %}
{% set userName = 'Jonathan Doe' %}
{% set pageTitle = 'Select role' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/orgs/', text:'Back to Application'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Select role', caption='Add an applicant') }}
        {%- endcall %}
    {%- endcall %}
    {% call components.form(action='#', method='POST',name='submitForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="roles-hint">
                        <legend class="govuk-visually-hidden">Select new user's role </legend>
                        <div class="govuk-radios" data-module="govuk-radios">

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="roles1" name="roles" type="radio" value="Principal investigator" {% if orgsSessionData.roles == 'Principal investigator' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="roles1" >Principal investigator</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="roles2" name="roles" type="radio" value="Co-investigator" {% if orgsSessionData.roles == 'Co-investigator' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="roles2">Co-investigator</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="roles3" name="roles" type="radio" value="Researcher" {% if orgsSessionData.roles == 'Researcher' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="roles3">Researcher</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="roles4" name="roles" type="radio" value="Business partner" {% if orgsSessionData.roles == 'Business partner' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="roles4">Business partner</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="roles5" name="roles" type="radio" value="Technician" {% if orgsSessionData.roles == 'Technician' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="roles5">Technician</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <div class="application-controls govuk-clearfix">
                    <button type="submit" class="govuk-button application-controls__submit" name="submitButton">Continue</button>
                    <a href="/prototypes/orgs/applicants" class="govuk-link application-controls__cancel">Return to applicants</a>
                </div>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}
    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}
    <script>
        Zepto(function($){
            $(window).on('load', function() {
                console.log('window loaded');
                $('.govuk-tabs__tab').attr('tabindex', '');
            });
        });
    </script>
{% endblock %}

