{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'home' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/post-decision/home' %}
{% set awardsLink = '/prototypes/post-decision/awards' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}

{% set pageTitle = 'Home' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dr. Sheila Banner' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Awards ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/post-decision/home', text:'Back to home'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Awards', caption='Talulah Blinkensoft, BBSRC') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-3') %}

            <div class="govuk-related-items govuk-related-items--flush _u-space-t15">

                {{ components.captionHeading(text='Filters', tag='h2', size='s') }}

                <div class="filter">
                    <h2 class="filter__title">Filter by status</h2>
                    <span class="filter__toggle"></span>
                    <ul class="filter__list u-clearfix ">
                        <li class="filter__item filter__item--small ">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                <input class="govuk-checkboxes__input govuk-checkboxes--small" id="filterReady" type="checkbox" name="filterReady" value="Ready">
                                <label for="filterReady" class="govuk-checkboxes__label u-display-ib">Ready to start (1)</label>
                            </div>
                        </li>
                        <li class="filter__item filter__item--small ">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                <input class="govuk-checkboxes__input govuk-checkboxes--small" id="filterReceived" type="checkbox" name="filterReceived" value="Received">
                                <label for="filterReceived" class="govuk-checkboxes__label u-display-ib">Received (2)</label>
                            </div>
                        </li>
                        <li class="filter__item filter__item--small ">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                <input class="govuk-checkboxes__input govuk-checkboxes--small" id="filterProgress" type="checkbox" name="filterProgress" value="In progress">
                                <label for="filterProgress" class="govuk-checkboxes__label u-display-ib">In progress (8)</label>
                            </div>
                        </li>
                        <li class="filter__item filter__item--small ">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                <input class="govuk-checkboxes__input govuk-checkboxes--small" id="filterComplete" type="checkbox" name="filterComplete" value="Complete">
                                <label for="filterComplete" class="govuk-checkboxes__label u-display-ib">Complete (1)</label>
                            </div>
                        </li>

                    </ul>
                </div>

                {# <div class="filter">
                    <h2 class="filter__title">Filter by criteria</h2>
                    <span class="filter__toggle"></span>
                    <ul class="filter__list u-clearfix ">
                        <li class="filter__item filter__item--small ">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                <input class="govuk-checkboxes__input govuk-checkboxes--small" id="filterOne" type="checkbox" name="filterOne" value="one">
                                <label for="filterOne" class="govuk-checkboxes__label u-display-ib">Criteria one</label>
                            </div>
                        </li>
                        <li class="filter__item filter__item--small">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                <input class="govuk-checkboxes__input" id="filterTwo" type="checkbox" name="filterTwo" value="two">
                                <label for="filterTwo" class="govuk-checkboxes__label u-display-ib">Criteria two</label>
                            </div>
                        </li>
                        <li class="filter__item filter__item--small">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                <input class="govuk-checkboxes__input" id="filterThree" type="checkbox" name="filterThree" value="three">
                                <label for="filterThree" class="govuk-checkboxes__label u-display-ib">Criteria three</label>
                            </div>
                        </li>
                        <li class="filter__item filter__item--small">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                <input class="govuk-checkboxes__input" id="filterFour" type="checkbox" name="filterFour" value="four">
                                <label for="filterFour" class="govuk-checkboxes__label u-display-ib">Criteria four</label>
                            </div>
                        </li>
                        <li class="filter__item filter__item--small">
                            <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                <input class="govuk-checkboxes__input" id="filterFive" type="checkbox" name="filterFive" value="five">
                                <label for="filterFive" class="govuk-checkboxes__label u-display-ib">Criteria five</label>
                            </div>
                        </li>

                    </ul>
                </div>#}

                <div class="filter filter-toggle __filter-toggle--shut">
                    <button class="filter__title" type="button" onclick="toggleVisibility(this, 'toggleCouncilsList', 'js-hidden')" aria-expanded="false">Filter by funding body</button>
                    {#<h2 class="filter__title" tabindex="0" onclick="toggleVisibility(this, 'toggleCouncilsList', 'js-hidden')">Filter by council</h2>#}
                    <span class="filter__toggle"></span>
                    <ul class="filter__list u-clearfix js-hidden" id="toggleCouncilsList">
                        <ul class="filter__list u-clearfix" id="toggleCouncilsList">

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_0" type="checkbox" name="filterCouncils_0" value="Arts and Humanities Research Council">
                                    <label for="filterCouncils_0" class="govuk-checkboxes__label u-display-ib">AHRC</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_1" type="checkbox" name="filterCouncils_1" value="Biotechnology and Biological Sciences Research Council">
                                    <label for="filterCouncils_1" class="govuk-checkboxes__label u-display-ib">BBSRC</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_2" type="checkbox" name="filterCouncils_2" value="Economic and Social Research Council">
                                    <label for="filterCouncils_2" class="govuk-checkboxes__label u-display-ib">ESRC</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_3" type="checkbox" name="filterCouncils_3" value="Engineering and Physical Sciences Research Council">
                                    <label for="filterCouncils_3" class="govuk-checkboxes__label u-display-ib">EPSRC</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_4" type="checkbox" name="filterCouncils_4" value="Innovate UK">
                                    <label for="filterCouncils_4" class="govuk-checkboxes__label u-display-ib">Innovate UK</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_5" type="checkbox" name="filterCouncils_5" value="Medical Research Council">
                                    <label for="filterCouncils_5" class="govuk-checkboxes__label u-display-ib">MRC</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_6" type="checkbox" name="filterCouncils_6" value="Natural Environment Research Council">
                                    <label for="filterCouncils_6" class="govuk-checkboxes__label u-display-ib">NERC</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_7" type="checkbox" name="filterCouncils_7" value="Research England">
                                    <label for="filterCouncils_7" class="govuk-checkboxes__label u-display-ib">Research England</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_8" type="checkbox" name="filterCouncils_8" value="Science and Technology Facilities Council">
                                    <label for="filterCouncils_8" class="govuk-checkboxes__label u-display-ib">STFC</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="filterCouncils_9" type="checkbox" name="filterCouncils_9" value="UK Research and Innovation">
                                    <label for="filterCouncils_9" class="govuk-checkboxes__label u-display-ib">UKRI</label>
                                </div>
                            </li>

                        </ul>
                    </ul>
                </div>

                <div>
                    {% call components.formGroup() %}
                        {{ components.button(text='Apply filters', extraClass='')}}
                    {%- endcall %}
                </div>

            </div>


        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-9') %}


            <div class="search _u-space-t20">
                <form action="#" method="get" role="search">
                    <div class="search">
                        <div class="govuk-form-group govuk-form-group--search">
                            <label class="govuk-label govuk-!-font-weight-bold" for="awardSearch">Search award</label>
                            <span class="govuk-hint">Search for award reference, name, holder or organisation</span>
                            <input class="govuk-input govuk-input--width-20 search__input" id="awardSearch" name="awardSearch" type="text">
                            <button type="submit" class="search__submit">Search</button>
                        </div>
                    </div>
                </form>

            </div>

            <p class="govuk-body _u-space-t10">Showing <strong>13</strong> awards filtered by <strong>"Show finished"</strong>, <strong>"BBSRC"</strong>, sorted by <strong>Task</strong></p>

            <div class="responsive-table">

                <table class="govuk-table mega-table responsive-table__table">
                    <thead>
                    <tr class="govuk-table__header">
                        <th class="govuk-table__header">Award</th>
                        <th class="govuk-table__header">Organisation</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Start date</th>
                        <th class="govuk-table__header govuk-table__header--numeric">End date</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Status</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Task</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="mega-table_row-status--">
                        <td class="govuk-table__cell mega-table__cell--fixed"><a href="#" class="govuk-link">AWA24 - Bio-detoxification of Ricin in castor bean</a></td>
                        <td class="govuk-table__cell">MRC</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 30) | random }} Jan 2022</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 30) | random }} Mar 2024</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <span class="_mega-table_item-meta">[value]</span>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                           <strong class="govuk-tag govuk-tag--purple">Received</strong>
                        </td>
                    </tr>
                    <tr class="mega-table_row-status--">
                        <td class="govuk-table__cell mega-table__cell--fixed"><a href="/prototypes/post-decision/award-change-start" class="govuk-link">AWA97 - Linear field waves in liquids</a></td>
                        <td class="govuk-table__cell">MRC</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 30) | random }} Feb 2022</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 30) | random }} Aug 2024</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <span class="_mega-table_item-meta">[value]</span>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <strong class="govuk-tag govuk-tag--red">Overdue</strong>
                        </td>
                    </tr>


                    {% for item in allData.megaDataApplications %}
                        <tr class="mega-table_row-status--">
                            <td class="govuk-table__cell mega-table__cell--fixed"><a href="{% if item.awardURL %}{{ item.awardURL }}{% else %}#{% endif %}" class="govuk-link">AWA{{ item.id }} - {{ item.name }}</a></td>
                            <td class="govuk-table__cell">{{ item.funder }}</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 30) | random }} Jan 2022</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 30) | random }} Dec 2024</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">[value]</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                {% if item.awardStatus == 'In progress' %}
                                    <strong class="govuk-tag govuk-tag--blue">change request</strong>
                                {% endif %}
                                {% if item.awardStatus == 'RECEIVED' %}
                                    <strong class="govuk-tag govuk-tag--yellow">Waiting on</strong>
                                {% endif %}

                                {% if item.awardStatus == 'Complete' %}
                                    <strong class="govuk-tag govuk-tag--green">{{ item.awardStatus }}</strong>
                                {% endif %}
                                {% if item.awardStatus == 'Terminated' %}
                                    <strong class="govuk-tag govuk-tag--red">Overdue</strong>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {#{{ components.pagination(totalItems=46,currentPage=2) }}#}
            {{ components.pagination(totalItems=99,itemsPerPage=10,currentPage=4) }}

        {%- endcall %}

    {%- endcall %}



    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}
    <script>
        function toggleVisibility(_this, id, className) {
            // event.preventDefault();
            let toggleSwitch = _this;
            let toggleItem = document.getElementById(id);
            if (hasClass(toggleItem, className)) {
                toggleSwitch.classList.add('filter__title--closed');
                toggleItem.classList.remove(className);
                toggleSwitch.setAttribute('aria-expanded', true);
            }
            else  {
                toggleSwitch.classList.remove('filter__title--closed');
                toggleItem.classList.add(className);
                toggleSwitch.setAttribute('aria-expanded', false);
            }
            // return false;
        }
        function hasClass(target, className) {
            return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
        }
    </script>
{% endblock %}

