{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'biG nUmBeRz' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = true %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-half') %}

            {{ components.captionHeading(text='biG nUmBeRz') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-b30') %}
        {% call components.bulmaColumnAny(size='column is-full') %}
            {{ components.captionHeading(text='This is in flexbox', tag='h2', size='m') }}
            <div class="big-numbers">

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Total authorised fEC
                    </div>
                    <div class="big-numbers__number">
                        £1,500,250
                    </div>
                </div>

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Contribution from organisations
                    </div>
                    <div class="big-numbers__number">
                        £500,250
                    </div>
                </div>

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Total award value
                    </div>
                    <div class="big-numbers__number">
                        £2,800,000
                    </div>
                </div>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-b30') %}
        {% call components.bulmaColumnAny(size='column is-full') %}
            {{ components.captionHeading(text='This is in flexbox', tag='h2', size='m') }}
            <div class="big-numbers">

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Total authorised fEC
                    </div>
                    <div class="big-numbers__number">
                        £1,500,250
                    </div>
                </div>

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Contribution from applying organisations
                    </div>
                    <div class="big-numbers__number">
                        £500,250
                    </div>
                </div>

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Total award value
                    </div>
                    <div class="big-numbers__number">
                        £2,800,000
                    </div>
                </div>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-b30') %}
        {% call components.bulmaColumnAny(size='column is-full') %}
            {{ components.captionHeading(text='This is in flexbox 2', tag='h2', size='m') }}
            <div class="big-numbers">

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Total
                    </div>
                    <div class="big-numbers__number">
                        £1
                    </div>
                </div>

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Contribution from applying organisations with long names
                    </div>
                    <div class="big-numbers__number">
                        £500,250
                    </div>
                </div>

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Total award value
                    </div>
                    <div class="big-numbers__number">
                        £2,800,000
                    </div>
                </div>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-b30') %}
        {% call components.bulmaColumnAny(size='column is-full') %}
            {{ components.captionHeading(text='This is in flexbox', tag='h2', size='m') }}
            <div class="big-numbers">

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Total
                    </div>
                    <div class="big-numbers__number">
                        £1
                    </div>
                </div>

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Contribution
                    </div>
                    <div class="big-numbers__number">
                        £5
                    </div>
                </div>

                <div class="big-numbers__biggy">
                    <div class="big-numbers__title">
                        Total value
                    </div>
                    <div class="big-numbers__number">
                        £6
                    </div>
                </div>
            </div>
        {%- endcall %}
    {%- endcall %}



{% endblock %}

{% block bodyScripts %}

{% endblock %}
