{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Finance tables' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = true %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-half') %}

            {{ components.captionHeading(text='Various post-decision tables') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="mainContent">

        {% call components.bulmaRow(extraClass='u-space-b30') %}

            {% call components.bulmaColumnAny(size='column is-full') %}

                {{ components.captionHeading(text='Cost summary',tag='h2',size='m') }}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow(extraClass='u-space-b30') %}

            {% call components.bulmaColumnAny(size='column is-3') %}

                <strong>Total authorised fEC</strong>
                <br>
                <span class="govuk-!-display-block govuk-!-font-size-36">£240,000</span>

            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-3') %}

                <strong>Contribution from applying organisations</strong>
                <br>
                <span class="govuk-!-display-block govuk-!-font-size-36">£86,000</span>

            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-3') %}

                <strong>Total award value</strong>
                <br>
                <span class="govuk-!-display-block govuk-!-font-size-36">£320,000</span>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow(extraClass='u-space-b30') %}

            {% call components.bulmaColumnAny(size='column is-9') %}

                {{ components.captionHeading(text='Costs', tag='h2', size='m') }}

               <div class="responsive-table">

                    <table class="govuk-table govuk-table--stripes govuk-table--edges">
                        <thead>
                        <tr>
                            <th class="govuk-table__header">Category</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Full Economic Cost (£)</th>
                            <th class="govuk-table__header govuk-table__header--numeric">RC Contribution (£)</th>
                            <th class="govuk-table__header govuk-table__header--numeric">FEC (%)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                            <td class="govuk-table__cell">Directly incurred</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">300,208.40</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">240,166.72</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        </tr>
                        <tr>

                            <td class="govuk-table__cell">Directly allocated</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">75,285.55</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">60,228.44</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        </tr>
                        <tr>

                            <td class="govuk-table__cell">Indirect costs</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">220,987.65</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">176,790.12</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        </tr>
                        <tr>

                            <td class="govuk-table__cell">Exceptions</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
                        </tr>
                        <tr class="">
                            <td class="govuk-table__cell govuk-table__cell--mega"><strong>Totals:</strong></td>
                            <td class="govuk-table__cell govuk-table__cell--mega govuk-table__cell--numeric">596,481.60</td>
                            <td class="govuk-table__cell govuk-table__cell--mega govuk-table__cell--numeric">477,185.28</td>
                            <td class="govuk-table__cell govuk-table__cell--mega govuk-table__cell--numeric">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>

               </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow(extraClass='u-space-b30') %}

            {% call components.bulmaColumnAny(size='column is-9') %}

                {{ components.captionHeading(text='Payment schedules', tag='h2', size='m') }}

                <div class="responsive-table">

                    <table class="govuk-table govuk-table--edges">
                        <thead>
                        <tr>
                            <th class="govuk-table__header">Quarter</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Payment amount</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="govuk-table--current">
                            <td class="govuk-table__cell">Jul to Sep 2022 <span class="meta">(current quarter)</span></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£300,208.40</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--yellow">Due</strong></td>
                        </tr>
                        <tr>
                            <td class="govuk-table__cell">Oct to Dec 2022</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£75,285.55</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">Due</strong></td>
                        </tr>
                        <tr>
                            <td class="govuk-table__cell">Jan to Mar 2023</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£75,285.55</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">Due</strong></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <table class="govuk-table _govuk-table--stripes govuk-table--finance">
                    <thead>
                    <tr>
                        <th class="govuk-table__header u-brd-l0 u-brd-r0">Quarter</th>
                        <th class="govuk-table__header govuk-table__header--numeric u-brd-l0 u-brd-r0">Payment date</th>
                        <th class="govuk-table__header govuk-table__header--numeric u-brd-l0 u-brd-r0">Profile amount (£)</th>
                        <th class="govuk-table__header govuk-table__header--numeric u-brd-r0 u-brd-l0">Payment total (£)</th>
                        <th class="govuk-table__header govuk-table__header--numeric u-brd-l0 u-brd-r0">Status</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="govuk-table__cell">1</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">1 Apr 2022</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£36,000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£26,000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">paid</strong></td>
                    </tr>
                    <tr class="govuk-table--current">
                        <td class="govuk-table__cell">2</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">1 Jul 2022</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£36,000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£26,000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--yellow">due</strong></td>
                    </tr>
                    <tr class="">
                        <td class="govuk-table__cell">3</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">1 Oct 2022</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£36,000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£26,000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">due</strong></td>
                    </tr>
                    <tr class="">
                        <td class="govuk-table__cell">4</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">1 Jan 2023</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£36,000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£26,000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">due</strong></td>
                    </tr>

                </table>

            {%- endcall %}

        {%- endcall %}



        {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full') %}

            {{ components.captionHeading(text='Costs by category', tag='h2', size='m') }}

            <div class="responsive-table">

                <table class="govuk-table govuk-table--stripes _govuk-table--finance govuk-table--indents responsive-table__table">
                    <thead>
                    <tr>
                        <th rowspan="2" class="govuk-table__header u-brd-l0">Cost category</th>
                        <th rowspan="2" class="govuk-table__header govuk-table__header--numeric">% fEC</th>
                        <th colspan="3" class="govuk-table__header govuk-table__cell--centre ">Authorised fEC (£)</th>
                        <th colspan="3" class="govuk-table__header govuk-table__cell--centre">RC Contribution (£)</th>

                    </tr>
                    <tr>
                        <th class="govuk-table__header govuk-table__header--numeric u-brd-r0">Net</th>
                        <th class="govuk-table__header govuk-table__header--numeric u-brd-r0">Indexation</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Total</th>
                        <th class="govuk-table__header govuk-table__header--numeric u-brd-r0">Net</th>
                        <th class="govuk-table__header govuk-table__header--numeric u-brd-r0">Indexation</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="govuk-table__cell">DI - Staff</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>

                    </tr>
                    <tr>
                        <td class="govuk-table__cell">DI - Equipment</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>

                    </tr>
                    <tr>
                        <td class="govuk-table__cell">DI - T&amp;S</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>

                    </tr>
                    <tr class="govuk-table__cell-bb">
                        <td class="govuk-table__cell">DI - Other</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell">DA - Investigator</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell">DA - Estates</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell">DA - Other</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                    </tr>
                    <tr class="govuk-table__cell-bb">
                        <td class="govuk-table__cell">DA - Indirect costs</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell">Ex - Staff</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell">Ex - T&amp;S</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                    </tr>
                    <tr class="">
                        <td class="govuk-table__cell">Ex - Other</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="govuk-table__row--mega">
                        <td class="govuk-table__cell">Total value</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                    </tr>
                    </tfoot>
                </table>

            </div>



            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}

                <div class="responsive-table">

                <table class="govuk-table govuk-table--stripes govuk-table--finance responsive-table__table">
                    <thead>
                        <tr>
                            <th rowspan="2" class="govuk-table__header u-brd-l0">Cost category</th>
                            <th rowspan="2" class="govuk-table__header govuk-table__header--numeric">% fEC</th>
                            <th colspan="3" class="govuk-table__header govuk-table__cell--centre ">Authorised fEC (£)</th>
                            <th colspan="3" class="govuk-table__header govuk-table__cell--centre">RC Contribution (£)</th>

                        </tr>
                        <tr>
                            <th class="govuk-table__header govuk-table__header--numeric u-brd-r0">Net</th>
                            <th class="govuk-table__header govuk-table__header--numeric u-brd-r0">Indexation</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Total</th>
                            <th class="govuk-table__header govuk-table__header--numeric u-brd-r0">Net</th>
                            <th class="govuk-table__header govuk-table__header--numeric u-brd-r0">Indexation</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="govuk-table__cell">DI - Staff</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>

                        </tr>
                        <tr>
                            <td class="govuk-table__cell">DI - Equipment</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>

                        </tr>
                        <tr>
                            <td class="govuk-table__cell">DI - T&amp;S</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>

                        </tr>
                        <tr class="govuk-table__cell-bb">
                            <td class="govuk-table__cell">DI - Other</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        </tr>
                        <tr>
                            <td class="govuk-table__cell">DA - Investigator</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        </tr>
                        <tr>
                            <td class="govuk-table__cell">DA - Estates</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        </tr>
                        <tr>
                            <td class="govuk-table__cell">DA - Other</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        </tr>
                        <tr class="govuk-table__cell-bb">
                            <td class="govuk-table__cell">DA - Indirect costs</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">80</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        </tr>
                        <tr>
                            <td class="govuk-table__cell">Ex - Staff</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        </tr>
                        <tr>
                            <td class="govuk-table__cell">Ex - T&amp;S</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        </tr>
                        <tr class="">
                            <td class="govuk-table__cell">Ex - Other</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">100</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="govuk-table__row--mega">
                            <td class="govuk-table__cell">Total value</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp;</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">50, 000</td>
                        </tr>
                    </tfoot>
                </table>

                </div>

            {%- endcall %}

        {%- endcall %}

    </section>


    <section class="section">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8') %}

                {{ components.captionHeading(text='Staff', tag='h2', size='m') }}

                {{ components.captionHeading(text='Staff summary', tag='h3', size='s') }}
                <div class="responsive-table">

                    <table class="govuk-table responsive-table__table">
                        <thead>
                        <tr>
                            <th class="govuk-table__header u-brd-l0">Role</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Authorised fEC<br> net</th>
                            <th class="govuk-table__header govuk-table__header--numeric ">RC contribution<br> new</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Number of <br>staff months</th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="govuk-table__cell">Investigator</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">450,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">250,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">36</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">Other</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">150,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">150,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">36</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">Researcher</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">300,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">200,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">36</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">Technician</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">100,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">50,000</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">24</td>
                            </tr>
                        </tbody>
                    </table>
                </div>




            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}

                {{ components.captionHeading(text='Staff and DI investigator details', tag='h3', size='s') }}
                <div class="responsive-table">

                    <table class="govuk-table responsive-table__table">
                        <thead>
                        <tr>
                            <th class="govuk-table__header">Start date</th>
                            <th class="govuk-table__header">End date</th>
                            <th class="govuk-table__header govuk-table__header--centre">Duration</th>
                            <th class="govuk-table__header govuk-table__header--centre">FTE<br>percent</th>
                            <th class="govuk-table__header">Name or post<br>identifier</th>
                            <th class="govuk-table__header">Summary fund<br>heading</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Authorised cost<br><span class="govuk-!-font-size-16 govuk-!-font-weight-regular">(Excluding indexation)</span></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="govuk-table__cell">1 Feb 2023</td>
                                <td class="govuk-table__cell">31 Jan 2025</td>
                                <td class="govuk-table__cell govuk-table__cell--centre u-align-center">24</td>
                                <td class="govuk-table__cell govuk-table__cell--centre">{{ range(10, 100) | random }}</td>
                                <td class="govuk-table__cell">{{ 'firstAndLast' | giveMeAName }}</td>
                                <td class="govuk-table__cell">Directly Incurred</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">123,500</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">1 Feb 2023</td>
                                <td class="govuk-table__cell">31 Jan 2025</td>
                                <td class="govuk-table__cell govuk-table__cell--centre u-align-center">24</td>
                                <td class="govuk-table__cell govuk-table__cell--centre">{{ range(10, 100) | random }}</td>
                                <td class="govuk-table__cell">{{ 'firstAndLast' | giveMeAName }}</td>
                                <td class="govuk-table__cell">Directly Incurred</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">123,500</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">1 Feb 2023</td>
                                <td class="govuk-table__cell">31 Jan 2025</td>
                                <td class="govuk-table__cell govuk-table__cell--centre u-align-center">24</td>
                                <td class="govuk-table__cell govuk-table__cell--centre">{{ range(10, 100) | random }}</td>
                                <td class="govuk-table__cell">{{ 'firstAndLast' | giveMeAName }}</td>
                                <td class="govuk-table__cell">Directly Incurred</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">123,500</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">1 Feb 2023</td>
                                <td class="govuk-table__cell">31 Jan 2025</td>
                                <td class="govuk-table__cell govuk-table__cell--centre u-align-center">24</td>
                                <td class="govuk-table__cell govuk-table__cell--centre">{{ range(10, 100) | random }}</td>
                                <td class="govuk-table__cell">{{ 'firstAndLast' | giveMeAName }}</td>
                                <td class="govuk-table__cell">Directly Incurred</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">123,500</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">1 Feb 2023</td>
                                <td class="govuk-table__cell">31 Jan 2025</td>
                                <td class="govuk-table__cell govuk-table__cell--centre u-align-center">24</td>
                                <td class="govuk-table__cell govuk-table__cell--centre">{{ range(10, 100) | random }}</td>
                                <td class="govuk-table__cell">{{ 'firstAndLast' | giveMeAName }}</td>
                                <td class="govuk-table__cell">Directly Incurred</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">123,500</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">1 Feb 2023</td>
                                <td class="govuk-table__cell">31 Jan 2025</td>
                                <td class="govuk-table__cell govuk-table__cell--centre u-align-center">24</td>
                                <td class="govuk-table__cell govuk-table__cell--centre">{{ range(10, 100) | random }}</td>
                                <td class="govuk-table__cell">{{ 'firstAndLast' | giveMeAName }}</td>
                                <td class="govuk-table__cell">Directly Incurred</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">123,500</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">1 Feb 2023</td>
                                <td class="govuk-table__cell">31 Jan 2025</td>
                                <td class="govuk-table__cell govuk-table__cell--centre u-align-center">24</td>
                                <td class="govuk-table__cell govuk-table__cell--centre">{{ range(10, 100) | random }}</td>
                                <td class="govuk-table__cell">{{ 'firstAndLast' | giveMeAName }}</td>
                                <td class="govuk-table__cell">Directly Incurred</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">123,500</td>
                            </tr>


                        </tbody>

                    </table>

                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}

                {{ components.captionHeading(text='Staff summary', tag='h3', size='s') }}
                <div class="responsive-table">

                    <table class="govuk-table responsive-table__table">
                        <thead>
                        <tr>
                            <th class="govuk-table__header">Start date</th>
                            <th class="govuk-table__header">End date</th>
                            <th class="govuk-table__header govuk-table__header--centre">Duration</th>
                            <th class="govuk-table__header govuk-table__header--centre">FTE<br>percent</th>
                            <th class="govuk-table__header">Name or post<br>identifier</th>
                            <th class="govuk-table__header">Summary fund<br>heading</th>
                            <th class="govuk-table__header govuk-table__header--numeric">Authorised cost<br><span class="govuk-!-font-size-16 govuk-!-font-weight-regular">(Excluding indexation)</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set monthsRange = ["6","12","18","24","36","48"] %}
                        {% for i in range(0,40) %}
                            <tr>
                                <td class="govuk-table__cell">1 Feb 2023</td>
                                <td class="govuk-table__cell">31 Jan 2025</td>
                                <td class="govuk-table__cell govuk-table__cell--centre u-align-center">{{ monthsRange[range(1, 6) | random] }}</td>
                                <td class="govuk-table__cell govuk-table__cell--centre">{{ (range(14, 20) | random) * 5 }}</td>
                                <td class="govuk-table__cell">{{ 'firstAndLast' | giveMeAName }}</td>
                                <td class="govuk-table__cell">Directly Incurred</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">&pound;{{ ((range(1, 100) | random) * 2500) | numberFormat() }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-4') %}

                {{ components.captionHeading(text='DA investigator details', tag='h3', size='s') }}
                <div class="responsive-table">

                    <table class="govuk-table responsive-table__table">
                        <thead>
                            <tr>
                                <th class="govuk-table__header">Name or post identifier</th>
                                <th class="govuk-table__header govuk-table__header--numeric">Average hours<br>per week</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(0,40) %}
                                <tr>
                                    <td class="govuk-table__cell">{{ 'addHonorific' | giveMeAName }}</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">{{ (range(1, 8) | random) * 5 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            {%- endcall %}

        {%- endcall %}

    </section>

{% endblock %}

{% block bodyScripts %}

{% endblock %}
