{% set loggedOut = false %}
{% set isAdminUser = false %}
{% set showExternalNav = true %}
{% set signInLink = '#' %}
{% set hideAccountLinks = true %}
{% set activeNavItem = 'reviews' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/peer-review-external/user-home' %}
{% set reviewsLink = '/prototypes/peer-review-external/user-reviews' %}
{% set awardsSetupLinkHide = true %}
{% set awardsLinkHide = true %}
{% set signOutLink = '#' %}
{% set altProfilePagelink = '#' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set pageTitle = 'Application review' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/peer-review-external/user-reviews', text:'Back to all reviews'}] %}

{% set review = review if review %}
{% set rating = rating if rating %}
{% set isComplete = isComplete if isComplete %}

{% set showStickyNavscripts = true %}
{% set listItems = [
    { text: 'Case for support', url: '#case', class:'canScroll' },
    { text: 'Capability to deliver', url: '#capability', class:'canScroll' },
    { text: 'Pathways to impact', url: '#pathways', class:'canScroll' },
    { text: 'Data impact statement', url: '#data', class:'canScroll' },
    { text: 'Finances', url: '#finances', class:'canScroll' },
    { text: 'Letters of support', url: '#letters', class:'canScroll' }
] %}

{% block content %}

    <style>
        .tox-statusbar__wordcount, .tox-statusbar__branding { display: none!important}
    </style>

    <style>
        .sticky-tabs {
            /*overflow: hidden;*/
        }
        .sticky-tabs--stuck {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .menu {
            width: 100%;
            z-index: 99;
            position: static;
        }

        .menu.sticky {
            position: fixed;
            top: 0;
            /*border-bottom: 0;*/
            width: 100%;
            max-width: 1152px;
            padding-right: 1.5rem;
        }

        .sticky-tabs + .govuk-tabs__panel {
            padding-top: 60px;
        }
    </style>

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Bio-detoxification of Ricin in castor bean', caption='Development of a Novel Inhibitor of Ricin') }}
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="mainContent">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}
                <div class="govuk-tabs" data-module="_govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>

                    {#<a class="govuk-tabs__tab" id="link_one" href="#one"  data-tab="one" data-scroll="">
                        Application overview
                    </a>#}

                   {# <ul class="govuk-tabs__list">#}
                    <ul class="govuk-tabs__list sticky-tabs menu" id="stickyBar" style="background-color:white;">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" id="link_one" data-tab="one" href="#one" data-scroll="">
                                Application overview
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" id="link_two" data-tab="two" href="#two" data-scroll="">
                                Read application
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" id="link_three" data-tab="three" href="#three" data-scroll="">
                                Write your review
                            </a>
                        </li>
                    </ul>
                    <div class="tabs-cta print-hide">
                        <a href="/prototypes/peer-review-external/download-files" class="govuk-button govuk-button--secondary">Download review material</a>
                    </div>

                    <div class="govuk-tabs__panel govuk-tabs__panel--borderless" id="one">

                        {% call components.bulmaRow() %}

                            {% call components.bulmaColumnAny(size='is-8') %}

                                {{ components.captionHeading(text='Review deadline',tag='h2', size='s', extraClass='u-space-b5') }}

                           {#     <p class="govuk-body">
                                    14 May 2021
                                </p>#}

                                <p class="govuk-body">
                                    14 May 2021 (21 days left) <br>
                                    <a href="#" class="govuk-link">Request extension</a>
                                </p>

                                {{ components.captionHeading(text='Opportunity',tag='h2', size='s', extraClass='u-space-b5') }}

                                <p class="govuk-body">
                                    <a href="#">Development of a Novel Inhibitor of Ricin</a>
                                </p>

                                {#{{ components.captionHeading(text='Application title',tag='h2', size='s', extraClass='u-space-b5') }}

                                <p class="govuk-body">
                                    Bio-detoxification of Ricin in castor bean
                                </p>#}

                                {#{{ components.captionHeading(text='Team',tag='h2', size='s', extraClass='u-space-b5') }}

                                <p class="govuk-body">
                                    <strong>Principal investigator:</strong> Prof Giles Dexter, Coventry University<br>
                                    <strong>Co-investigator:</strong> Prof Ian Charles,  Coventry University<br>
                                    <strong>Researcher:</strong> Dr Maxwell Peterson,  Coventry University<br>
                                </p>#}

                                {{ components.captionHeading(text='Grant size',tag='h2', size='s', extraClass='u-space-b5') }}

                                <p class="govuk-body">
                                    £80,000
                                </p>

                                {{ components.captionHeading(text='Summary',tag='h2', size='s', extraClass='u-space-b5') }}

                                <p class="govuk-body">
                                    The PI proposes a high-impact collaborative research project to develop new inhibitors for ribosome inactivating proteins (RIPs), such as ricin and Shiga toxin. Ricin toxin, produced by the castor bean plant, has a nefarious past. Ricin is a well-known homicidal poison and has been used in several bioterrorist attacks. Shiga toxin is a deadly product of enterobacterial Escherichia coli. RIPs are RNA N-glycosidases that enzymatically remove specific purine residues from the universally conserved sarcin/ricin loop (S/R loop) of large ribosomal RNA, causing cellular death.
                                </p>

                                <p class="govuk-body">
                                    Phasellus ac risus lectus. Proin quis vehicula metus. Suspendisse eget odio metus. Maecenas vehicula quam ut accumsan dapibus. Phasellus sit amet nibh a lectus commodo viverra in id risus. Maecenas at sem nec dolor consectetur accumsan. Morbi non eros magna. Sed et mauris libero. Donec sollicitudin, risus non pulvinar consectetur, nibh lacus venenatis nunc, eget laoreet libero quam et lacus. Proin eros tortor, tempor quis dui quis, consequat ultricies arcu. Sed congue turpis at elit posuere, quis iaculis elit consequat. In maximus eu mi id euismod.
                                </p>

                                <p class="govuk-body u-space-t45">
                                    <a href="/prototypes/peer-review-external/invite-reject" class="govuk-link">Unable to review this application?</a>
                                </p>


                            {%- endcall %}

                        {%- endcall %}

                    </div>
                    {#


                            END TAB ONE


                    #}

                    <div class="govuk-tabs__panel govuk-tabs__panel--borderless govuk-tabs__panel--hidden" id="two">

                        {% call components.bulmaRow() %}

                            {% call components.bulmaColumnAny(size='is-3') %}
                                <nav class="sticky-nav">
                                    {{ components.linkHeading(text='Contents', tag='h2', size='s')}}

                                    {{ components.list(items=listItems, parentClass='sticky-nav')}}

                                    {#<a href="#" class="govuk-link js-only print-link print-link--tabs" id="printThis" onclick="window.print();return false;">Print this page</a>#}
                                </nav>
                            {%- endcall %}

                            {% call components.bulmaColumnAny(size='is-7', extraClass='{#u-space-t20#}') %}

                                {% include '../generic-includes/review-content-questions.njk' %}

                                <p class="govuk-body u-space-t45">
                                    <a href="/prototypes/peer-review-external/invite-reject" class="govuk-link">Unable to review this application?</a>
                                </p>

                            {%- endcall %}

                        {%- endcall %}
                    </div>
                    {#


                            END TAB TWO


                    #}
                    <div class="govuk-tabs__panel govuk-tabs__panel--borderless govuk-tabs__panel--hidden" id="three">

                        {% call components.bulmaRow() %}

                            {% call components.bulmaColumnAny(size='is-8', extraClass='') %}

                                <h2 class="govuk-heading-m">Write your review</h2>

                                <p class="govuk-body">The content in this section will be written by the Opportunity author at the hosting Council. They will provide specific guidance to help you review applications for this funding.</p>

                                <p class="govuk-body">
                                    <strong>(Example)</strong> Please comment on the importance and competitiveness of the proposed research, including:
                                </p>

                                <ol class="govuk-list govuk-list--number">
                                    <li>strength of medical or scientific case
                                    <li>level of innovation, and whether this is likely to lead to significant new
                                        understanding</li>
                                    <li>management strategy proposed, including equitable access to any shared resources</li>
                                    <li>feasibility of experimental plans, statistics, methodology and design, including provision of sample size calculations, strategies to avoid bias, and preliminary data where appropriate</li>
                                    <li>how well risks have been identified, and will be mitigated.</li>
                                </ol>

                                <noscript>
                                    <div class="alerts  alerts--danger ">
                                        <strong>JavaScript is not enabled</strong> This means anything you enter or paste into the box below will appear without formatting. To use 'rich text editing' functions, like bold text or lists, you will need <a href="https://www.enable-javascript.com/" class="govuk-link" target="_blank">to enable JavaScript</a> in your device or browser's security settings. If you did not disable JavaScript, try refreshing this page in a few minutes.
                                    </div>
                                </noscript>
                                {#{{ components.textarea(options=selectOptions, label='Enter your case for support', labelBold=true, name='htmlTest', id='tinyMCEInput', hint='', group=true, rows='12', size='', value=exampleHTML, extraClass='', visuallyHidden=true) }}#}
                                <div class="form-group ">
                                    <label class="govuk-visually-hidden" for="tinyMCEInput">Enter your review</label>
                                    <textarea class="govuk-textarea form-control " name="review" id="tinyMCEInput" rows="12">{{ review }}</textarea>
                                    <p class="govuk-body u-space-t20"><span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 2500 words remaining</span></p>
                                </div>


                                <p>
                                    <span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite"></span>
                                </p>


                                {{ components.captionHeading(text='You must:', tag='h3', size='s', extraClass='u-space-t20') }}

                                <ul class="govuk-list govuk-list--bullet bull">
                                    <li>cover strengths and weaknesses</li>
                                    <li>cover all application criteria: the idea, importance, timeliness, approach, impact</li>
                                    <li>be objective, evidenced based and justified</li>
                                    <li>challenge the applicant constructively</li>
                                </ul>

                                {{ components.captionHeading(text='Do not:', tag='h3', size='s', extraClass='u-space-y5') }}

                                <ul class="govuk-list govuk-list--bullet bull">
                                    <li>share personal information</li>
                                    <li>base on rumour or opinion</li>
                                </ul>

                                {#<p class="govuk-body">The applicant will be able to read your review and respond to what you have written. Their comments and your review are both submitted to panel to help shape funding decisions.</p>

                                <div class="application-items u-space-b30">
                                    <div class="application-item application-item--skinny {% if isComplete %} application-item--complete {% else%} application-item--incomplete {% endif %} ">
                                        <div class="application-item__contents govuk-clearfix">
                                            <div class="application-item__left">
                                                <a href="/prototypes/peer-review-external/write-review" class="govuk-link">Write your review</a>
                                            </div>
                                            <div class="application-item__right">
                                                {% if isComplete %}
                                                <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                                                {% else %}
                                                <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% call components.form(action='#', method='POST',name='formAddApplicant') %}
                                <div class="application-controls govuk-clearfix">

                                    <input class="govuk-button application-controls__submit" type="submit" value="Save as draft" {% if not isComplete %} disabled {% endif %}>

                                </div>
                                {%- endcall %}#}



                            {%- endcall %}

                        {%- endcall %}
                    </div>
                    {#



                            END TAB THREE



                    #}

                </div>
            {%- endcall %}

        {%- endcall %}
    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}

{% block bodyScripts %}
    {#<script>
    </script>#}
    <script type="text/javascript">
       /* /!* smooth-scroll.js v1.3.1 *!/
        /!*
        n=0,
        r=500,
        i=15,
        *!/
        (function(e,t){
            "use strict";
            var n=0,
                r=250,
                i=15,
                /!*s=document.getElementsByTagName("a"),*!/
                s=document.getElementsByClassName('canScroll'),
                o;
            for(var u=0;u<s.length;u++){
                o=s[u].attributes.href===t?null:s[u].attributes.href.nodeValue.toString();
                if(o!==null&&o.length>1&&o.indexOf("#")!=-1){
                    s[u].onclick=function(){
                        var n,s=this.attributes.href.nodeValue.toString(),o=s.substr(0,s.indexOf("#")),u=s.substr(s.indexOf("#")+1);if(n=document.getElementById(u)){var l=(r-r%i)/i,c=f(),h=(a(n)-c)/l;if(e.history&&typeof e.history.pushState=="function")e.history.pushState({},t,o+"#"+u);for(var p=1;p<=l;p++){(function(){var t=h*p;setTimeout(function(){e.scrollTo(0,t+c)},i*p)})()}return false}}}}var a=function(e){var r=n*-1;while(e.offsetParent!=t&&e.offsetParent!=null){r+=e.offsetTop+(e.clientTop!=null?e.clientTop:0);e=e.offsetParent}return r};var f=function(){return e.pageYOffset!==t?e.pageYOffset:document.documentElement.scrollTop!==t?document.documentElement.scrollTop:document.body.scrollTop}})(window)*/

       /* smooth-scroll.js v1.3.1 */
       /*
       n=0,
       r=500,
       i=15,
       */
       (function(e, t) {
           "use strict";
           // n is the offset value to get the title showing below the tabs
           var n = 60,
               r = 250,
               i = 15,
               /*s=document.getElementsByTagName("a"),*/
               s = document.getElementsByClassName('canScroll'),
               o;
           for (var u = 0; u < s.length; u++) {
               o = s[u].attributes.href === t ? null : s[u].attributes.href.nodeValue.toString();
               if (o !== null && o.length > 1 && o.indexOf("#") != -1) {
                   s[u].onclick = function() {
                       var n, s = this.attributes.href.nodeValue.toString(),
                           o = s.substr(0, s.indexOf("#")),
                           u = s.substr(s.indexOf("#") + 1);
                       if (n = document.getElementById(u)) {
                           var l = (r - r % i) / i,
                               c = f(),
                               h = (a(n) - c) / l;
                           if (e.history && typeof e.history.pushState == "function") e.history.pushState({}, t, o + "#" + u);
                           for (var p = 1; p <= l; p++) {
                               (function() {
                                   var t = h * p;
                                   setTimeout(function() {
                                       e.scrollTo(0, t + c)
                                   }, i * p)
                               })()
                           }
                           return false
                       }
                   }
               }
           }
           var a = function(e) {
               var r = n * -1;
               while (e.offsetParent != t && e.offsetParent != null) {
                   r += e.offsetTop + (e.clientTop != null ? e.clientTop : 0);
                   e = e.offsetParent
               }
               return r
           };
           var f = function() {
               return e.pageYOffset !== t ? e.pageYOffset : document.documentElement.scrollTop !== t ? document.documentElement.scrollTop : document.body.scrollTop
           }
       })(window)
    </script>

    <script src="https://cdn.tiny.cloud/1/phk3goz7y02jvj65em0m21azcq1qr7abduimch9isoe4jkor/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        const counteroutputFoot = document.getElementById('wordCount');
        let words = 0;
        const limit = 2500;
        let tinyMCEWordCount;

        tinymce.init({
            selector: '#tinyMCEInput',
            height: 500,
            {% if readOnly %} readonly : 1, {% endif %}
            plugins: [
                'advlist autolink lists link image preview anchor',
                'media table paste  wordcount'
            ],
            setup: function(editor) {

                editor.on('keyup', function(e) {
                    tinyMCEWordCount = parseInt(document.getElementsByClassName('tox-statusbar__wordcount')[0].innerHTML.split([' ']));
                    console.log('tinyMCEWordCount = ' + tinyMCEWordCount);
                    words = tinyMCEWordCount;
                    let remainder = limit - words;
                    if (words < limit) {
                        counteroutputFoot.innerHTML = 'You have ' + remainder + ' words remaining';
                    } else {
                        let overCount = words - limit;
                        counteroutputFoot.innerHTML = '<span style="font-weight:700;color:red">You have ' +  overCount + ' words too many</span>';
                    }
                });

                editor.on('init', function(e) {
                    setTimeout(function(){
                        tinyMCEWordCount = parseInt(document.getElementsByClassName('tox-statusbar__wordcount')[0].innerHTML.split([' ']));
                        console.log('tinyMCEWordCount = ' + tinyMCEWordCount);
                        words = tinyMCEWordCount;
                        let remainder = limit - words;
                        counteroutputFoot.innerHTML = 'You have ' + remainder + ' words remaining';
                    }, 500);
                });
            },
            toolbar: 'formatselect | bold italic | bullist numlist | align | indent outdent | link | table |',
            content_css: [
                '//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i',
                '/stylesheets/tinymce.css'
            ],
            menubar: false,
        });
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
        let div_top = $('.menu').offset().top;
        console.log('div_top = ' + div_top);
        $(window).load(function () {
            console.log($('.menu').offset().top);
        });
        $(window).scroll(function () {
            var window_top = $(window).scrollTop() - 0;
            if (window_top > div_top) {
                if (!$('.menu').is('.sticky')) {
                    $('.menu').addClass('sticky');
                }
            } else {
                $('.menu').removeClass('sticky');
            }
        });

        $('.govuk-tabs__tab').each(function(index){
            $(this).on('click', function(e){
                e.preventDefault();
                console.log('clicking');
                // set previous scroll before doing anything
                $('.govuk-tabs__list-item--selected a').attr('data-scroll', $(document).scrollTop());
                // hide all tabs
                $('.govuk-tabs__panel').addClass('govuk-tabs__panel--hidden');
                $('.govuk-tabs__list-item').removeClass('govuk-tabs__list-item--selected');
                // activate desired tab
                $('#' + $(this).data('tab')).removeClass('govuk-tabs__panel--hidden');
                $(this).parent().addClass('govuk-tabs__list-item--selected');
                // scroll to active tab
                $(document).scrollTop(parseInt($(this).attr('data-scroll')));
            });
        });
    </script>


{% endblock %}
