{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set isAdminUser = true %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set pageTitle = 'Modal overlay' + GLOBAL_TAG_TITLE_SUFFIX %}


{% set allCouncils = allCouncils %}

{% block content %}

    {% call components.bulmaRow(extraClass='') %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Modal overlay') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-8') %}

            <p class="govuk-body">Adipiscing vivamus fames. Rutrum duis curabitur eleifend vehicula dictum sociis ultricies suspendisse egestas ullamcorper quam, elementum suspendisse, dolor imperdiet. Senectus montes.</p>


                <div class="govuk-form-group ">
                    <label class="govuk-label govuk-label--s  govuk-!-font-weight-bold " for="countdownValue">Countdown start value
                    </label>
                    <input class="govuk-input govuk-input--width-2" id="countdownValue" type="text" name="countdownValue" value="60" >
            <a href="#" class="govuk-button" id="activateModal">Activate modal</a>
                </div>


            <p class="govuk-body">Aptent luctus risus nibh lacinia <strong>auctor</strong> nullam mollis, quisque suspendisse nulla iaculis urna conubia nullam sed per nostra augue, pretium gravida odio suspendisse vehicula sodales at primis hymenaeos varius. A sociis imperdiet aptent dui volutpat vivamus molestie sit fringilla nisl libero venenatis aenean.</p>

            <p class="govuk-body">Scelerisque duis tempor ut metus senectus faucibus arcu mi. Curabitur volutpat. Luctus sociis habitant tellus, potenti. Litora condimentum est condimentum diam facilisis amet fermentum, vivamus pharetra fringilla nam quis libero nostra rutrum etiam erat varius. Nisl habitant curae; sagittis.</p>

            <p class="govuk-body">Ornare cum sem. Conubia luctus erat. Mi. Elit tincidunt cum. Lorem fringilla eleifend placerat. Rutrum vulputate ultrices <em>hendrerit</em> fermentum vitae varius pretium tincidunt metus tempus ultricies, cursus. Dis natoque ullamcorper, <strong>hymenaeos</strong> semper.</p>

            <p class="govuk-body">Ad eleifend <strong>taciti</strong> pulvinar tempus fames pharetra integer ultricies. Non netus semper varius justo velit. Velit quis inceptos Congue natoque eget eget pellentesque erat hymenaeos mauris ultrices commodo.</p>

            <p class="govuk-body"><em>Consequat</em> senectus dapibus, <em>sit</em> malesuada est sem nisl pharetra aliquet orci, adipiscing convallis <em>et</em> vitae magnis, laoreet bibendum parturient vulputate Pellentesque. <strong>Id</strong> varius dui integer volutpat <em>ad</em> varius primis varius sem inceptos facilisi sociosqu mollis duis penatibus.</p>

        {%- endcall %}

    {%- endcall %}

    {#
        aria-live is implicit withrole=timer
        aria-live="polite" aria-atomic="true"
    #}

    <div class="modal modal--hidden" id="modalOverlay" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-inner">
            <h2 class="govuk-heading-l" id="modalTitle">Your session is about to time out</h2>
            <p class="govuk-body">You will automatically be signed out in <strong><span id="timer" role="timer">15 minutes</span></strong>, at which point you will lose any unsaved changes.
            <p class="govuk-body">Select 'Stay signed in' to continue working.</p>
            <p class="govuk-body">
                <button class="govuk-button" id="closeModal">Stay signed in</button>
            </p>
        </div>
    </div>

{% endblock %}

{% block bodyScripts %}
    <script>
        var ready = (callback) => {
            if (document.readyState != 'loading') callback();
            else document.addEventListener('DOMContentLoaded', callback);
        }
        ready(() => {

            let openModalLink = document.getElementById('activateModal');
            let closeModalButton = document.getElementById('closeModal');
            let modal = document.getElementById('modalOverlay');
            let timer = document.getElementById('timer');
            let body = document.getElementsByTagName('body')[0];
            let countdownValue;
            // console.log('countdownValue = ' + countdownValue);

            function startTimer() {
                countdownValue = document.getElementById('countdownValue').value;
                let i = countdownValue;
                let countdownTimer = setInterval(function() {
                    timer.textContent = i + ' seconds';
                    i = i - 1;
                    if (i <= 0) {
                        clearInterval(countdownTimer);
                        timer.innerHTML = '<span style="color:red">O seconds</span>';
                        window.location = '/prototypes/molecules/modal';
                    }
                }, 1000);
            }

            openModalLink.addEventListener('click', (e) => {
                e.preventDefault();
                body.classList.add('has-modal');
                modal.classList.remove('modal--hidden');
                pageTitleNotification.on('Session time out!', 1000);
                startTimer();
            });

            closeModalButton.addEventListener('click', (e) => {
                e.preventDefault();
                body.classList.remove('has-modal');
                modal.classList.add('modal--hidden');
                pageTitleNotification.off();
            });
        });

        !function(t,e){var n;t.pageTitleNotification=(n={currentTitle:null,interval:null},{on:function(l,i){n.interval||(n.currentTitle=e.title,n.interval=t.setInterval(function(){e.title=n.currentTitle===e.title?l:n.currentTitle},i||1e3))},off:function(){t.clearInterval(n.interval),n.interval=null,e.title=n.currentTitle}})}(window,document);


    </script>
{% endblock %}
