{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Profile page' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set allCouncils = allCouncils %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = true %}

{% set listItems = [
    { text: 'Personal details', url: '#' },
    { text: 'Account security', url: '#' },
    { text: 'Professional details', url: '#' },
    { text: 'Permissions', url: '#' },
    { text: 'Expert review preferences', url: '#' }
] %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Profile', caption='Professor Annabel Doubley-Barell') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-3') %}
                <nav class="">
                    {{ components.linkHeading(text='Profile sections', tag='h2', size='s')}}
                    {{ components.list(items=listItems, parentClass='')}}
                </nav>
            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-8') %}

                {{ components.captionHeading(text='Personal details', tag='h2', size='m') }}

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Honorific</dt>
                        <dd class="govuk-summary-list__value">Professor</dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> honorific</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">Annabel Doubley-Barell</dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Telephone
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">07700 900457</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change<span class="govuk-visually-hidden"> contact details</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Email</dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">annabel.doubley-barell@bristol.ac.uk</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> email</span></a>
                        </dd>
                    </div>
                </dl>

            {%- endcall %}

        {%- endcall %}


    </section>

{% endblock %}

{% block bodyScripts %}
    {#<script>
      function toggleVisibility(_this, id, className) {
        // event.preventDefault();
        let toggleSwitch = _this;
        let toggleItem = document.getElementById(id);
        if (hasClass(toggleItem, className)) {
          toggleSwitch.classList.add('filter__title--closed');
          toggleItem.classList.remove(className);
          toggleSwitch.setAttribute('aria-expanded', true);
        }
        else  {
          toggleSwitch.classList.remove('filter__title--closed');
          toggleItem.classList.add(className);
          toggleSwitch.setAttribute('aria-expanded', false);
        }
        // return false;
      }
      function hasClass(target, className) {
        return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
      }
    </script>#}
{% endblock %}
