
{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set accountSettingsLink = '' %}
{% set showExternalFurniture = false %}

{% set hideAccountLinks = true %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{% set loggedOut = false %}
{% set allData = allData if allData %}
{% set prototypeData = prototypeData if prototypeData %}
{% set limitedOrgList = limitedOrgList if limitedOrgList %}


{% set userName = prototypeData.userName %}

{% set pageTitle = 'Transfer' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/change-request/award-overview', text:'Back to award overview'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Transfer', caption='Create award change request') }}

           {# <p class="govuk-body govuk-!-font-size-24">Add the new organisation and the name of their contact.</p>#}

        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='submitForm') %}

        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-9') %}

                {#<h2 class="govuk-heading-m">New organisation contact</h2>#}
                {#<div class="govuk-form-group ">
                    <label class="govuk-label govuk-label--s" for="firstName" id="firstNameLabel">First name</label>
                    <input class="govuk-input govuk-input--width-20" id="firstName" type="text" name="firstName" value="">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="lastName" id="lastNameLabel">Last name</label>
                    <input class="govuk-input govuk-input--width-20 " id="lastName" type="text" name="lastName" value="">
                </div>

                <div class="govuk-form-group ">
                    <label class="govuk-label govuk-label--s" for="email" id="emailAddressInput">Email address</label>
                    <input class="govuk-input govuk-input--width-20" id="email" name="email" type="text" value="{{orgsSessionData.email }}">
                </div>#}

                {#<h2 class="govuk-heading-m">New organisation details</h2>#}

                <div class="govuk-form-group ">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading">Requested transfer date</h2>
                        </legend>
                        <div class="govuk-date-input" id="transferDates">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="newDay1">Day</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="newDay1" name="newDay1" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ allData.transferDay }}">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="newMonth1">Month</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="newMonth1" name="newMonth1" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ allData.transferMonth }}">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="newYear1">Year</label>

                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="newYear1" name="newYear1" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ allData.transferYear }}">
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="organisation">Name of receiving organisation</label>
                    <span class="govuk-hint">Start entering, then select the organisation's name</span>
                    <select name="organisation" class="govuk-select control" id="organisation">
                        <option></option>
                        {% for item in limitedOrgList %}
                            <option value="{{ item.n }}">{{ item.n }}</option>
                        {% endfor %}
                    </select>
                </div>


            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                {% include '../justification.njk' %}

            {%- endcall %}

        {%- endcall %}



        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <div class="application-controls govuk-clearfix ">
                    <button type="submit" class="govuk-button application-controls__submit govuk-!-display-inline govuk-button--secondary" value="save" name="saveButton">Save</button>
                    &nbsp;
                    <button type="submit" class="govuk-button application-controls__submit govuk-!-display-inline" name="submitButton" value="submit">Check and submit</button>
                    <br><br><a href="/prototypes/change-request/create-type" class="govuk-link application-controls__cancel">Cancel and return to create award change request</a>
                </div>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}
    {% include '../../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}


    <script type="text/javascript" src="/javascripts/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script type="text/javascript">
        var selectEl = document.querySelector('#organisation');
        accessibleAutocomplete.enhanceSelectElement({
            autoselect: true,
            defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
            minLength: 1,
            selectElement: selectEl
        });
    </script>
{% endblock %}


