{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set accountSettingsLink = '#' %}

{% set hideAccountLinks = true %}

{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set userName = 'Dr. Jane  Doe' %}
{% set isAdminUser = false %}
{% set loggedOut = false %}

{% set orgs2SessionData = orgs2SessionData if orgs2SessionData %}
{% set userOneV2 = userOneV2 if userOneV2 %}
{% set userTwoV2 = userTwoV2 if userTwoV2 %}
{% set userThreeV2 = userThreeV2 if userThreeV2 %}
{% set userFourV2 = userFourV2 if userFourV2 %}

{% set pageTitle = 'Applicants' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/orgs2/', text:'Back to application'}] %}

{% block content %}

   {# {% if userOneV2.firstName %}
        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full', extraClass='u-space-t20') %}
                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">{{ userOneV2.firstName }} {{ userOneV2.lastName }} has been added to the project.</h3>
                    </div>
                </div>
            {%- endcall %}
        {%- endcall %}
    {% endif %}#}

    {% if userTwoV2.detailsAdded %}
        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full', extraClass='u-space-t20') %}
                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            {% if userTwoV2.firstName !== '-' %}
                            {{ userTwoV2.titleName }} {{ userTwoV2.firstName }} {{ userTwoV2.lastName }}
                            {% else %}
                               {{ userTwoV2.roles }}
                            {%  endif %}
                            has been added to the project.</h3>
                    </div>
                </div>
            {%- endcall %}
        {%- endcall %}
    {% endif %}

    {% if userThreeV2.detailsAdded %}
        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full', extraClass='u-space-t20') %}
                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            {#{{ userThreeV2.firstName }} {{ userThreeV2.lastName }}#}
                            {% if userThreeV2.firstName !== '-' %}
                                {{ userThreeV2.titleName }} {{ userThreeV2.firstName }} {{ userThreeV2.lastName }}
                            {% else %}
                                {{ userThreeV2.roles }}
                            {%  endif %}
                            has been added to the project.</h3>
                    </div>
                </div>
            {%- endcall %}
        {%- endcall %}
    {% endif %}

    {% if userFourV2.detailsAdded %}
        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full', extraClass='u-space-t20') %}
                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            {#{{ userFourV2.firstName }} {{ userFourV2.lastName }}#}
                            {% if userFourV2.firstName !== '-' %}
                                {{ userFourV2.titleName }} {{ userFourV2.firstName }} {{ userFourV2.lastName }}
                            {% else %}
                                {{ userFourV2.roles }}
                            {%  endif %}
                            has been added to the project.
                        </h3>
                    </div>
                </div>
            {%- endcall %}
        {%- endcall %}
    {% endif %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Applicants', caption='APP171: Bio-detoxification of Ricin in castor bean') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='submitForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-9', extraClass='u-space-t20') %}

                <p class="govuk-body">Add details of who will be leading, supporting, taking part in or contributing to your proposed project</p>

                <p class="govuk-body">
                    <a class="govuk-button govuk-button--secondary" href="/prototypes/orgs2/select-role">Add applicant</a>
                </p>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full', extraClass='u-space-b45') %}
                <table class="govuk-table">
                    <caption class="govuk-visually-hidden">Applicants</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Email</th>
                            <th scope="col" class="govuk-table__header">Role</th>
                            <th scope="col" class="govuk-table__header">Organisation</th>
                            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Dr. Jane  Doe</td>
                            <td class="govuk-table__cell">jdoe@cardiffuniversity.ac.uk</td>
                            <td class="govuk-table__cell">Lead applicant</td>
                            <td class="govuk-table__cell">Cardiff University</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                        </tr>
                    {% if userOneV2.firstName %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ userOneV2.firstName }} {{ userOneV2.lastName }}</td>
                            <td class="govuk-table__cell">{{ userOneV2.email }}</td>
                            <td class="govuk-table__cell">{{ userOneV2.roles }}</td>
                            <td class="govuk-table__cell">
                                {{ userOneV2.organisation }}
                                {#{% if userOneV2.organisation %}
                                    {{ userOneV2.organisation }}
                                {% else %}
                                    {% if userOneV2.newOrgName %}
                                        {% if userOneV2.organisation %}
                                            <br>
                                        {% endif %}
                                        {{ userOneV2.newOrgName }}
                                    {% endif %}
                                    #}{#{% if userOneV2.countries %}
                                        {% if userOneV2.newOrgName %}
                                            <br>
                                        {% endif %}
                                        {{ userOneV2.countries }}
                                    {% endif %}
                                    {% if userOneV2.newOrgWebsite %}
                                        {% if userOneV2.countries %}
                                            <br>
                                        {% endif %}
                                        <a href="{{ userOneV2.newOrgWebsite }}" class="govuk-link">{{ userOneV2.newOrgWebsite }}</a>
                                    {% endif %}#}{#
                                {% endif %}#}
                            </td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                        </tr>
                    {% endif %}
                    {% if userTwoV2.firstName %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ userTwoV2.titleName }} {{ userTwoV2.firstName }} {{ userTwoV2.lastName }}</td>
                            <td class="govuk-table__cell">{{ userTwoV2.email }}</td>
                            <td class="govuk-table__cell">
                                {{ userTwoV2.roles }}
                                {% if userTwoV2.otherRole %} - {{ userTwoV2.otherRole }}{% endif %}
                            </td>
                            <td class="govuk-table__cell">
                                {{ userTwoV2.organisation }}
                            </td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                        </tr>
                    {% endif %}
                    {% if userThreeV2.firstName %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{ userThreeV2.titleName }} {{ userThreeV2.firstName }} {{ userThreeV2.lastName }}</td>
                            <td class="govuk-table__cell">{{ userThreeV2.email }}</td>
                            <td class="govuk-table__cell">{{ userThreeV2.roles }} {% if userThreeV2.otherRole %} - {{ userThreeV2.otherRole }}{% endif %}</td>
                            <td class="govuk-table__cell">
                                {{ userThreeV2.organisation }}
                            </td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                        </tr>
                    {% endif %}
                        {% if userFourV2.firstName %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ userFourV2.titleName }} {{ userFourV2.firstName }} {{ userFourV2.lastName }}</td>
                                <td class="govuk-table__cell">{{ userFourV2.email }}</td>
                                <td class="govuk-table__cell">{{ userFourV2.roles }} {% if userFourV2.otherRole %} - {{ userFourV2.otherRole }}{% endif %}</td>
                                <td class="govuk-table__cell">
                                    {{ userFourV2.organisation }}
                                </td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link">Remove</a></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

            {%- endcall %}

        {%- endcall %}


        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column  is-full is-9-desktop is-9-widescreen') %}

                {% call components.formGroup() %}
                    <div class="application-item">
                        <div class="application-item__contents application-item__contents--mac">
                            <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                    <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                </legend>
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if allResourcesValues.isComplete == 'on' %} checked{% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}


        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <div class="application-controls govuk-clearfix">
                    <button type="submit" class="govuk-button application-controls__submit" name="submitButton">Save and Return</button>
                    <a href="/prototypes/orgs" class="govuk-link application-controls__cancel">Return to application</a>
                </div>

            {%- endcall %}


        {%- endcall %}

    {%- endcall %}
    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}
    <script>
        Zepto(function($){
            $(window).on('load', function() {
                console.log('window loaded');
                $('.govuk-tabs__tab').attr('tabindex', '');
            });
        });
    </script>
{% endblock %}

