{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'home' %}
{% set applicationsLink = '/prototypes/edi/applications' %}
{% set homeLink = '/prototypes/edi/home' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '/prototypes/edi/profile' %}

{% set pageTitle = "Application overview" %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dr. Sheila Banner' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Panel overview ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/panel/panel-overview', text:'Back to panel overview'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% if allData.journeyType != 'chair' %}
    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}

            <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Important</h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Panel role accepted for this application
                    </p>
                </div>
            </div>

        {%- endcall %}
    {%- endcall %}
    {% endif %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}
            {{ components.captionHeading(text='Application overview', caption='Inform design of cross-council digital research environments') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full') %}

            {% if allData.journeyType != 'chair' %}
            <p class="govuk-body">
                <strong>Your role:</strong> <span class="badge--dark govuk-!-font-size-14">FIRST INTRODUCER</span>
            </p>
            {% endif %}

{#
            {{ components.captionHeading(text='Panelists', tag='h2', size='s') }}

            <p class="govuk-body">
                <strong>First introducer:</strong> <span class="">Jane Doe, Belfast University</span>
                <br>
                <strong>Second introducer:</strong> <span class="">Aaron Powell, University of South Wales</span>
                <br>
                <strong>Third introducer:</strong> <span class="">Lucy Cavanaugh, Bristol University</span>
            </p>#}

        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full', customID='main-content') %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#">Information</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/panel/read-application">Read application</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/panel/application-reviews">Reviews</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/panel/application-response">Response</a>
                    </li>
                    {#{% if allData.journeyType == 'chair' %}
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--disabled">
                        <span class="govuk-tabs__tab ">Pre score</span>
                    </li>
                    {% else %}
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/panel/pre-score">Pre score</a>
                    </li>
                    {% endif %}#}
                    {% if allData.journeyType == 'normal' %}
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="/prototypes/panel/pre-score">Pre-score</a>
                        </li>
                    {% endif %}


                </ul>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-9') %}

            <div class="application-data">
                <dl class="application-data__list">
                    <dt class="application-data__key">Application name:</dt>
                    <dd class="application-data__value">APP090: Development of a Novel Inhibitor of Ricin</dd>
                    <dt class="application-data__key">Opportunity:</dt>
                    <dd class="application-data__value"><a href="#">OPP123: Inform design of cross-council digital research environments</a></dd>
                    <dt class="application-data__key">Team:</dt>
                    <dd class="application-data__value">
                        <strong>Principal investigator:</strong> Prof Giles Dexter, Coventry University<br>
                        <strong>Co-investigator:</strong> Prof Gillian Demetriov Coventry University<br>
                        <strong>Researcher:</strong> Dr. Maximoma Turnipé Coventry University<br>
                    </dd>
                </dl>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-9') %}

            {{ components.captionHeading(text='Summary', tag='h2', size='s') }}
            <p class="govuk-body">The PI proposes a high-impact collaborative research project to develop new
                inhibitors for ribosome inactivating proteins (RIPs), such as ricin and Shiga toxin.
                Ricin toxin, produced by the castor bean plant, has a nefarious past. Ricin is a
                well-known homicidal poison and has been used in several bioterrorist attacks.
                Shiga toxin is a deadly product of enterobacterial Escherichia coli. RIPs are RNA
                N-glycosidases that enzymatically remove specific purine residues from the
                universally conserved sarcin/ricin loop (S/R loop) of large ribosomal RNA,
                causing cellular death.
            </p>
            <p class="govuk-body">
                Phasellus ac risus lectus. Proin quis vehicula metus. Suspendisse eget odio
                metus. Maecenas vehicula quam ut accumsan dapibus. Phasellus sit amet nibh a
                lectus commodo viverra in id risus. Maecenas at sem nec dolor consectetur
                accumsan. Morbi non eros magna. Sed et mauris libero. Donec sollicitudin, risus
                non pulvinar consectetur, nibh lacus venenatis nunc, eget laoreet libero quam et
                lacus. Proin eros tortor, tempor quis dui quis, consequat ultricies arcu. Sed
                congue turpis at elit posuere, quis iaculis elit consequat. In maximus eu
                mi id euismod.</p>
        {%- endcall %}
    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

