{% set showExternalNav = true %}
{% set activeNavItem = 'home' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{#{% set userName = 'John  Doe' %}#}
{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = true %}

{% set pageTitle = 'Panel config' + GLOBAL_TAG_TITLE_SUFFIX %}
{#{% set backLinkContents =  [{url:'#', text:'Back to applications'}] %}#}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}
            {{ components.captionHeading(text='Journey configuration') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='panelConfig') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-two-thirds') %}



                {#<div class="govuk-form-group ">
                    <label class="govuk-label govuk-!-font-weight-bold" for="userName">Personalisation (optional)</label>
                    <span class="govuk-hint">Enter your full name and include your honorific if you like, for example: Prof. Jane Moriarty</span>
                    <input class="govuk-input govuk-input--width-30" id="userName" name="userName" type="text" value="">
                </div>#}

                <input type="hidden" name="userName" value="Dr. Patricia Winslet">


                <div class="govuk-form-group ">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading">User role</h2>
                            <span  class="govuk-hint">Select your normal Panel role </span>
                        </legend>


                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="routeA" name="panelConfig" type="radio" value="chair">
                                <label class="govuk-label govuk-radios__label" for="routeA">Panel Chair</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="routeB" name="panelConfig" type="radio" value="normal">
                                <label class="govuk-label govuk-radios__label" for="routeB">Panel member (default if above left unselected)</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-two-thirds') %}

                {% call components.formGroup() %}

                    {{ components.button(text='Continue', extraClass="application-controls__submit")}}

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}

    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}
    <script>
        Zepto(function($){
            $(window).on('load', function() {
                console.log('window loaded');
                $('.govuk-tabs__tab').attr('tabindex', '');
            });
        });
    </script>
{% endblock %}

