{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'home' %}
{% set applicationsLink = '/prototypes/edi/applications' %}
{% set homeLink = '/prototypes/edi/home' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '/prototypes/edi/profile' %}
{% set userName = 'Prof Lyndsay Fletcher' %}
{% set pageTitle = "Home" %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Panel overview ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/panel/panel-overview', text:'Back to panel overview'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Declare if you have a conflict of interest', caption='Inform design of cross-council digital research environments') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-9') %}

            <div class="application-data">
                <dl class="application-data__list">
                    <dt class="application-data__key">Application name:</dt>
                    <dd class="application-data__value">APP090: Development of a Novel Inhibitor of Ricin</dd>
                    <dt class="application-data__key">Opportunity:</dt>
                    <dd class="application-data__value"><a href="#">OPP123: Inform design of cross-council digital research environments</a></dd>
                    <dt class="application-data__key">Team:</dt>
                    <dd class="application-data__value">
                        <strong>Principal investigator:</strong> Prof Giles Dexter, Coventry University<br>
                        <strong>Co-investigator:</strong> Prof Gillian Demetriov Coventry University<br>
                        <strong>Researcher:</strong> Dr. Maximoma Turnipé Coventry University<br>
                    </dd>
                </dl>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-9') %}

            {{ components.captionHeading(text='Summary', tag='h2', size='s') }}
            <p class="govuk-body">The PI proposes a high-impact collaborative research project to develop new
                inhibitors for ribosome inactivating proteins (RIPs), such as ricin and Shiga toxin.
                Ricin toxin, produced by the castor bean plant, has a nefarious past. Ricin is a
                well-known homicidal poison and has been used in several bioterrorist attacks.
                Shiga toxin is a deadly product of enterobacterial Escherichia coli. RIPs are RNA
                N-glycosidases that enzymatically remove specific purine residues from the
                universally conserved sarcin/ricin loop (S/R loop) of large ribosomal RNA,
                causing cellular death.
            </p>
            <p class="govuk-body">
                Phasellus ac risus lectus. Proin quis vehicula metus. Suspendisse eget odio
                metus. Maecenas vehicula quam ut accumsan dapibus. Phasellus sit amet nibh a
                lectus commodo viverra in id risus. Maecenas at sem nec dolor consectetur
                accumsan. Morbi non eros magna. Sed et mauris libero. Donec sollicitudin, risus
                non pulvinar consectetur, nibh lacus venenatis nunc, eget laoreet libero quam et
                lacus. Proin eros tortor, tempor quis dui quis, consequat ultricies arcu. Sed
                congue turpis at elit posuere, quis iaculis elit consequat. In maximus eu
                mi id euismod.</p>
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='declareConflict') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-9') %}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="disabilities-hint">
                        <legend class="govuk-fieldset__legend--m">Do you have a conflict of interest with this application?</legend>

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Guidance for conflicts of interest</span>
                            </summary>
                            <div class="govuk-details__text">
                                <p class="govuk-body">Panel members must be completely impartial at all stages of assessing an application. This means that you should not review any applications that you have a conflict of interest with. </p>
                                <p class="govuk-body">If you think you may have a conflict of interest, inform the staff member responsible for your panel as soon as possible</p>

                                {{ components.captionHeading(text='You have a conflict of interest if you:', tag='h3', size='s') }}
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>work at the same organisation as an applicant</li>
                                    <li>have a personal relationship with an applicant</li>
                                    <li>have an active, ongoing collaboration with an applicant.</li>
                                </ul>

                                {{ components.captionHeading(text='You do not have a conflict of interest if you:', tag='h3', size='s') }}
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>have published collaborations with applicants that have now concluded</li>
                                    <li>hold a different scientific view to an applicant.</li>
                                </ul>

                            </div>
                        </details>

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conflict2" name="conflict" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="conflict2">Yes, I <strong>do</strong> have a conflict of interest</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="conflict1" name="conflict" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="conflict1">No, I <strong>do not</strong> have a conflict of interest</label>
                            </div>
                        </div>

                    </fieldset>
                </div>



            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-9') %}

                {% call components.formGroup() %}

                    {{ components.button(text='Continue', extraClass="application-controls__submit")}}

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

