{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'home' %}
{% set applicationsLink = '/prototypes/edi/applications' %}
{% set homeLink = '/prototypes/edi/home' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '/prototypes/edi/profile' %}

{% set pageTitle = "Home" %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dr. Sheila Banner' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Panels ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/panel/home', text:'Back to home'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Panels', caption=userName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full', customID='main-content') %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#">In progress</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/panel/panels-previous">Previous panels</a>
                    </li>
                </ul>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-9') %}

            <ul class="overview-items overview-items--plain">
                <li class="overview-item  _overview-item--inactive">
                    <div class="columns">
                        <div class="column is-8">
                            <h3 class="overview-item__title">
                                <a href="/prototypes/panel/panel-overview" class="govuk-link">Inform design of cross-council digital research environments</a>
                            </h3>
                            <ul class="overview-item__meta-list">
                                <li class="overview-item__meta-item"><strong>Panel date:</strong> 14 May 2022<br></li>
                                <li class="overview-item__meta-item"><strong>Council:</strong> AHRC</li>
                                <li class="overview-item__meta-item"><strong>Opportunity: </strong>OPP687: Freshwater ecology Part I, Sub aquatic travel and investigation methods?<br></li>
                            </ul>
                        </div>
                        <div class="column is-2 {% if allData.journeyType == 'chair' %}is-offset-2 {% endif %}">
                            <div class="u-align-setup-vertical u-align-center">
                                <div class="u-align-cell">
                                    <span class="overview-item__meta overview-item__meta--danger">
                                        <strong><span class="govuk-!-font-size-24">2</span>
                                        <br>days left</strong>
                                        <br>
                                        <span class="govuk-body-s">Pre-score deadline <br>2 May 2022</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% if allData.journeyType != 'chair' %}
                        <div class="column is-2">
                            <div class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                <div class="u-align-cell">
                                    <strong><span class="govuk-!-font-size-24">4</span></strong>
                                    <br>
                                    Assigned applications
                                    <br>
                                    0/4 complete
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </li>
            </ul>

        {%- endcall %}

    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

