{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'home' %}
{% set applicationsLink = '/prototypes/edi/applications' %}
{% set homeLink = '/prototypes/edi/home' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '/prototypes/edi/profile' %}
{% set userName = 'Prof Lyndsay Fletcher' %}
{% set pageTitle = "Home" %}
{% set allData = allData if allData %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Panel overview ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/panel/application-overview', text:'Back to application overview'}] %}



{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Are you sure you want to submit your pre-score?', caption='Inform design of cross-council digital research environments') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='confirmPrescore') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-9') %}

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        You will not be able to make any changes.
                    </strong>
                </div>

                <table class="govuk-table">
                    <thead>
                        <tr>
                            <th class="govuk-table__header">Score</th>
                            <th class="govuk-table__header">Definition</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="govuk-table__cell"><span class="govuk-!-font-size-36">{{ allData.preScore }}</span></td>
                            <td class="govuk-table__cell">

                                {% if allData.preScore == 1 %}<strong>Flawed proposal</strong> The proposal is scientifically, technically or methodologically flawed and does not meet UKRI quality standards. Does not meet the assessment criteria to an adequate level. {% endif %}
                                {% if allData.preScore == 2 %}<strong>Not competitive</strong> The proposal is adequate, but it is very unlikely to be competitive and does not meet UKRI funding standards. Meets some of the assessment criteria to an adequate level.{% endif %}
                                {% if allData.preScore == 3 %}<strong>Good quality but with clear weaknesses </strong> The proposal is of good quality but that is not of a consistent high quality across all aspects of the proposed work and might be limited in terms of originality and significance. Meets the majority assessment criteria to an adequate level.{% endif %}
                                {% if allData.preScore == 4 %}<strong>High quality </strong> The proposal demonstrates high standards of originality, robust scholarly quality, significance and demonstrates ability to deliver it through the proposed research team. Meets the majority of the assessment criteria to a high level.{% endif %}
                                {% if allData.preScore == 5 %}<strong>Excellent </strong> Excellent standards of originality and quality. Work will most likely advance the research area critically. Addresses all the assessment criteria and meets them to a very high level.{% endif %}
                                {% if allData.preScore == 6 %}<strong>Exceptional </strong> Outstanding proposal that shows international leadership in the area. It will advance the research area and fill critical gaps in knowledge. Addresses all the assessment criteria and meets them to an exceptional level.{% endif %}


                            </td>
                        </tr>
                    </tbody>

                </table>

                {#<div class="score">
                    {{ components.captionHeading(text='Expert review score', tag='h3', size='s', extraClass='u-space-10') }}
                    <span class="govuk-!-font-size-36">{{ allData.preScore }}</span> / 6
                </div>#}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-9', extraClass='u-space-t45') %}

                {% call components.formGroup() %}

                    {{ components.button(text='Submit', extraClass="application-controls__submit")}}

                    {{ components.link(text='Cancel, back to pre-score', url='/prototypes/panel/pre-score', extraClass="application-controls__cancel")}}

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

