{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'home' %}
{% set applicationsLink = '/prototypes/edi/applications' %}
{% set homeLink = '/prototypes/edi/home' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '/prototypes/edi/profile' %}

{% set pageTitle = "Application overview" %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set showStickyNavscripts = true %}
{% set listItems = [
    { text: 'Case for support', url: '#case', class:'canScroll' },
    { text: 'Capability to deliver', url: '#capability', class:'canScroll' },
    { text: 'Pathways to impact', url: '#pathways', class:'canScroll' },
    { text: 'Data impact statement', url: '#data', class:'canScroll' },
    { text: 'Finances', url: '#finances', class:'canScroll' },
    { text: 'Letters of support', url: '#letters', class:'canScroll' }
] %}

{% set pageTitle = 'Panel overview ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/panel/panel-overview', text:'Back to panel overview'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}
            {{ components.captionHeading(text='Application overview', caption='Development of a Novel Inhibitor of Ricin') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full') %}

            <p class="govuk-body">
                <strong>Your role:</strong> <span class="badge--dark govuk-!-font-size-14">FIRST INTRODUCER</span>
            </p>

            {{ components.captionHeading(text='Panelists', tag='h2', size='s') }}

            <p class="govuk-body">
                <strong>First introducer:</strong> <span class="">Jane Doe, Belfast University</span>
                <br>
                <strong>Second introducer:</strong> <span class="">Aaron Powell, University of South Wales</span>
                <br>
                <strong>Third introducer:</strong> <span class="">Lucy Cavanaugh, Bristol University</span>
            </p>

        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full', customID='main-content') %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item ">
                        <a class="govuk-tabs__tab" href="/prototypes/panel/application-overview">Information</a>
                    </li>
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#">Read application</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/panel/application-reviews">Reviews</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/panel/application-response">Response</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/panel/pre-score">Pre score</a>
                    </li>
                    {#<li class="govuk-tabs__list-item govuk-tabs__list-item--disabled">
                        <span class="govuk-tabs__tab ">Pre score</span>
                    </li>#}
                </ul>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-3') %}
            <nav class="sticky-nav">
                {{ components.linkHeading(text='Contents', tag='h2', size='s')}}

                {{ components.list(items=listItems, parentClass='sticky-nav')}}

                {#<a href="#" class="govuk-link js-only print-link print-link--tabs" id="printThis" onclick="window.print();return false;">Print this page</a>#}
            </nav>
        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-7', extraClass='{#u-space-t20#}') %}

            {% include '../generic-includes/review-content.njk' %}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-9') %}



        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-9') %}


        {%- endcall %}
    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}
    <script type="text/javascript">
         /* smooth-scroll.js v1.3.1 */
         /*
         n=0,
         r=500,
         i=15,
         */
         (function(e,t){
             "use strict";
             var n=0,
                 r=250,
                 i=15,
                 /*s=document.getElementsByTagName("a"),*/
                 s=document.getElementsByClassName('canScroll'),
                 o;
             for(var u=0;u<s.length;u++){
                 o=s[u].attributes.href===t?null:s[u].attributes.href.nodeValue.toString();
                 if(o!==null&&o.length>1&&o.indexOf("#")!=-1){
                     s[u].onclick=function(){
                         var n,s=this.attributes.href.nodeValue.toString(),o=s.substr(0,s.indexOf("#")),u=s.substr(s.indexOf("#")+1);if(n=document.getElementById(u)){var l=(r-r%i)/i,c=f(),h=(a(n)-c)/l;if(e.history&&typeof e.history.pushState=="function")e.history.pushState({},t,o+"#"+u);for(var p=1;p<=l;p++){(function(){var t=h*p;setTimeout(function(){e.scrollTo(0,t+c)},i*p)})()}return false}}}}var a=function(e){var r=n*-1;while(e.offsetParent!=t&&e.offsetParent!=null){r+=e.offsetTop+(e.clientTop!=null?e.clientTop:0);e=e.offsetParent}return r};var f=function(){return e.pageYOffset!==t?e.pageYOffset:document.documentElement.scrollTop!==t?document.documentElement.scrollTop:document.body.scrollTop}})(window)
    </script>
{% endblock %}

