{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set userName = 'John  Doe' %}
{% set hideAccountLinks = true %}
{% set orgs3SessionData = orgs3SessionData if orgs3SessionData %}
{% if orgs3SessionData.roles  %}
    {% set captionTitle = 'New ' + orgs3SessionData.roles %}
{% else %}
    {% set captionTitle = 'New person' %}
{% endif %}
{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set limitedOrgList = limitedOrgList if limitedOrgList %}

{% set pageTitle = 'Applicant details' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/orgs3/', text:'Back to Application'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Applicant details', caption=captionTitle) }}
        {%- endcall %}
    {%- endcall %}
    {% call components.form(action='#', method='POST',name='submitForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <style>
                    .autocomplete__wrapper {
                        max-width: 500px;
                    }
                </style>

                {#<p>orgs3SessionData.roles = {{ orgs3SessionData.roles }} </p>#}

                <div class="govuk-form-group {% if firstNameError %}govuk-form-group--error{% endif %}">
                    <p class="govuk-body u-space-b5"><span class="govuk-label govuk-label--s">Role</span></p>
                    <p class="govuk-body u-space-b5" style="max-width: 41ex;">
                        <span class="govuk-!-display-inline u-float-left">{{ orgs3SessionData.roles }} {% if orgs3SessionData.otherRole %} - {{ orgs3SessionData.otherRole }}{% endif %}</span>
                        <span class="govuk-!-display-inline u-float-right"><a href="/prototypes/orgs3/select-role" class="govuk-link u-align-right">Change <span class="govuk-visually-hidden">role</span></a></span>
                    </p>

                </div>

                {#{% if orgs3SessionData.collectNoName === true %}
                    <div class="govuk-inset-text">
                        Enter the details of the contact within the <strong>{{orgs3SessionData.roles }}</strong> organisation even if they will not directly be doing any work on the project
                    </div>
                {% endif %}#}

                {#<div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="titleName" id="titleNameLabel">Title (optional)</label>
                    <input class="govuk-input govuk-input--width-20" id="titleName" type="text" name="titleName" value="{{orgs3SessionData.titleName }}">
                </div> #}
                <div class="govuk-form-group {% if firstNameError %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label govuk-label--s" for="firstName" id="firstNameLabel">First name

                    </label>
                    <input class="govuk-input govuk-input--width-20" id="firstName" type="text" name="firstName" value="{{orgs3SessionData.firstName }}">
                </div>

                <div class="govuk-form-group {% if lastNameError %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label govuk-label--s" for="lastName" id="lastNameLabel">Last name

                    </label>
                    <input class="govuk-input govuk-input--width-20 " id="lastName" type="text" name="lastName" value="{{orgs3SessionData.lastName }}">
                </div>



                <div class="govuk-form-group {% if signinError %} govuk-form-group--error{% endif %}">
                    <label class="govuk-label govuk-label--s" for="email" id="emailAddressInput">Email address</label>
                    <input class="govuk-input {% if signinError %} govuk-input--error{% endif %} govuk-input--width-20" id="email" name="email" type="text" value="{{orgs3SessionData.email }}">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="organisation">Organisation</label>

                    {#{% if orgs3SessionData.organisation %}
                        <input type="input" class="govuk-input govuk-input--width-20" name="organisation2" value="{{ orgs3SessionData.organisation }}" disabled>
                        <input type="hidden" name="organisation" value="{{ orgs3SessionData.organisation }}">

                        #}{#{% if orgs3SessionData.wasManual %}
                            <p class="govuk-body u-space-t10">Made a mistake? <button type="submit" class="govuk-button govuk-button--link" name="widerSearch" value="manual">Edit organisation</button></p>
                        {% else %}
                            <p class="govuk-body u-space-t10">Still not right? <button type="submit" class="govuk-button govuk-button--link" name="widerSearch" value="true">Search again</button></p>
                        {% endif %}#}{#
                        <p class="govuk-body u-space-t10">Still not right? <button type="submit" class="govuk-button govuk-button--link" name="widerSearch" value="manual">Search again</button></p>
                    {% else %}

                        <span class="govuk-hint">Start entering, then select the organisation's name</span>
                        <select name="organisation" class="govuk-select control" id="organisation">
                            <option></option>
                            {% for item in limitedOrgList %}
                                <option value="{{ item.n }}">{{ item.n }}</option>
                            {% endfor %}
                        </select>
                        #}{#{% if orgs3SessionData.roles != 'Project lead' %}
                            <p class="govuk-body #}{##}{#govuk-!-font-size-16#}{##}{# u-space-t10">No results? Try a wider <button type="submit" class="govuk-button govuk-button--link #}{##}{#govuk-!-font-size-16#}{##}{#" name="widerSearch" value="search">organisation search</button></p>
                        {% endif %}#}{#


                    {% endif %}#}

                    <input type="input" class="govuk-input govuk-input--width-20" name="organisation2" value="{{ orgs3SessionData.organisation }}" disabled>
                    <input type="hidden" name="organisation" value="{{ orgs3SessionData.organisation }}">
                    {#<p class="govuk-body u-space-t10">Still not right? <button type="submit" class="govuk-button govuk-button--link" name="widerSearch" value="true">Search again</button></p>#}


                    {% if orgs3SessionData.wasManual %}
                    {#<p class="govuk-body u-space-t10">If this is not right, you can <button type="submit" class="govuk-button govuk-button--link" name="widerSearch" value="manual">edit the organisation</button>.</p>#}
                        <p class="govuk-body u-space-t10">{#If this is not right, you can #}<button type="submit" class="govuk-button govuk-button--link" name="widerSearch" value="manual">Change organisation</button></p>
                    {% else %}
                        {#<p class="govuk-body u-space-t10">If this is not right, you can <button type="submit" class="govuk-button govuk-button--link" name="widerSearch" value="true">search again</button>.</p>#}
                        <p class="govuk-body u-space-t10">{#If this is not right, you can#} <button type="submit" class="govuk-button govuk-button--link" name="widerSearch" value="true">Change organisation</button></p>
                    {% endif %}


                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

                <div class="application-controls govuk-clearfix">
                    <button type="submit" class="govuk-button application-controls__submit" name="submitButton">Add applicant</button>
                    <a href="/prototypes/orgs3/applicants" class="govuk-link application-controls__cancel">Return to applicants</a>
                </div>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}
    <script type="text/javascript" src="/javascripts/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script type="text/javascript">
        var selectEl = document.querySelector('#organisation');
        accessibleAutocomplete.enhanceSelectElement({
            autoselect: true,
            defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
            minLength: 1,
            selectElement: selectEl
        });
    </script>
{% endblock %}

