
{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set accountSettingsLink = '' %}
{% set showExternalFurniture = false %}

{% set hideAccountLinks = true %}

{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set userName = 'John  Doe' %}
{% set isAdminUser = false %}
{% set navType = 'admin' %}
{% set loggedOut = true %}
{% set allData = allData if allData %}

{% set pageTitle = 'Manage panel' + GLOBAL_TAG_TITLE_SUFFIX %}
{#{% set backLinkContents =  [{url:'/prototypes/orgs3/', text:'Back to application'}] %}#}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Manage panel prototype', caption='') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST',name='submitForm') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-two-thirds') %}

                {#<input type="hidden" name="userName" value="Dr. Patricia Winslet">#}

                <div class="govuk-form-group ">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__heading">Panel roles</h2>
                            <span  class="govuk-hint">Amount of roles available</span>
                        </legend>

                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="routeA" name="prototypeConfig" type="radio" value="minimal">
                                <label class="govuk-label govuk-radios__label" for="routeA">Minimal</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="routeB" name="prototypeConfig" type="radio" value="multiple">
                                <label class="govuk-label govuk-radios__label" for="routeB">Multiple</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-two-thirds') %}

                {% call components.formGroup() %}

                    {{ components.button(text='Continue', extraClass="application-controls__submit")}}

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-3', extraClass='u-space-t20') %}

                <div class="is-warning u-pad-20" style="border:1px solid #909090; padding-bottom:0!important">
                    <p class="govuk-body">
                        Remove session data.
                    </p>
                    <a href="/prototypes/manage-panel/?clearSession=true" class="govuk-button govuk-button--secondary" >Clear session</a>
                </div>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}
    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}

{% endblock %}


