{% set showExternalNav = true %}
{% set activeNavItem = 'panel' %}
{% set navArea = 'personal' %}
{% set applicationsLink = '#' %}
{% set homeLink = '#' %}
{% set reviewsLink = '#' %}
{% set accountSettingsLink = '' %}
{% set showExternalFurniture = false %}
{% set hideAccountLinks = true %}
{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set isAdminUser = true %}
{% set loggedOut = false %}
{% set navType = 'admin' %}

{% set allData = allData if allData %}
{% set externalAwardPrototypeData = prototypeData if prototypeData %}
{% set userName = externalAwardPrototypeData.userName %}

{% set allPanelists = allPanelists if allPanelists %}

{% set pageTitle = 'Manage members' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/manage-panel/panel-dashboard', text:'Back to panel dashboard'}] %}

{% block content %}
    {% call components.form(action='#', method='POST',name='submitForm') %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Manage members', caption=externalAwardPrototypeData.panelName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='_u-space-b45') %}
        {% call components.bulmaColumnAny(size='is-full') %}
            <p class="govuk-body">
                <a href="/prototypes/manage-panel/manage-members/add-member" class="govuk-button">Add panel member</a>
            </p>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-three-quarters') %}
            {{ components.captionHeading(text='Panel chair', tag='h2', size='m', extraClass='u-space-b5') }}
            <p class="govuk-body">Each panel has a chair person to lead the meeting and ensure panel decisions are delivered to UKRI.</p>

            <table class="govuk-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Organisation</th>
                        <th><span class="govuk-visually-hidden">Actions</span></th>
                    </tr>
                </thead>
                <tbody>
                {% if allPanelists %}
                    {% for item in allPanelists %}
                        {% if item.role == 'Panel chair' %}
                            <tr>
                                <td class="govuk-table__cell">{{ item.firstName }} {{ item.lastName }}</td>
                                <td class="govuk-table__cell">{{ item.firstName | toLowerCase }}.{{ item.lastName | toLowerCase  }}@{{ item.organisation | toLowerCase  }}.ac.uk</td>
                                <td class="govuk-table__cell">{{ item.organisation }} University</td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a>| <a href="#" class="govuk-link">Remove</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="govuk-table__cell" colspan="4">No panel chairs have been added yet</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

        {%- endcall %}

    {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-three-quarters') %}
                {{ components.captionHeading(text='Deputy chair', tag='h2', size='m', extraClass='u-space-b5') }}
                <p class="govuk-body">The Deputy will  assumes responsibilities if the Chair is conflicted for an application. </p>

                <table class="govuk-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Organisation</th>
                        <th><span class="govuk-visually-hidden">Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if allPanelists %}
                        {% for item in allPanelists %}
                            {% if item.role == 'Deputy chair' %}
                                <tr>
                                    <td class="govuk-table__cell">{{ item.firstName }} {{ item.lastName }}</td>
                                    <td class="govuk-table__cell">{{ item.firstName | toLowerCase }}.{{ item.lastName | toLowerCase  }}@{{ item.organisation | toLowerCase  }}.ac.uk</td>
                                    <td class="govuk-table__cell">{{ item.organisation }} University</td>
                                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a>| <a href="#" class="govuk-link">Remove</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="govuk-table__cell" colspan="4">No deputy chairs have been added yet</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-three-quarters') %}
                {{ components.captionHeading(text='Panelists', tag='h2', size='m', extraClass='u-space-b5') }}
                <p class="govuk-body">Panelist assess the applications in a fair, evidence-based and objective manner using the application documentation, you can assign panelist roles and applications in the ‘Manage Roles’ section.</p>
                {% if allPanelists %}
                <table class="govuk-table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Organisation</th>
                        <th><span class="govuk-visually-hidden">Actions</span></th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for item in allPanelists %}
                            {% if item.role == 'Panelist' %}
                                <tr>
                                    <td class="govuk-table__cell">{{ item.firstName }} {{ item.lastName }}</td>
                                    <td class="govuk-table__cell">{{ item.firstName | toLowerCase }}.{{ item.lastName | toLowerCase  }}@{{ item.organisation | toLowerCase  }}.ac.uk</td>
                                    <td class="govuk-table__cell">{{ item.organisation }} University</td>
                                    <td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a>| <a href="#" class="govuk-link">Remove</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </tbody>
                </table>
                {% else %}
                    <p class="govuk-body" colspan="4">No panelists have been added yet</p>
                {% endif %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}

    {% include '../../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}
    <script type="text/javascript">
        /* smooth-scroll.js v1.3.1 */
        /*
        n=0,
        r=500,
        i=15,
        */
        (function(e, t) {
            "use strict";
            // n is the offset value to get the title showing below the tabs
            var n = 60,
                r = 250,
                i = 15,
                /*s=document.getElementsByTagName("a"),*/
                s = document.getElementsByClassName('canScroll'),
                o;
            for (var u = 0; u < s.length; u++) {
                o = s[u].attributes.href === t ? null : s[u].attributes.href.nodeValue.toString();
                if (o !== null && o.length > 1 && o.indexOf("#") != -1) {
                    s[u].onclick = function() {
                        var n, s = this.attributes.href.nodeValue.toString(),
                            o = s.substr(0, s.indexOf("#")),
                            u = s.substr(s.indexOf("#") + 1);
                        if (n = document.getElementById(u)) {
                            var l = (r - r % i) / i,
                                c = f(),
                                h = (a(n) - c) / l;
                            if (e.history && typeof e.history.pushState == "function") e.history.pushState({}, t, o + "#" + u);
                            for (var p = 1; p <= l; p++) {
                                (function() {
                                    var t = h * p;
                                    setTimeout(function() {
                                        e.scrollTo(0, t + c)
                                    }, i * p)
                                })()
                            }
                            return false
                        }
                    }
                }
            }
            var a = function(e) {
                var r = n * -1;
                while (e.offsetParent != t && e.offsetParent != null) {
                    r += e.offsetTop + (e.clientTop != null ? e.clientTop : 0);
                    e = e.offsetParent
                }
                return r
            };
            var f = function() {
                return e.pageYOffset !== t ? e.pageYOffset : document.documentElement.scrollTop !== t ? document.documentElement.scrollTop : document.body.scrollTop
            }
        })(window)
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
        let div_top = $('.menu').offset().top;
        console.log('div_top = ' + div_top);
        $(window).load(function () {
            console.log($('.menu').offset().top);
        });
        $(window).scroll(function () {
            var window_top = $(window).scrollTop() - 0;
            if (window_top > div_top) {
                if (!$('.menu').is('.sticky')) {
                    $('.menu').addClass('sticky');
                }
            } else {
                $('.menu').removeClass('sticky');
            }
        });

        /* $('.govuk-tabs__tab').each(function(index){
             $(this).on('click', function(e){
                 e.preventDefault();
                 console.log('clicking');
                 // set previous scroll before doing anything
                 $('.govuk-tabs__list-item--selected a').attr('data-scroll', $(document).scrollTop());
                 // hide all tabs
                 $('.govuk-tabs__panel').addClass('govuk-tabs__panel--hidden');
                 $('.govuk-tabs__list-item').removeClass('govuk-tabs__list-item--selected');
                 // activate desired tab
                 $('#' + $(this).data('tab')).removeClass('govuk-tabs__panel--hidden');
                 $(this).parent().addClass('govuk-tabs__list-item--selected');
                 // scroll to active tab
                 $(document).scrollTop(parseInt($(this).attr('data-scroll')));
             });
         });*/
    </script>

    <script>
        $('.rolesRadio').each(function(index){
            $(this).on('change', function(e){
                e.preventDefault();
                console.log('clicking');
                // set previous scroll before doing anything
                let marker = $(this).attr('data-radio');
                // $('.radio-toggles__bottom').addClass('govuk-visually-hidden');
                // $('div').attr('data-content', marker).removeClass('govuk-visually-hidden');

                $('.radio-toggles__bottom').each(function(index){
                    if($(this).attr('data-content') != marker) {
                        $(this).addClass('govuk-visually-hidden');
                    } else {
                        $(this).removeClass('govuk-visually-hidden');
                    }
                });


                console.log(marker);
                /* $('.govuk-tabs__list-item--selected a').attr('data-scroll', $(document).scrollTop());
                 // hide all tabs
                 $('.govuk-tabs__panel').addClass('govuk-tabs__panel--hidden');
                 $('.govuk-tabs__list-item').removeClass('govuk-tabs__list-item--selected');
                 // activate desired tab
                 $('#' + $(this).data('tab')).removeClass('govuk-tabs__panel--hidden');
                 $(this).parent().addClass('govuk-tabs__list-item--selected');
                 // scroll to active tab
                 $(document).scrollTop(parseInt($(this).attr('data-scroll')));*/
            });
        });

    </script>


{% endblock %}

