{% set showExternalNav = true %}
{% set activeNavItem = 'applications' %}
{% set navArea = 'home' %}
{% set homeLink = '/prototypes/applications/home' %}
{% set awardsLink = '#' %}
{% set applicationsLink = '/prototypes/applications/applications' %}
{% set awardsLink = '#' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}
{% set hideUserMenu = true %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set userName = allData.userName if allData.userName else 'Dr. Sheila Banner' %}
{% set prototypeData = prototypeData if prototypeData %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Applications ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/applications/home', text:'Back to home'}] %}


{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Applications', caption='University of Wales') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='', customID='mainContent') %}

        {% call components.bulmaColumnAny(size='is-half') %}

            {#<form action="#" method="POST" role="search" name="searchForm" style="position:relative;">
                <div class="search">
                    <div class="govuk-form-group govuk-form-group--search">
                        <label class="govuk-label govuk-visually-hidden" for="search">Search applications</label>
                        <input class="govuk-input govuk-input--width-20 search__input" id="search" name="searchQuery" type="text" placeholder="Search all applications or project leads">
                        <button type="submit" name="applicationSearch" class="search__submit" value="search">Search</button>
                    </div>
                </div>
            </form>#}

            {% if allData.doingSearch %}
                <p class="govuk-body"><strong>{{ allData.finalNumber }}</strong> results for "<strong>{{ allData.searchQuery }}</strong>"  - filtered by "<strong>[filter_name_1]</strong>", "<strong>[filter_name_1]</strong>".
                    <br><a href="/prototypes/applications/applications?clearSearch=true" class="govuk-link">Clear search and filters</a></p>
            {% else %}
                {% if  allData.showingAll %}
                    {% if  allData.itemCount == 1%}
                        <p class="govuk-body"><strong>{{ allData.itemCount }}</strong> application</p>
                    {% else %}
                        <p class="govuk-body"><strong>{{ allData.itemCount }}</strong> applications</p>
                    {% endif %}
                {% else %}
                    <p class="govuk-body"><strong>{{ allData.itemCount }}</strong> filtered by "<strong>[filter_name_1]</strong>", "<strong>[filter_name_2]</strong>",
                        <br><a href="#" class="govuk-link govuk-!-display-inline-block" onClick="(function(){document.getElementById('clearFilterButton').click();; return false;})();return false;">Clear filters</a></p>
                {% endif %}
            {% endif %}
        {%- endcall %}
        {% call components.bulmaColumnAny(size='is-half') %}

            <style>
                .govuk-link.govuk-link--highligted {
                    background-color: #ffdd00;
                    color: black!important;
                    text-decoration: none;
                }
            </style>

            <div class="_u-float-right u-align-right " style="/*position:absolute; right:0;top:0;*/">
                {#<a href="/prototypes/applications/new-applications" class="govuk-button govuk-button--s button--info">Show all applications started in the last 14 days</a>#}
                <div class="govuk-!-font-size-19">
                    <span>Applications sorted by:</span>
                    {% if allData.order == 'reverse' %}
                        <strong>Recently started</strong>
                    {% else %}
                        <a href="/prototypes/applications/applications?order=reverse" class="govuk-link {#{{ 'govuk-link--highligted' if allData.order == 'reverse' }}#}">Recently started</a>
                    {% endif %}
                    |
                    {% if allData.order == 'deadline' %}
                        <strong>Ending soonest</strong>
                    {% else %}
                        <a href="/prototypes/applications/applications?order=deadline" class="govuk-link {#{{ 'govuk-link--highligted' if allData.order == 'deadline' }}#}">Ending soonest</a>
                    {% endif %}
                    |
                    {% if allData.order == 'chaos' %}
                        <strong>All</strong>
                    {% else %}
                        <a href="/prototypes/applications/applications?order=chaos" class="govuk-link {#{{ 'govuk-link--highligted' if allData.order == 'chaos' }}#}">All</a>
                    {% endif %}
                </div>
                {#<div class="govuk-!-font-size-16 u-space-t0">
                    #}{#{{ 'allData.order = ' + allData.order }}#}{#
                    {% if allData.order == 'reverse' %}
                        Currently viewing newest applications first
                    {% elseif allData.order == 'deadline' %}
                        Currently viewing applications approaching deadline
                    {% elseif allData.order == 'chaos' %}
                        Currently viewing oldest applications first
                    {% endif %}
                </div>#}

                {#<a href="#" class="govuk-button govuk-button--s button--info">Show all applications approiaching deadline</a>#}
            </div>

        {%- endcall %}
    {%- endcall %}



        {% call components.bulmaRow(extraClass='') %}

            {% call components.bulmaColumnAny(size='column is-3') %}
                <div class="govuk-related-items govuk-related-items--flush">

                    {#{{ components.captionHeading(text='Filters', tag='h2', size='s') }}#}

                    <form action="#" method="POST" role="search" name="searchForm" style="position:relative;" class="u-space-t10">
                        <div class="search">
                            <div class="govuk-form-group govuk-form-group--search">
                                <label class="govuk-label govuk-label--s" for="search">Keyword search</label>
                                <span class="govuk-hint">Applicant, application title, funder</span>
                                <input class="govuk-input govuk-input--width-10 search__input" id="search" name="searchQuery" type="text" placeholder="" value="{{ allData.searchQuery }}">
                                <button type="submit" name="applicationSearch" class="search__submit" value="search">Search</button>
                            </div>
                        </div>
                    </form>

                {% call components.form(action='#', method='POST',name='submitForm') %}

                    <div class="filter">
                        <h2 class="filter__title">Filter by status</h2>
                       {# <span class="filter__toggle"></span>#}
                        <ul class="filter__list u-clearfix govuk-radios govuk-radios--small">
                            {% set uniqueStatuses = allData.uniqueStatuses %}
                            {#{% for item in uniqueStatuses %}
                                #}{#{% set filterName = 'statusFilter_' + loop.index %}#}{#
                                #}{#{% set filterValue = allData. %}#}{#
                                {% if loop.index == 1 %}
                                    #}{#{% set tempValue = 'With research office'%}#}{#
                                    {% set tempValue = allData.statusFilter_1 %}
                                {% elseif loop.index == 2 %}
                                    #}{#{% set tempValue = 'Submitted'%}#}{#
                                    {% set tempValue = allData.statusFilter_2 %}
                                {% elseif loop.index == 3 %}
                                    #}{#{% set tempValue = 'With applicant'%}#}{#
                                    {% set tempValue = allData.statusFilter_3 %}
                                {% endif %}

                                <li class="filter__item filter__item--small govuk-clearfix">
                                    #}{#{{ eval(filterName) }} and#}{#
                                    #}{#{{ loop.index }}#}{#
                                    <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                        <input class="govuk-checkboxes__input" id="statusFilter_{{ loop.index }}" type="checkbox" name="statusFilter_{{ loop.index }}" value="{{ item }}" {% if tempValue == item %}checked{% endif %}>
                                        <label for="statusFilter_{{ loop.index }}" class="govuk-checkboxes__label u-display-ib">{{ item }}</label>
                                    </div>
                                    #}{#<div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="statusFilter_{{ loop.index }}" name="statusRadios" type="radio" value="{{ item }}" {% if allData.statusRadios == item %}checked{% endif %}>
                                        <label class="govuk-label govuk-radios__label" for="statusFilter_{{ loop.index }}">
                                            {{ item }}
                                        </label>
                                    </div>#}{#
                                </li>
                            {%  endfor %}#}
                            {#<li class="filter__item filter__item--small govuk-clearfix"><h3 class="govuk-heading-s u-space-t10 u-space-b5">Stages</h3></li>#}
                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="statusFilter_2" type="checkbox" name="statusFilter_2" value="With applicant" {% if allData.statusFilter_2 == 'With applicant' %}checked{% endif %}>
                                    <label for="statusFilter_2" class="govuk-checkboxes__label u-display-ib">With applicant</label>
                                </div>
                            </li>
                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="statusFilter_1" type="checkbox" name="statusFilter_1" value="With research office" {% if allData.statusFilter_1 == 'With research office' %}checked{% endif %}>
                                    <label for="statusFilter_1" class="govuk-checkboxes__label u-display-ib">With research office</label>
                                </div>
                            </li>
                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="statusFilter_3" type="checkbox" name="statusFilter_3" value="Submitted" {% if allData.statusFilter_3 == 'Submitted' %}checked{% endif %}>
                                    <label for="statusFilter_3" class="govuk-checkboxes__label u-display-ib">Submitted</label>
                                </div>
                            </li>

                            {#<li class="filter__item filter__item--small govuk-clearfix"><h3 class="govuk-heading-s u-space-t10 u-space-b5">Outcomes</h3></li>#}
                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="outcomeFilter_1" type="checkbox" name="outcomeFilter_1" value="Successful" {% if allData.outcomeFilter_1 == 'Successful' %}checked{% endif %}>
                                    <label for="outcomeFilter_1" class="govuk-checkboxes__label u-display-ib">Successful</label>
                                </div>
                            </li>
                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="outcomeFilter_2" type="checkbox" name="outcomeFilter_2" value="Unsuccessful" {% if allData.outcomeFilter_2 == 'Unsuccessful' %}checked{% endif %}>
                                    <label for="outcomeFilter_2" class="govuk-checkboxes__label u-display-ib">Unsuccessful</label>
                                </div>
                            </li>
                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="outcomeFilter_3" type="checkbox" name="outcomeFilter_3" value="Deadline passed" {% if allData.outcomeFilter_3 == 'Missed deadline' %}checked{% endif %}>
                                    <label for="outcomeFilter_3" class="govuk-checkboxes__label u-display-ib">Missed deadline</label>
                                </div>
                            </li>
                           {# <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="outcomeFilter_4" type="checkbox" name="outcomeFilter_4" value="Withdrawn" {% if allData.outcomeFilter_4 == 'Withdrawn' %}checked{% endif %}>
                                    <label for="outcomeFilter_4" class="govuk-checkboxes__label u-display-ib">Withdrawn</label>
                                </div>
                            </li>
                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="outcomeFilter_5" type="checkbox" name="outcomeFilter_5" value="Rejected" {% if allData.outcomeFilter_5 == 'Rejected' %}checked{% endif %}>
                                    <label for="outcomeFilter_5" class="govuk-checkboxes__label u-display-ib">Rejected</label>
                                </div>
                            </li>#}
                        </ul>


                    </div>



                   {# <div class="filter filter-toggle __filter-toggle--shut">
                        <button class="filter__title filter__title--closed" type="button" onclick="toggleVisibility(this, 'toggleCouncilsList', 'js-hidden')" aria-expanded="true">Filter by council</button>
                        #}{#<h2 class="filter__title" tabindex="0" onclick="toggleVisibility(this, 'toggleCouncilsList', 'js-hidden')">Filter by council</h2>#}{#
                        <span class="filter__toggle"></span>
                        <ul class="filter__list u-clearfix js-hidden" id="toggleCouncilsList">
                            {% set uniqueFunders = allData.uniqueFunders %}
                            {% for item in uniqueFunders %}
                                <li class="filter__item filter__item--small">
                                    #}{#{{ loop.index }}#}{#
                                    <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                        <input class="govuk-checkboxes__input" id="councilFilter_{{ loop.index }}" type="checkbox" name="councilFilter_{{ loop.index }}" value="{{ uniqueFunders[loop.index - 1] }}">
                                        <label for="councilFilter_{{ loop.index }}" class="govuk-checkboxes__label u-display-ib"> {{ uniqueFunders[loop.index - 1] }}</label>
                                    </div>
                                </li>
                            {%  endfor %}
                        </ul>
                    </div>#}


                    {% if allData.fakeFilters == 'unsorted' %}

                        {% include './fake-filters.njk' %}

                    {% elseif allData.fakeFilters == 'sorted' %}

                        {% include './fake-filters-sorted.njk' %}

                    {% elseif allData.fakeFilters == 'durham' %}

                        {% include './fake-filters-durham.njk' %}

                    {% else %}

                    <div class="filter filter-toggle __filter-toggle--shut">
                        <button class="filter__title filter__title--closed" type="button" onclick="toggleVisibility(this, 'toggleGroupsList', 'js-hidden')" aria-expanded="true">Filter by group</button>

                        <span class="filter__toggle"></span>
                        <ul class="filter__list u-clearfix js-hidden" id="toggleGroupsList">
                            {% set uniqueGroups = allData.uniqueGroups %}
                            {% for item in uniqueGroups %}
                                <li class="filter__item filter__item--small">
                                    {#{{ loop.index }}#}
                                    <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                        <input class="govuk-checkboxes__input" id="groupsFilter_{{ loop.index }}" type="checkbox" name="groupsFilter_{{ loop.index }}" value="{{ uniqueGroups[loop.index - 1] }}">
                                        <label for="groupsFilter_{{ loop.index }}" class="govuk-checkboxes__label u-display-ib"> {{ uniqueGroups[loop.index - 1] }}</label>
                                    </div>
                                </li>
                            {%  endfor %}
                        </ul>
                    </div>

                    {% endif %}

                    <div class="_js-hidden">
                        {% call components.formGroup() %}
                            <button class="govuk-button" name="submitFilters" value="submitFilters">Apply filters</button>
                            {#{{ components.button(text='Apply filters', extraClass='', name='submitFilters', value='apply', id='submitFilters')}}#}
                            <br>
                            <button class="govuk-button--link govuk-!-font-size-16n" name="clearFilters" value="clearFilters" id="clearFilterButton">Clear filters</button>
                            {#{{ components.button(text='Clear all filters', extraClass='govuk-button--link govuk-!-font-size-16', name='clearFilters', value='clear', id='clearFilters')}}#}
                        {%- endcall %}
                    </div>

                {%- endcall %} {# end form #}

                </div>
            {%- endcall %}

        {% call components.bulmaColumnAny(size='column is-9') %}

            <style>
                .govuk-tag--void {
                    background-color: #f1f1f1!important;
                    color: slategrey;
                }
                .post-hellip {
                    display: none;
                }

                /*mark > .post-hellip {
                    display:inline!important;
                }*/
                mark {
                    background: #fd0!important;
                    color: black!important;
                }
            </style>

            <div class="responsive-table">

                <table class="govuk-table responsive-table__table govuk-table--busy _mega-table context" id="applicationsTable">
                    <thead>
                    <tr class="govuk-table__header">

                        <th class="govuk-table__header">Application</th>
                        {#<th class="govuk-table__header">Funder</th>#}
                        {#<th class="govuk-table__header">Groups<br></th>#}
                        <th class="govuk-table__header">Applicant</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Deadline</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in applicationsListv2  %}

                        {% if loop.index < 1400 %}
                        {% set tempRandom = range(10, 90) | random %}
                        {% if item.status == "With applicant" %}
                            {% set tagClass = "govuk-tag govuk-tag--tiny govuk-tag--yellow"  %}
                        {% elseif item.status == "Submitted" %}
                            {% set tagClass = "govuk-tag govuk-tag--tiny govuk-tag--green" %}
                        {% elseif item.status == "With research office" %}
                            {% set tagClass = "govuk-tag govuk-tag--tiny govuk-tag--blue" %}
                        {% else %}
                            {% set tagClass = "govuk-tag govuk-tag--tiny _govuk-tag--grey govuk-tag--void" %}
                        {% endif %}

                        {# Don't do it like this :(
                            {% if allData.statusRadios != item.status %}govuk-visually-hidden{% endif %}
                        #}
                            {#{% set queryString = 'item.dateAsString > (allData.dateString - 14)' %}
                            {% if eval(queryString) %}#}
                            {#{% if item.dateAsString > (allData.dateString - 14) %}#}

                            {% set sortType = allData.order %}
                            {% if sortType == 'chaos' %}
                                {% set sortLimit = 900 %}
                            {% else %}
                                {% set sortLimit = allData.dateString - 14 %}
                            {% endif %}

                            {% if item.dateAsString > sortLimit %}



                        <tr data-status="{{ item.status }}" data-group="{{ item.groups }}" data-funder="{{ item.funder }}" class="">

                            <td class="govuk-table__cell">
                                {#{{  item.dateAsString }} & {{ allData.dateString }}#}
                                <a href="#" class="govuk-link _govuk-!-display-inline-block">APP{{ item.randomID }}:
                                {#{% if allData.searchQuery %}
                                    {{ item.title }}
                                {% else %}
                                    {{ item.title | shortenSentence}}
                                {% endif %}#}
                                    {{ item.title | shortenSentence}}
                                </a>
                                {#<span class="meta govuk-!-display-block u-space-t5">
                                    <strong class="meta">Applicant:</strong> <a href="#" class="govuk-link">{{ item.name }}</a> (Project lead)
                                </span>#}
                                {#{% if item.additionalOrg %}
                                <span class="meta govuk-!-display-block u-space-t5"><strong class="meta">Collaborator(s):</strong> {{ item.orgName }}</span>
                                {% endif %}#}
                            </td>
                            {#<td class="govuk-table__cell">{{ item.funder }} </td>#}
                           {# <td class="govuk-table__cell">
                                {%  for group in item.groups %}
                                    <span class="blob">{{ group }}</span>
                                {% endfor %}
                            </td>#}
                            <td class="govuk-table__cell">{{ item.name }} </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                {#{{ allData.dateString }} and {{ item.dateAsString }}#}
                                {% if allData.dateString > item.dateAsString  %}<strong class="red-text">{% endif %}
                                {% set daysLeft = 14 - (allData.dateString - item.dateAsString) %}
                                <span class="u-no-wrap">
                                    {{ item.deadlineDay }} {{ item.deadlineMonth | showMonth() }} {{ item.deadlineYear }}
                                </span>
                                </strong>
                                <br>
                                {% if (daysLeft - 7) < 0 and (item.status != "Submitted") %}
                                    {% set tagClass = "govuk-tag govuk-tag--tiny govuk-tag--red" %}
                                    <span class="meta">4:00pm</span>
                                {% endif %}


                                {#{% if allData.dateString > item.dateAsString  %}
                                    </strong>
                                    {% if daysLeft == 1 %}
                                        <span class="govuk-!-font-size-14 govuk-!-display-block">{{ daysLeft }} day left</span>
                                    {% elseif daysLeft < -1 %}
                                        <span class="govuk-!-font-size-14 govuk-!-display-block">Opportunity<br>closed</span>
                                    {% else %}
                                        <span class="govuk-!-font-size-14 govuk-!-display-block">{{ daysLeft }} days left</span>
                                    {% endif %}
                                {% endif %}#}
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <strong class=" {{ tagClass }}">{{ item.status }}</strong>
                                {#{% if allData.dateString > item.dateAsString  %}
                                    <span class="govuk-!-font-size-14 red-text">Deadline<br>approaching</span>
                                {% endif %}#}
                                {#<span class="meta govuk-!-font-size-14 govuk-!-display-inline-block u-space-t5">{{ tempRandom }}% complete</span>#}
                            </td>
                        </tr>

                                {%  endif %}

                        {% endif %} {#  #}

                    {% endfor %}

                    </tbody>

                </table>

            </div>

            {#{{ components.pagination(totalItems=46,currentPage=2) }}#}
            {#{{ components.pagination(totalItems=99,itemsPerPage=10,currentPage=4) }}#}

            {#<div class="pager">
                <div class="pager__summary">
                    Showing 1 to 3 of 3 items
                </div>
                <div class="pager__controls">
                        <ul class="pager__list">
                            <li class="pager__list-item">
                                <a class="pager__list-link pager__prev govuk-link" href="#">Prev</a>
                            </li>
                            <li class="pager__list-item"><span class="pager__list-not-link">1</span></li>
                            <li class="pager__list-item">
                                <a class="pager__list-link govuk-link" href="#">2</a>
                            </li>
                            <li class="pager__list-item">
                                <a class="pager__list-link govuk-link" href="#">3</a>
                            </li>
                            <li class="pager__list-item">
                                <a class="pager__list-link pager__next govuk-link" href="#">Next</a>
                            </li>
                        </ul>
                    </div>
            </div>#}
        {%- endcall %}

    {%- endcall %}


    <style>
        mark{
            background: yellow;
            color: black;
        }
    </style>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
    {#<script>
        $(document).ready(function () {
            $('#applicationsTable').DataTable({
                paging: false,
                // ordering: false,
                // info: false,
                filter: false,
                order: [],
                columns: [
                    {
                        orderable: true
                    },
                    {
                        orderable: false
                    },
                    {
                        orderable: true
                    },
                    {
                        orderable: true
                    }
                ]
            });
        });
    </script>#}


    <script>
        function toggleVisibility(_this, id, className) {
            // event.preventDefault();
            let toggleSwitch = _this;
            let toggleItem = document.getElementById(id);
            if (hasClass(toggleItem, className)) {
                toggleSwitch.classList.add('filter__title--closed');
                toggleItem.classList.remove(className);
                toggleSwitch.setAttribute('aria-expanded', true);
            }
            else  {
                toggleSwitch.classList.remove('filter__title--closed');
                toggleItem.classList.add(className);
                toggleSwitch.setAttribute('aria-expanded', false);
            }
            // return false;
        }
        function hasClass(target, className) {
            return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
        }
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.js"></script>
    {#{% if allData.doingSearch %}#}
        <script>
            let markInstance = new Mark(document.querySelector('.context'));
            function performMark() {
                var keyword = '{{ prototypeData.searchQuery }}';
                // var options = {};
                markInstance.unmark({
                    done: function(){
                        markInstance.mark(keyword);
                    },

                });
                /*markInstance.mark('{{ allData.searchQuery }}', {
                "element": "span",
                "className": "highlight"
            });*/
            };
            window.addEventListener('load', performMark);
        </script>
    {#  {% endif %}#}

{% endblock %}

