
{% set showExternalNav = true %}
{% set activeNavItem = 'awards' %}
{% set navArea = 'home' %}
{% set applicationsLink = '#' %}
{% set homeLink = '/prototypes/post-decision/home' %}
{% set awardsLink = '/prototypes/post-decision/awards' %}
{% set reviewsLink = '#' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '#' %}

{% set pageTitle = 'Home' %}

{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set allData = allData if allData %}
{% set externalAwardPrototypeData = externalAwardPrototypeData if externalAwardPrototypeData %}
{% set userName = externalAwardPrototypeData.userName %}

{% set isAdminUser = false %}
{%  set loggedOut = false %}

{% set pageTitle = 'Awards ' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/external-award/set-up', text:'Back to award set-up overview'}] %}

{% set inviteResponse = inviteResponse if inviteResponse %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Team', caption=externalAwardPrototypeData.awardName) }}
        {%- endcall %}
    {%- endcall %}

    {#{% call components.bulmaRow(extraClass='u-space-y0') %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            <p class="govuk-body govuk-!-font-size-24">The principle investigator and lead organisation supplied these details during the assessment period.</p>
        {%- endcall %}
    {%- endcall %}#}

    {% call components.form(action='#', method='POST',name='startConfirmation') %}


        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full') %}

                {#{{ components.captionHeading(text='University of Wales', tag='h2', size='s') }}#}
                {#<p class="govuk-body govuk-!-font-size-24"><strong>University of Wales</strong> <span class="meta">(Lead)</span></p>#}

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-visually-hidden">University of Wales team members</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header _cell-max-35">Name</th>
                            <th scope="col" class="govuk-table__header _cell-max-35">Role</th>
                            <th scope="col" class="govuk-table__header _cell-max-35">Organisation</th>
                            <th scope="col" class="govuk-table__header ">Email address</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell  ">Dr. Alicia Brook</td>
                        <td class="govuk-table__cell ">Lead applicant</td>
                        <td class="govuk-table__cell ">University of Wales</td>
                        <td class="govuk-table__cell ">a.brook@wales.ac.uk</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell ">Dr. Annabel Hatt</td>
                        <td class="govuk-table__cell ">Lead applicant</td>
                        <td class="govuk-table__cell ">Manchester University</td>
                        <td class="govuk-table__cell ">a.hatt@manchester.ac.uk</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell ">Dr. Phoebe Buffay-Hannigan</td>
                        <td class="govuk-table__cell ">Co-investigator</td>
                        <td class="govuk-table__cell ">University of Wales</td>
                        <td class="govuk-table__cell ">p.buffay-hanningane@cardiffuniversity.ac.uk</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Dr. David Burson</td>
                        <td class="govuk-table__cell">Co-investigator</td>
                        <td class="govuk-table__cell ">Manchester University</td>
                        <td class="govuk-table__cell ">d.burson@manchester.ac.uk</td>
                    </tr>
                    </tbody>
                </table>

            {%- endcall %}
        {%- endcall %}

    {%- endcall %} {# end form #}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}

{% endblock %}

