{% set showExternalNav = false %}
{% set applicationsLink = '' %}
{% set homeLink = '' %}
{% set hideAccountLinks = 'true' %}
{% set altProfilePagelink = '' %}
{% set pageTitle = "Submission control" %}
{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set isAdminUser = false %}
{%  set loggedOut = true %}

{% set pageTitle = 'Applications' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Submission control') }}
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="mainContent">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full {#is-9-desktop is-9-widescreen#}') %}


                {{ components.captionHeading(text='Research office journeys', tag='h2', size='m') }}

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <a href="/prototypes/submission-control/start-email" class="govuk-link">Start email</a>
                    </li>
                    <li>
                        <a href="/prototypes/submission-control/applications-list" class="govuk-link">Applications dashboard</a>
                    </li>
                </ul>

                {{ components.captionHeading(text='Applicant journeys', tag='h2', size='m') }}

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        <a href="/prototypes/submission-control/applicant/applications-list" class="govuk-link">Applicant sends incomplete application to RO</a>
                        <br>
                        (Goes to list of applicant's various applications)
                    </li>
                    <li>
                        <a href="/prototypes/submission-control/applicant/applications-list?returned=true" class="govuk-link">Applicant is notified of RO return on applications list</a>
                        <br>
                        (Goes to list of applicant's various applications)
                    </li>
                    <li>
                        <a href="/prototypes/submission-control/application-returned-email" class="govuk-link">Applicant receives email notification from RO</a>
                        <br>
                        (Goes to email notification from RO)
                    </li>
                    <li>
                        <a href="/prototypes/submission-control/application-submitted-to-UKRI-email" class="govuk-link">Applicant receives email notification saying it has been submitted to UKRI</a>
                        <br>
                        (Goes to email notification from UKRI)
                    </li>
                </ul>

                <p class="govuk-body">
                    <a href="/prototypes/submission-control/?clearSession=true" class="govuk-link">Clear data</a>
                </p>






            {%- endcall %}
        {%- endcall %}

    </section>


{% endblock %}

{% block bodyScripts %}
{% endblock %}


