{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set showStickyNavscripts = true %}
{% set navType = 'admin' %}
{% set isAdminUser = true %}
{% set pageTitle = 'Manage invites'  + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/peer-review/applications-list', text:'Back to all applictions'}] %}


{% block content %}

    {% call components.bulmaRow(extraClass='') %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Name of the application', caption='Name of my opportunity') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='', customID='main-content') %}

        {% call components.bulmaColumnAny(size='is-full') %}

            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item ">
                        <a class="govuk-tabs__tab " href="/prototypes/peer-review/application-overview-3">Manage invites (8)</a>
                    </li>
                    <li class="govuk-tabs__list-item ">
                        <a class="govuk-tabs__tab" href="/prototypes/peer-review/manage-reviews-ready">Manage reviews (4)</a>
                    </li>
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected ">
                        <a class="govuk-tabs__tab" href="#">Manage applicant response</a>
                    </li>
                </ul>
                <a href="#" class="govuk-link sneaky-tab-link">Read application</a>
            </div>

        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}


        {% call components.bulmaColumnAny(size='is-9', customID='main-content') %}

            {% call components.form(action='#', method='POST',name='manageReviews') %}

                {{ components.captionHeading(text='Responses overview', tag='h2', size='m', id='overview') }}

                <div class="application-data u-space-b20">
                    <dl class="application-data__list">
                        <dt class="application-data__key">Applicant</dt>
                        <dd class="application-data__value">Prof. Jane Doe</dd>
                        <dt class="application-data__key">Response deadline</dt>
                        <dd class="application-data__value">14 April 2021</dd>
                        <dt class="application-data__key">Status</dt>
                        <dd class="application-data__value"><span class="status-text--green" style="font-weight:bold;">Complete</span></dd>
                    </dl>
                </div>


                {{ components.captionHeading(text='Applicant response', tag='h2', size='m', extraClass='u-space-b0') }}
                <p class="govuk-body meta">Wednesday 3 February 2021, 11:30am</p>

                <p class="govuk-body">
                    Firstname Lastname, Organisation
                </p>

                <p class="govuk-body">There are no clearly a priori specified hypotheses that correspond to an analytical plan. The outline of the statistics is
                    rather making broad references to growth models. I would expect a clearly laid out (ideally formalized) outline of at least the
                    key aspects of the plan. This would allow me to scrutinize the plans and constrain the number of analyses (it is fine to
                    declare as many as the authors like as exploratory).</p>

                <p class="govuk-body">I was concerned to see the flexibility in the analytical plan. The applicants state: “Multiple approaches will be used to
                    address the hypotheses outlined, though the rich data enables numerous other possibilities.
                    “ As I said above, this is not the right approach to hypotheses testing that should have a clear formalized analytical plan
                    corresponding to them. It is incompatible with all the concerns about replicability.</p>

                <p class="govuk-body"> in the analytical section, I was surprised to see that the applicants have not considered how to use training (discovery)
                    and replications samples to test their key hypotheses. They should at least be using a cross-validation approach to the
                    data, but ideally provide evidence of how they would utilize what they expect to be large samples.</p>
                <p class="govuk-body">
                    I was confused about the use of other datasets. In the analytical section there is no clearly spelt out plan about how the
                    other datasets (e.g. ALSPAC) will be used and for which particular questions. Also, it is not clear what analytical method—if
                    any—will be leveraged to test generalizability of the findings. It would be great if the authors did so, but it is not clear how.</p>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default12">
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default12-heading-1">
                              Extension request accepted
                            </span>
                            </h2>
                            <span class="meta">17 March 2021, 4:14pm</span>
                        </div>
                        <div id="accordion-default12-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default12-heading-1">

                            {{ components.captionHeading(text='Recipient', tag='h2', size='s', extraClass='_disabledText') }}

                            <p class="govuk-body">
                                Dr. Johann Aaron-James
                            </p>

                            {{ components.captionHeading(text='Subject', tag='h2', size='s', extraClass='_disabledText') }}

                            <p class="govuk-body">
                                Extension request accepted
                            </p>

                            {{ components.captionHeading(text='Message', tag='h2', size='s', extraClass='_disabledText') }}

                            <p class="govuk-body">
                                Your extension request for the application [name_of_application]  has been accepted.
                            </p>

                            <p class="govuk-body _disabledText">
                                Yours sincerely,
                                <br><br>
                                Firstname Lastname<br>
                                Portfolio Manager<br>
                                Name of council, part of UK Research and Innovation<br>
                                Tel: 01454 4545458<br>
                                Email: fisrtname.lastname@name-of-council.org.uk
                            </p>



                        </div>
                    </div>
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading ">
                                <span class="govuk-accordion__section-button" id="accordion-default12-heading-2">Extension request</span>
                            </h2>
                            <span class="meta">16 March 2021, 12:23pm</span>
                        </div>
                        <div id="accordion-default12-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default12-heading-2">

                            {{ components.captionHeading(text='Comments', tag='h2', size='s', extraClass='_disabledText') }}

                            <p class="govuk-body">
                                We are extremely busy with exams.
                            </p>

                            {{ components.captionHeading(text='Extension period', tag='h2', size='s', extraClass='_disabledText') }}

                            <p class="govuk-body">
                                1 week (DD MM YYYY)
                            </p>



                        </div>
                    </div>
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading ">
                                <span class="govuk-accordion__section-button" id="accordion-default12-heading-3">Invitation to respond</span>
                            </h2>
                            <span class="meta">12 March 2021, 9:54am</span>
                        </div>
                        <div id="accordion-default12-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default12-heading-3">
                            {{ components.captionHeading(text='Recipient', tag='h2', size='s', extraClass='_disabledText') }}

                            <p class="govuk-body">
                                Dr. Johann Aaron-James
                            </p>

                            {{ components.captionHeading(text='Subject', tag='h2', size='s', extraClass='_disabledText') }}

                            <p class="govuk-body">
                                Reviews of [name_of_application] are now available for you to read and respond
                            </p>

                            {{ components.captionHeading(text='Message', tag='h2', size='s', extraClass='_disabledText') }}

                            <p class="govuk-body">
                                Dear Firstname Lastname,
                                <br>The closing date to comment on the reviewers’ feedback is 4pm on DD MM YYYY. After which, your application will be passed for final assessment and decision.
                            </p>

                            <p class="govuk-body _disabledText">
                                Yours sincerely,
                                <br><br>
                                Firstname Lastname<br>
                                Portfolio Manager<br>
                                Name of council, part of UK Research and Innovation<br>
                                Tel: 01454 4545458<br>
                                Email: fisrtname.lastname@name-of-council.org.uk
                            </p>

                        </div>
                    </div>
                </div>


            {%- endcall %} {# end form #}

        {%- endcall %}

    {%- endcall %}
{% endblock %}

{% block bodyScripts %}
    <script type="text/javascript">
        /* smooth-scroll.js v1.3.1 */
        /*
        n=0,
        r=500,
        i=15,
        */
        (function(e,t){
            "use strict";
            var n=0,
                r=250,
                i=15,
                s=document.getElementsByTagName("a"),
                o;
            for(var u=0;u<s.length;u++){
                o=s[u].attributes.href===t?null:s[u].attributes.href.nodeValue.toString();
                if(o!==null&&o.length>1&&o.indexOf("#")!=-1){
                    s[u].onclick=function(){
                        var n,s=this.attributes.href.nodeValue.toString(),o=s.substr(0,s.indexOf("#")),u=s.substr(s.indexOf("#")+1);if(n=document.getElementById(u)){var l=(r-r%i)/i,c=f(),h=(a(n)-c)/l;if(e.history&&typeof e.history.pushState=="function")e.history.pushState({},t,o+"#"+u);for(var p=1;p<=l;p++){(function(){var t=h*p;setTimeout(function(){e.scrollTo(0,t+c)},i*p)})()}return false}}}}var a=function(e){var r=n*-1;while(e.offsetParent!=t&&e.offsetParent!=null){r+=e.offsetTop+(e.clientTop!=null?e.clientTop:0);e=e.offsetParent}return r};var f=function(){return e.pageYOffset!==t?e.pageYOffset:document.documentElement.scrollTop!==t?document.documentElement.scrollTop:document.body.scrollTop}})(window)
    </script>


{% endblock %}
