{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set navType = 'admin' %}
{% set isAdminUser = true %}

{% set pageTitle = 'Peer review' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds u-space-t30') %}
            {{ components.captionHeading(text='Expert review journey') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full', customID='main-content') %}

            <ol class="govuk-list govuk-list--number">

                <li>
                    <strong>Setting up an Opportunity</strong>
                    <br>
                    <a href="/prototypes/peer-review/opportunity-setup" class="govuk-link">Opportunity set-up page</a>
                    <br>
                    <hr>
                </li>

                <li>
                    <strong>Create invite list: Stating at all Opportunities list</strong>
                    <br>
                    <a href="/prototypes/peer-review/all-opportunities" class="govuk-link">All Opportunities list</a>
                    <br><br>
                </li>

                <li>
                    <strong>Create invite list:  Shortcut to all applications list </strong>
                    <br>
                    <a href="/prototypes/peer-review/applications-list" class="govuk-link">All applications list</a>
                    <br>
                    <br>
                </li>

                <li>
                    <strong>Create invite list: Shortcut to reviewer shortlist, none added</strong> Enter expert review journey as admin with reviewers added but not invited:
                    <br>
                    <a href="/prototypes/peer-review/application-overview" class="govuk-link">Manage reviewers page</a>
                    <br><br>
                </li>

                <li>
                    <strong>Create and manage invite list: Shortcut to reviewers list with various states</strong>
                    <br>
                    <a href="/prototypes/peer-review/application-overview-2" class="govuk-link">Pre-populated manage reviewers page</a>
                    <br>
                    <hr>
                </li>
                <li>
                    <strong>Manage and send reviews </strong>:
                    <br>
                    <a href="/prototypes/peer-review/application-overview-3" class="govuk-link">Complete manage reviewers page</a>
                    <br>
                </li>

            </ol>

            <hr>

            <p class="govuk-body">
                <a href="/prototypes/peer-review?clearSession=true" class="govuk-link">Clear all stored data</a>
            </p>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
{% block bodyScripts %}
    {#<script>
      Zepto(function($){
        $('#thing').on('click', function() {
        });
      });
    </script>#}
{% endblock %}


