{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set isAdminUser = true %}
{% set pageTitle = 'Review and reject deadline'  + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/peer-review/invitation-to-review-extension', text:'Back to extension request'}] %}

{% set personID = personID if personID %}
{% set personName = personName if personName %}

{% block content %}

    {% call components.form(action='/prototypes/peer-review/invitation-to-review', method='POST',name='invitationToReview') %}

        {% call components.bulmaRow(extraClass='') %}
            {% call components.bulmaColumnAny(size='is-two-thirds') %}
                {{ components.captionHeading(text='Review and reject deadline', caption='Name of the application') }}
            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-9') %}

                {{ components.captionHeading(text='Recipient', tag='h2', size='s', extraClass='disabledText') }}

                <p class="govuk-body">
                    Dr. Everrard Chumney-Warner
                </p>

                {{ components.captionHeading(text='Subject', tag='h2', size='s', extraClass='disabledText') }}

                <p class="govuk-body disabledText">
                    Declined extension request
                </p>

                {{ components.captionHeading(text='Message', tag='h2', size='s', extraClass='disabledText') }}

                <p class="govuk-body disabledText">
                    Thank you for responding to the invitation to review the application [name_of_application]
                </p>

                <p class="govuk-body disabledText">
                    We are sorry that on this occasion we are unable to extended the deadline for this review.
                </p>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-8') %}

                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                    <div class="govuk-form-group ">
                        <label class="govuk-label govuk-label--s govuk-!-font-weight-bold" for="customInviteNotes">Additional text (optional)</label>
                        <div class="govuk-hint">Add additional text that will be included in the response. </div>
                        <textarea class="govuk-textarea govuk-js-character-count" name="customInviteNotes" id="customInviteNotes" rows="8" {% if readOnly %} disabled {% endif %}></textarea>
                        <p class="govuk-body u-space-t20"><span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 250 words remaining</span></p>
                    </div>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-9') %}

                <p class="govuk-body disabledText">
                    Thank you for your continued support as an expert reviewer.
                </p>

                <p class="govuk-body disabledText">
                    Yours sincerely,
                    <br>
                    <br>
                    Firstname Lastname<br>
                    Portfolio Manager<br>
                    Name of council, part of UK Research and Innovation<br>
                    Tel: 01454 4545458<br>
                    Email: fisrtname.lastname@name-of-council.org.uk
                </p>
            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="application-controls govuk-clearfix">
                    <input type="hidden" value="{{ personID }}" name="hiddenPersonID">
                    {{ components.button(text='Reject and send notification', extraClass="application-controls__submit")}}

                    <span class="sub-button">
                        {{ components.link(text='Cancel', url='/prototypes/peer-review/application-overview-2')}}
                    </span>
                </div>

            {%- endcall %}

        {%- endcall %}


    {%- endcall %}

{% endblock %}

{% block bodyScripts %}
    <script src="https://cdn.tiny.cloud/1/phk3goz7y02jvj65em0m21azcq1qr7abduimch9isoe4jkor/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        const counteroutputFoot = document.getElementById('wordCount');
        let words = 0;
        const limit = 250;
        let tinyMCEWordCount;

        tinymce.init({
            selector: '#customInviteNotes',
            height: 240,
            {% if readOnly %} readonly : 1, {% endif %}
            plugins: [
                'advlist autolink lists link image preview anchor',
                'media table paste  wordcount'
            ],
            setup: function(editor) {

                editor.on('keyup', function(e) {
                    tinyMCEWordCount = parseInt(document.getElementsByClassName('tox-statusbar__wordcount')[0].innerHTML.split([' ']));
                    console.log('tinyMCEWordCount = ' + tinyMCEWordCount);
                    words = tinyMCEWordCount;
                    let remainder = limit - words;
                    if (words < limit) {
                        counteroutputFoot.innerHTML = 'You have ' + remainder + ' words remaining';
                    } else {
                        let overCount = words - limit;
                        counteroutputFoot.innerHTML = '<span style="font-weight:700;color:red">You have ' +  overCount + ' words too many</span>';
                    }
                });

                editor.on('init', function(e) {
                    setTimeout(function(){
                        tinyMCEWordCount = parseInt(document.getElementsByClassName('tox-statusbar__wordcount')[0].innerHTML.split([' ']));
                        console.log('tinyMCEWordCount = ' + tinyMCEWordCount);
                        words = tinyMCEWordCount;
                        let remainder = limit - words;
                        counteroutputFoot.innerHTML = 'You have ' + remainder + ' words remaining';
                    }, 500);
                });
            },
            toolbar: 'formatselect | bold italic | bullist numlist | align | indent outdent | link | table |',
            content_css: [
                '//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i',
                '/stylesheets/tinymce.css'
            ],
            menubar: false,
        });
    </script>
{% endblock %}
