{{ components.captionHeading(text='Bio-detoxification of Ricin in castor bean', tag='h2', size='l', id='top', extraClass='serif') }}

<p class="govuk-body">
    <img src="/images/ufs/application_image1.png" alt="hand holding some beans">
</p>

{{ components.captionHeading(text='1. Case for support', tag='h2', size='m', id='case', extraClass='serif') }}



<details class="govuk-details govuk-details--boxed u-space-t20 js-only--block" data-module="govuk-details" role="group">
    <summary class="govuk-details__summary print-hide" role="button" aria-controls="" aria-expanded="false">
        <span class="govuk-details__summary-text">View application question</span>
    </summary>
    <div class="govuk-details__text" id="" aria-hidden="true">

        {{ components.captionHeading(text='Application question', tag='h3', size='s', extraClass='print-show') }}

        <p class="govuk-body"><strong>Describe your project outline and explain why it deserves funding</strong>
            {#<br>
            <span class="meta">We use this section to assign experts to assess your application.</span>#}
        </p>
        <p class="govuk-body">Give full details of innovation area, and explain how you propose to tackle the project giving full scientific reasoning and procedural details. This will help Innovate UK select suitable assessors for your application.</p>
    </div>
</details>

{{ components.captionHeading(text='1.1 Importance', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    The PI proposes a high-impact collaborative research project to develop new inhibitors for ribosome inactivating proteins (RIPs), such as ricin and Shiga toxin. Ricin toxin, produced by the castor bean plant, has a
    nefarious past. Ricin is a well-known homicidal poison and has been used in several bioterrorist attacks. Shiga toxin is a deadly product of  Escherichia coli. RIPs are RNA  that enzymatically remove specific purine residues from the universally conserved sarin/ricin loop (S/R loop) of large ribosomal RNA, causing cellular death. There are no effective pharmaceuticals for either ricin or Shiga toxin poisoning. The PI proposes using a viral protein (VPg) from turnip mosaic virus that we have shown to inhibit ricin activity in vitro. The goals of this proposal are: 1) Establish conditions for VPg-ricin complex formation and the rates of VPg-ricin interactions; 2) Determine minimum VPg peptide that effectively inhibits ricin and Shiga toxins; and 3) Optimize conditions to enhance inhibition of these toxic proteins.
</p>

{{ components.captionHeading(text='1.2 Scientific potential', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    Ricin and related Shiga toxins are potentially lethal poisons, which as of yet, have no effective pharmaceutical treatments or preventions. The global problem of these poisons is an increasing threat to public health, directly relating to the mission of the National Institutes of Allergy and Infectious Diseases.
</p>

<p class="govuk-body">
    <img src="/images/ufs/application_diagram1.png" alt="hand holding some beans">
</p>

<p class="govuk-body serif">
    There are no effective pharmaceuticals for either ricin or Shiga toxin poisoning. The PI proposes using a viral protein (VPg) from turnip mosaic virus that we have shown to inhibit ricin activity in vitro. The goals of this proposal are: 1) Establish conditions for VPg-ricin complex formation and the rates of VPg-ricin interactions;
</p>

<p class="govuk-body serif">
    Ricin, astoundingly easily acquired, is an ideal toxin for bioterrorism, while the widespread transmission of E. coli poisoning is responsible for many severe human illnesses and several fatalities. In the future, it may be possible to utilize these toxins for their public health benefit, by repurposing them to attack specific human and animal diseases.
</p>

<p class="govuk-body">
    <img src="/images/ufs/application_graph1.png" alt="hand holding some beans">
</p>

<p class="govuk-body serif">
    Ricin toxin, produced by the castor bean plant, has a nefarious past. Ricin is a well-known homicidal poison and has been used in several bioterrorist attacks. Shiga toxin is a deadly product of  Escherichia coli. RIPs are RNA  that enzymatically remove specific purine residues from the universally conserved sarin/ricin loop (S/R loop) of large ribosomal RNA, causing cellular death. There are no effective pharmaceuticals for either ricin or Shiga toxin poisoning. The PI proposes using a viral protein (VPg) from turnip mosaic virus that we have shown to inhibit ricin activity in vitro. The goals of this proposal are: 1) Establish conditions for VPg-ricin complex formation and the rates of VPg-ricin interactions; 2) Determine minimum VPg peptide that effectively inhibits ricin and Shiga toxins; and 3) Optimize conditions to enhance inhibition of these toxic proteins.
</p>

<p class="govuk-body serif">
    There are no effective pharmaceuticals for either ricin or Shiga toxin poisoning. The PI proposes using a viral protein (VPg) from turnip mosaic virus that we have shown to inhibit ricin activity in vitro. The goals of this proposal are: 1) Establish conditions for VPg-ricin complex formation and the rates of VPg-ricin interactions; 2) Determine minimum VPg peptide that effectively inhibits ricin and Shiga toxins; and 3) Optimize conditions to enhance inhibition of these toxic proteins.
</p>

{{ components.captionHeading(text='1.3 Ethics and research governance', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    Ricin and related Shiga toxins are potentially lethal poisons, which as of yet, have no effective pharmaceutical treatments or preventions. The global problem of these poisons is an increasing threat to public health, directly relating to the mission of the National Institutes of Allergy and Infectious Diseases. Ricin, astoundingly easily acquired, is an ideal toxin for bioterrorism, while the widespread transmission of E. coli poisoning is responsible for many severe human illnesses and several fatalities.
</p>

<p class="govuk-body">
    <img src="/images/ufs/application_diagram2.png" alt="hand holding some beans">
</p>

{{ components.captionHeading(text='1.4 Exploitation and dissemination', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    Ricin and related Shiga toxins are potentially lethal poisons, which as of yet, have no effective pharmaceutical treatments or preventions. The global problem of these poisons is an increasing threat to public health, directly relating to the mission of the National Institutes of Allergy and Infectious Diseases. Ricin, astoundingly easily acquired, is an ideal toxin for bioterrorism, while the widespread transmission of E. coli poisoning is responsible for many severe human illnesses and several fatalities.
</p>


<p class="govuk-body serif">
    Shiga toxins are potentially lethal poisons, which as of yet, have no effective pharmaceutical treatments or preventions. The global problem of these poisons is an increasing threat to public health, directly relating to the mission of the National Institutes of Allergy and Infectious Diseases. Ricin, astoundingly easily acquired, is an ideal toxin for bioterrorism, while the widespread transmission of E. coli poisoning is responsible for many severe human illnesses and several fatalities. In the last year, John Jay had a total enrollment of 12,969 undergraduates and 1,763 graduate students. Of the 14,732 enrolled students, 20% identify as African American/Black and nearly 41% identify as Hispanic. Nearly 57% of the student body is female. (John Jay College, Office of Institutional Research, Fall 2015).
</p>

<div class="u-align-right">
    <a class="govuk-link canScroll" href="#main-content">Top of page</a>
</div>

{{ components.captionHeading(text='2. Capability to deliver', tag='h2', size='m', id='capability', extraClass='serif') }}
<details class="govuk-details govuk-details--boxed u-space-t20 js-only--block" data-module="govuk-details" role="group">
    <summary class="govuk-details__summary print-hide" role="button" aria-controls="" aria-expanded="false">
        <span class="govuk-details__summary-text">View application question</span>
    </summary>
    <div class="govuk-details__text" id="" aria-hidden="true">
        {{ components.captionHeading(text='Application question', tag='h3', size='s', extraClass='print-show') }}
        <p class="govuk-body"><strong>Describe how you plan to deliver the project</strong></p>
        <p class="govuk-body">Provide details of key team members with their relevant experience and list of recent publications.</p>
    </div>
</details>
{{ components.captionHeading(text='2.1 Nominated team', tag='h3', size='s', extraClass='serif') }}
<p class="govuk-body">
    <strong>Principal investigator:</strong> Prof Giles Dexter, Coventry University<br>
    <strong>Co-investigator:</strong> Prof Ian Charles,  Coventry University<br>
    <strong>Researcher:</strong> Dr Maxwell Peterson,  Coventry University<br>
</p>

<div class="u-align-right">
    <a class="govuk-link canScroll" href="#main-content">Top of page</a>
</div>

{{ components.captionHeading(text='2.2 Relevant experience', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    Professor Giles Dexter’s work on ribosome inactivating proteins (RIPs), such as ricin and Shiga toxin is well documented. He was the first to discover the relationship between Ricin toxin, produced by the castor bean plant, and the nervous system. Ricin is a well-known homicidal poison and has been used in several bioterrorist attacks. Shiga toxins are potentially lethal poisons, which as of yet, have no effective pharmaceutical treatments or preventions.
</p>

<p class="govuk-body serif">The global problem of these poisons is an increasing threat to public health, directly relating to the mission of the National Institutes of Allergy and Infectious Diseases. Ricin, astoundingly easily acquired, is an ideal toxin for bioterrorism, while the widespread transmission of E. coli poisoning is responsible for many severe human illnesses and several fatalities. In the last year, John Jay had a total enrollment of 12,969 undergraduates and 1,763 graduate students. Of the 14,732 enrolled students, 20% identify as African American/Black and nearly 41% identify as Hispanic. Nearly 57% of the student body is female. (John Jay College, Office of Institutional Research, Fall 2015).</p>

{{ components.captionHeading(text='2.3 Relevant publications', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">Dexter,G, 2019, <a href="#"> ‘The dynamic ATP-driven mechanism of bacterial protein translocation, and the critical role of phospholipids’. Frontiers in Microbiology</a>.</p>

<p class="govuk-body serif">Dexter,G, 2018, <a href="#">‘Ricin and Shiga different approachess’. Frontiers in Microbiology</a>.</p>

{{ components.captionHeading(text='3. Pathways to impact ', tag='h2', size='m', id='pathways', extraClass='serif') }}
<details class="govuk-details govuk-details--boxed u-space-t20 js-only--block" data-module="govuk-details" role="group">
    <summary class="govuk-details__summary print-hide" role="button" aria-controls="" aria-expanded="false">
        <span class="govuk-details__summary-text">View application question</span>
    </summary>
    <div class="govuk-details__text" id="" aria-hidden="true">
        {{ components.captionHeading(text='Application question', tag='h3', size='s', extraClass='print-show') }}
        <p class="govuk-body"><strong>Outline your project's impact in this field</strong></p>
        <p class="govuk-body">Give details of how you plan to revolutionise this field with your research.</p>
    </div>
</details>
<p class="govuk-body serif">
    Mauris scelerisque rutrum nibh non malesuada. Suspendisse potenti. Aliquam vestibulum ut orci ac efficitur. Etiam vitae ex bibendum diam tincidunt vulputate. Nullam vel pretium lorem. Nam suscipit lacus nec nibh hendrerit gravida. In euismod lacinia tellus et varius. Sed a lacus id ante convallis tempor ac sed justo. Morbi ac turpis fringilla, tincidunt justo sit amet, pulvinar tellus.
</p>

<p class="govuk-body serif">Cras quis volutpat odio, gravida luctus metus. Integer lacinia malesuada eros ut gravida. Donec porta, libero vel gravida gravida, dui est imperdiet massa, quis pulvinar est arcu at augue. Vivamus est dui, iaculis eget placerat sit amet, viverra eget ligula. In rutrum orci id sapien ullamcorper, ut egestas sem luctus. Aenean malesuada posuere sem, et commodo massa fringilla quis. Curabitur sapien sem, rhoncus vel libero sed, porta hendrerit massa. In ex ligula, condimentum ac viverra sit amet, maximus a nulla.
</p>

<p class="govuk-body serif">    Suspendisse blandit ultricies vestibulum. Curabitur mollis tempus tempor. Nullam malesuada ipsum lacus, non posuere sem sagittis vel. Integer porttitor, lacus ut ultricies cursus, arcu augue auctor tellus, quis viverra ante tellus ac dui. Etiam sed velit non quam imperdiet interdum. Nam tristique, augue eget ultrices sodales, dolor orci condimentum sem, in eleifend diam ipsum at magna. Maecenas hendrerit, eros quis dignissim pretium, diam orci rutrum ipsum, a pharetra ligula orci non risus. Pellentesque sit amet nulla feugiat, posuere enim ac, convallis quam. Nulla hendrerit neque vitae enim rhoncus semper. Nunc nec facilisis enim. Maecenas cursus vulputate condimentum. Donec egestas faucibus dui. Curabitur non elit eget dui hendrerit tempor. Cras pellentesque et elit id faucibus. Pellentesque eleifend vel enim et sagittis.
</p>

<div class="u-align-right">
    <a class="govuk-link canScroll" href="#main-content">Top of page</a>
</div>

{{ components.captionHeading(text='4. Data impact statement', tag='h2', size='m', id='data', extraClass='serif') }}

<details class="govuk-details govuk-details--boxed u-space-t20 js-only--block" data-module="govuk-details" role="group">
    <summary class="govuk-details__summary print-hide" role="button" aria-controls="" aria-expanded="false">
        <span class="govuk-details__summary-text">View application question</span>
    </summary>
    <div class="govuk-details__text" id="" aria-hidden="true">
        {{ components.captionHeading(text='Application question', tag='h3', size='s', extraClass='print-show') }}
        <p class="govuk-body"><strong>Give details of your data impact</strong></p>
        <p class="govuk-body">Outline the implications of your research in terms of impact on existing data.</p>
    </div>
</details>

<p class="govuk-body serif">Cras quis volutpat odio, gravida luctus metus. Integer lacinia malesuada eros ut gravida. Donec porta, libero vel gravida gravida, dui est imperdiet massa, quis pulvinar est arcu at augue. Vivamus est dui, iaculis eget placerat sit amet, viverra eget ligula. In rutrum orci id sapien ullamcorper, ut egestas sem luctus. Aenean malesuada posuere sem, et commodo massa fringilla quis. Curabitur sapien sem, rhoncus vel libero sed, porta hendrerit massa. In ex ligula, condimentum ac viverra sit amet, maximus a nulla.
</p>

<p class="govuk-body serif">    Suspendisse blandit ultricies vestibulum. Curabitur mollis tempus tempor. Nullam malesuada ipsum lacus, non posuere sem sagittis vel. Integer porttitor, lacus ut ultricies cursus, arcu augue auctor tellus, quis viverra ante tellus ac dui. Etiam sed velit non quam imperdiet interdum. Nam tristique, augue eget ultrices sodales, dolor orci condimentum sem, in eleifend diam ipsum at magna. Maecenas hendrerit, eros quis dignissim pretium, diam orci rutrum ipsum, a pharetra ligula orci non risus. Pellentesque sit amet nulla feugiat, posuere enim ac, convallis quam. Nulla hendrerit neque vitae enim rhoncus semper. Nunc nec facilisis enim. Maecenas cursus vulputate condimentum. Donec egestas faucibus dui. Curabitur non elit eget dui hendrerit tempor. Cras pellentesque et elit id faucibus. Pellentesque eleifend vel enim et sagittis.
</p>

{{ components.captionHeading(text='5. Finances', tag='h2', size='m', id='finances', extraClass='serif') }}

<details class="govuk-details govuk-details--boxed u-space-t20 js-only--block" data-module="govuk-details" role="group">
    <summary class="govuk-details__summary print-hide" role="button" aria-controls="" aria-expanded="false">
        <span class="govuk-details__summary-text">View application question</span>
    </summary>
    <div class="govuk-details__text" id="" aria-hidden="true">
        {{ components.captionHeading(text='Application question', tag='h3', size='s', extraClass='print-show') }}
        <p class="govuk-body"><strong>Finances and costs</strong></p>
        <p class="govuk-body">Give a full-costed outline of your project including all costs incurred or associated with your project of over the entirety of its lifespan.</p>
    </div>
</details>

{{ components.captionHeading(text='5.1 Financial summary', tag='h3', size='s', extraClass='serif') }}
<table class="govuk-table">
    <thead>
    <tr>
        <th class="govuk-table__header">Funding type</th>
        <th class="govuk-table__header govuk-table__header--numeric">Full economic<br>
            cost (£)</th>
        <th class="govuk-table__header govuk-table__header--numeric">Funding<br>
            percentage (%)</th>
        <th class="govuk-table__header govuk-table__header--numeric">Funding<br>
            applied for (£)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="govuk-table__cell govuk-table__cell--middle">Directly incurred</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            120,000
        </td>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric">80</td>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric"><span id="incurredContribution">£96000</span></td>
    </tr>
    <tr>
        <td class="govuk-table__cell govuk-table__cell--middle">Directly allocated</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            98,000
        </td>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric">80</td>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric"><span id="alllocatedContribution">£78400</span></td>
    </tr>
    <tr>
        <td class="govuk-table__cell govuk-table__cell--middle">Indirect costs</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            14,500
        </td>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric">80</td>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric"><span id="indirectContribution">£11600</span></td>
    </tr>
    <tr>
        <td class="govuk-table__cell govuk-table__cell--middle">Exceptions</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            64,000
        </td>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric">100</td>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric"><span id="exceptionsContribution">£64000</span></td>
    </tr>
    <tr>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--borderless u-pad-t20"><strong>Total cost</strong></td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--borderless u-pad-t20"><strong><span id="totalCost">£296500</span></strong></td>
        <td class="" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--borderless"><strong>Contribution from applying organisation</strong></td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--borderless"><strong><span id="totalContribution">£46500</span></strong></td>
        <td class="" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--borderless" colspan="2">
            <hr class="section-break--table">
        </td>
        <td class="" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--borderless"><strong>Total funding applied for</strong></td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--borderless"><strong><span id="totalRequested">£250000</span></strong></td>
        <td class="" colspan="2">&nbsp;</td>
    </tr>
    </tbody>
</table>

{{ components.captionHeading(text='5.2 Financial summary', tag='h3', size='s', extraClass='serif') }}

<p class="govuk-body serif">
    In a velit quis dolor dictum rutrum. Donec gravida velit vitae justo imperdiet rhoncus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent ac leo tortor. Sed varius leo et eros maximus hendrerit. Nulla condimentum et nibh ac molestie. Suspendisse blandit dictum neque ut pulvinar. Sed aliquam, lorem nec laoreet pulvinar, mi lorem porttitor nisl, ut convallis felis mauris sed justo. Nam dictum lorem nulla, in tincidunt urna facilisis quis. Aliquam ornare risus eget eros fermentum viverra. Sed hendrerit urna non massa porttitor pulvinar. Nam nec porttitor nisi. Duis malesuada turpis ac libero blandit, quis lacinia urna efficitur. Phasellus sed quam sed leo ullamcorper ullamcorper ac at ex. Maecenas felis leo, sagittis in pharetra at, feugiat in sem. Vestibulum tempus erat vel tellus iaculis, quis mollis ante accumsan.
</p>

{{ components.captionHeading(text='6. Letters of support', tag='h2', size='m', id='letters', extraClass='serif') }}

<details class="govuk-details govuk-details--boxed u-space-t20 js-only--block" data-module="govuk-details" role="group">
    <summary class="govuk-details__summary print-hide" role="button" aria-controls="" aria-expanded="false">
        <span class="govuk-details__summary-text">View application question</span>
    </summary>
    <div class="govuk-details__text" id="" aria-hidden="true">
        {{ components.captionHeading(text='Application question', tag='h3', size='s', extraClass='print-show') }}
        <p class="govuk-body"><strong>Provide letters of support</strong></p>
        <p class="govuk-body">Upload letters of support from academic peers or relevant parties that have experience of working in this field and of working with you.</p>
    </div>
</details>

<p class="govuk-body serif">
    Please see below for the our letters of support from the following academics: Prof Annie Robin, Prof Anthony Readhead, Prof John Curtin
</p>

<div class="application-items u-space-b30">

    <div class="application-item application-item--incomplete">
        <div class="application-item__contents govuk-clearfix" style="padding-left:50px;background-image: url(/images/svg/pdf_icon.svg); background-repeat:no-repeat;background-size: 32px; background-position: 10px 50%;">
            <div class="application-item__left" style="width:100%;">
                {#<img src="/images/svg/pdf.svg" style="width:40px;">#}
                <a href="#" class="govuk-link  ">Letter of support: Prof Annie Robin</a><br>
                <span class="govuk-!-font-size-14">File: Letter_Annie_Robin.pdf (Size 2.4mb)</span>

            </div>
        </div>
    </div>

    <div class="application-item application-item--incomplete">
        <div class="application-item__contents govuk-clearfix" style="padding-left:50px;background-image: url(/images/svg/pdf_icon.svg); background-repeat:no-repeat;background-size: 32px; background-position: 10px 50%;">
            <div class="application-item__left" style="width:100%;">
                {#<img src="/images/svg/pdf.svg" style="width:40px;">#}
                <a href="#" class="govuk-link  ">Letter of support: Prof Anthony Readhead</a><br>
                <span class="govuk-!-font-size-14">File: Letter-Prof-Anthony-Readhead.pdf (Size 1.2mb)</span>

            </div>
        </div>
    </div>

    <div class="application-item application-item--incomplete">
        <div class="application-item__contents govuk-clearfix" style="padding-left:50px;background-image: url(/images/svg/pdf_icon.svg); background-repeat:no-repeat;background-size: 32px; background-position: 10px 50%;">
            <div class="application-item__left" style="width:100%;">
                {#<img src="/images/svg/pdf.svg" style="width:40px;">#}
                <a href="#" class="govuk-link  ">Letter of support: Letter of support: Prof John Curtin</a><br>
                <span class="govuk-!-font-size-14">File: letter_curtin.pdf (Size 2.1mb)</span>

            </div>
        </div>
    </div>

</div>

<div class="u-align-right">
    <a class="govuk-link canScroll" href="#main-content">Top of page</a>
</div>
<hr>


<script>
    // open closed details elements for printing
    window.addEventListener('beforeprint',() => {
        const allDetails = document.body.querySelectorAll('details');
        for(let i=0; i<allDetails.length; i++) {
            if(allDetails[i].open){
                allDetails[i].dataset.open = '1';
            }
            else{
                allDetails[i].setAttribute('open', '');
            }
        }
    });
    // after printing close details elements not opened before
    window.addEventListener('afterprint',() => {
        const allDetails = document.body.querySelectorAll('details');
        for(let i=0; i<allDetails.length; i++) {
            if(allDetails[i].dataset.open) {
                allDetails[i].dataset.open = '';
            }
            else {
                allDetails[i].removeAttribute('open');
            }
        }
    });
</script>
